<mat-toolbar>
    <h4>
        {{ 'MODULES.MODULE-TRAIN.TITLE' | translate }}:
        <strong>{{ title }}</strong>
    </h4>
</mat-toolbar>

<form class="example-form" [formGroup]="showHelpForm" ngNativeValidate>
    <div class="breadcrumbs-and-help-container">
        <xng-breadcrumb class="mb-3"></xng-breadcrumb>
        <mat-slide-toggle
            color="accent"
            formControlName="showHelpToggleButton"
            #showHelpToggle
            (change)="showHelpButtonChange($event)"
        >
            Show help
        </mat-slide-toggle>
    </div>
</form>

<mat-stepper linear #stepper>
    <mat-step [stepControl]="step1Form">
        <ng-template matStepLabel>{{ step1Title | translate }}</ng-template>
        <ng-container [ngTemplateOutlet]="step1"></ng-container>
        <div class="next-back-buttons">
            <button
                mat-raised-button
                class="mr-2"
                (click)="submitTrainingRequest()"
                [disabled]="!checkFormValidity(step1Form)"
            >
                {{ 'GENERAL-BUTTONS.QUICK-SUBMIT' | translate }}
            </button>
            <button
                type="button"
                mat-raised-button
                matStepperNext
                color="accent"
                [disabled]="!step1Form.valid"
            >
                {{ 'GENERAL-BUTTONS.NEXT' | translate }}
            </button>
        </div>
    </mat-step>
    <mat-step [stepControl]="step2Form">
        <ng-template matStepLabel>{{ step2Title | translate }}</ng-template>
        <ng-container [ngTemplateOutlet]="step2"></ng-container>
        <div class="next-back-buttons">
            <button mat-raised-button matStepperPrevious class="mr-2">
                {{ 'GENERAL-BUTTONS.BACK' | translate }}
            </button>

            <button mat-raised-button matStepperNext color="accent">
                {{ 'GENERAL-BUTTONS.NEXT' | translate }}
            </button>
        </div>
    </mat-step>
    <mat-step [stepControl]="step3Form">
        <ng-template matStepLabel>{{ step3Title | translate }}</ng-template>
        <ng-container [ngTemplateOutlet]="step3"></ng-container>
        <div class="next-back-buttons">
            <button mat-raised-button matStepperPrevious class="mr-2">
                {{ 'GENERAL-BUTTONS.BACK' | translate }}
            </button>
            <button
                mat-raised-button
                color="accent"
                (click)="submitTrainingRequest()"
            >
                {{ 'GENERAL-BUTTONS.SUBMIT' | translate }}
            </button>
        </div>
    </mat-step>
</mat-stepper>
