.title {
    white-space: normal;
    text-align: center;
}

.next-back-buttons {
    display: flex;
    justify-content: flex-end;
}

.next-back-buttons-mobile {
    display: flex;
    justify-content: space-evenly;
}

.arrow-back-button {
    position: relative;
    left: -12px;
}

.breadcrumbs-and-help-container {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
}

.mobile-breadcrumb {
    padding-top: 10px;
    font-size: 0.83em;
    display: flex;
    justify-content: center;
}

::ng-deep .child-form-container-show-help form {
    min-height: 575px;
}
