<div class="filter-container">
    <mat-form-field subscriptSizing="dynamic" class="filter-selector">
        <mat-label>
            {{ 'MODULES.MODULE-DETAIL.LIBRARIES' | translate }}
        </mat-label>
        <span matPrefix class="selector-icon material-symbols-outlined">
            bookmark
        </span>

        <mat-select
            [(ngModel)]="selectedLibraries"
            (selectionChange)="librariesChange()"
            multiple
        >
            <mat-select-trigger>
                {{ selectedLibraries[0] || '' }}
                <span
                    *ngIf="(selectedLibraries.length || 0) > 1"
                    class="additional-selection"
                >
                    (+{{ (selectedLibraries.length || 0) - 1 }}
                    {{ selectedLibraries.length === 2 ? 'other' : 'others' }})
                </span>
            </mat-select-trigger>

            <mat-option *ngFor="let library of libraries" [value]="library">{{
                library
            }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field subscriptSizing="dynamic" class="filter-selector">
        <mat-label> {{ 'MODULES.MODULE-DETAIL.TASKS' | translate }} </mat-label>
        <span matPrefix class="selector-icon material-symbols-outlined">
            task_alt
        </span>
        <mat-select
            [(ngModel)]="selectedTasks"
            (selectionChange)="tasksChange()"
            multiple
        >
            <mat-select-trigger>
                {{ selectedTasks[0] || '' }}
                <span
                    *ngIf="(selectedTasks.length || 0) > 1"
                    class="additional-selection"
                >
                    (+{{ (selectedTasks.length || 0) - 1 }}
                    {{ selectedTasks.length === 2 ? 'other' : 'others' }})
                </span>
            </mat-select-trigger>

            <mat-option *ngFor="let task of tasks" [value]="task">{{
                task
            }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field subscriptSizing="dynamic" class="filter-selector">
        <mat-label>
            {{ 'MODULES.MODULE-DETAIL.CATEGORIES' | translate }}
        </mat-label>
        <span matPrefix class="selector-icon material-symbols-outlined">
            category
        </span>
        <mat-select
            [(ngModel)]="selectedCategories"
            (selectionChange)="categoriesChange()"
            multiple
        >
            <mat-select-trigger>
                {{ selectedCategories[0] || '' }}
                <span
                    *ngIf="(selectedCategories.length || 0) > 1"
                    class="additional-selection"
                >
                    (+{{ (selectedCategories.length || 0) - 1 }}
                    {{ selectedCategories.length === 2 ? 'other' : 'others' }})
                </span>
            </mat-select-trigger>

            <mat-option
                *ngFor="let category of categories"
                [value]="category"
                >{{ category }}</mat-option
            >
        </mat-select>
    </mat-form-field>

    <mat-form-field subscriptSizing="dynamic" class="filter-selector">
        <mat-label>
            {{ 'MODULES.MODULE-DETAIL.DATA-TYPES' | translate }}
        </mat-label>
        <span matPrefix class="selector-icon material-symbols-outlined">
            dataset
        </span>
        <mat-select
            [(ngModel)]="selectedDatatypes"
            (selectionChange)="datatypesChange()"
            multiple
        >
            <mat-select-trigger>
                {{ selectedDatatypes[0] || '' }}
                <span
                    *ngIf="(selectedDatatypes.length || 0) > 1"
                    class="additional-selection"
                >
                    (+{{ (selectedDatatypes.length || 0) - 1 }}
                    {{ selectedDatatypes.length === 2 ? 'other' : 'others' }})
                </span>
            </mat-select-trigger>

            <mat-option *ngFor="let datatype of datatypes" [value]="datatype">{{
                datatype
            }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field subscriptSizing="dynamic" class="filter-selector">
        <mat-label>{{ 'MODULES.MODULE-DETAIL.TAGS' | translate }}</mat-label>
        <span matPrefix class="selector-icon material-symbols-outlined">
            sell
        </span>

        <mat-select
            [(ngModel)]="selectedTags"
            multiple
            (selectionChange)="tagsChange()"
        >
            <mat-select-trigger>
                {{ selectedTags[0] || '' }}
                <span
                    *ngIf="(selectedTags.length || 0) > 1"
                    class="additional-selection"
                >
                    (+{{ (selectedTags.length || 0) - 1 }}
                    {{ selectedTags.length === 2 ? 'other' : 'others' }})
                </span>
            </mat-select-trigger>

            <mat-form-field class="filter-selector full-width">
                <mat-label>Search</mat-label>

                <input
                    matInput
                    [(ngModel)]="searchTerm"
                    placeholder="Enter text to search"
                    (input)="filterTags()"
                />
            </mat-form-field>

            <mat-option *ngFor="let tag of filteredTags" [value]="tag">
                {{ tag }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="filter-buttons">
        <button
            class="button"
            mat-fab
            extended
            color="accent"
            [disabled]="
                filterGroup.categories.length == 0 &&
                filterGroup.datatypes.length == 0 &&
                filterGroup.libraries.length == 0 &&
                filterGroup.tags.length == 0 &&
                filterGroup.tasks.length == 0
            "
            (click)="addFilter()"
        >
            Add filter
        </button>
        <button
            class="custom-clear-button"
            matTooltip=" {{
                'MODULES.FILTERS.CLEAR-FILTERS' | translate | translate
            }}"
            mat-mini-fab
            [disabled]="
                filterGroup.categories.length == 0 &&
                filterGroup.datatypes.length == 0 &&
                filterGroup.libraries.length == 0 &&
                filterGroup.tags.length == 0 &&
                filterGroup.tasks.length == 0
            "
            (click)="resetFilters()"
        >
            <mat-icon>mop</mat-icon>
        </button>
    </div>
</div>
