<app-ui-card [accentColor]="'var(--color-primary)'" (click)="openModule()">
    <header class="module-card__header">
        <span class="module-card__title">
            @if (typeIcon.includes('.png')) {
                <img
                    class="module-card__icon custom-logo"
                    [src]="typeIcon"
                    alt="Tool Logo"
                />
            } @else {
                <mat-icon class="module-card__icon">{{ typeIcon }}</mat-icon>
            }
            <h3 class="module-card__title">{{ module.title }}</h3>
        </span>
    </header>

    <div class="module-card__body">
        <p>{{ module.summary }}</p>
    </div>

    <footer class="module-card__footer">
        @if (module.license) {
            <app-ui-chip
                variant="default-solid"
                icon="license"
                [text]="module.license"
                [tooltip]="'CATALOG.DETAIL.LICENSE' | translate"
            ></app-ui-chip>
        }
    </footer>
</app-ui-card>
