.details-grid {
    display: grid;
    grid-template-rows: 1fr;
}

.details-flex {
    display: flex;
    flex-direction: column;
}

.deployment-detail-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.deployment-detail-container-mobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.token-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mat-mdc-card-header {
    display: block;
    padding: 16px 16px 0;
}

.full-width {
    width: 100%;
}

.mcd-list {
    padding: 0 !important;
}

.service-detail-title {
    display: flex;
    justify-content: space-between;
}

.card-content-mobile {
    overflow: scroll;
    max-height: 450px;
}

.card-content {
    overflow-y: scroll;
    max-height: 650px;
}

.title-with-button {
    display: flex;
    align-items: center;
}
