<mat-toolbar class="mb-3">
    <span class="aligned-with-icon">
        {{ 'DASHBOARD.TITLE' | translate }}
        <mat-icon>dashboard</mat-icon>
    </span>
</mat-toolbar>

<ng-template #loading>
    <div class="spinner">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </div>
</ng-template>

<ng-container *ngIf="!userStatsLoading && !clusterStatsLoading; else loading">
    <mat-tab-group mat-stretch-tabs="false" class="main-tabs">
        <mat-tab label="Tab 1">
            <mat-toolbar class="mb-3">
                <span>
                    {{ 'DASHBOARD.CLUSTER' | translate }}
                </span>
            </mat-toolbar>
            <app-stats-container
                [usedCpuNum]="this.cpuNumClusterAgg"
                [totalCpuNum]="this.cpuNumClusterTotal"
                [usedMemory]="this.memoryMBClusterAgg"
                [totalMemory]="this.memoryMBClusterTotal"
                [usedDisk]="this.diskMBClusterAgg"
                [totalDisk]="this.diskMBClusterTotal"
                [usedGpuNum]="this.gpuNumClusterAgg"
                [totalGpuNum]="this.gpuNumClusterTotal"
            ></app-stats-container>

            <mat-toolbar class="mb-3">
                <span>
                    {{ 'DASHBOARD.USERS' | translate }}
                </span>
            </mat-toolbar>
            <app-stats-container
                [usedCpuNum]="this.cpuNumUserAgg"
                [totalCpuNum]="this.cpuNumNamespaceAgg"
                [usedCpuMhz]="this.cpuMHzUserAgg"
                [totalCpuMhz]="this.cpuMHzNamespaceAgg"
                [usedMemory]="this.memoryMBUserAgg"
                [totalMemory]="this.memoryMBNamespaceAgg"
                [usedDisk]="this.diskMBUserAgg"
                [totalDisk]="this.diskMBNamespaceAgg"
                [usedGpuNum]="this.gpuNumUserAgg"
                [totalGpuNum]="this.gpuNumNamespaceAgg"
            ></app-stats-container>

            <mat-tab label="Tab 2">
                <ng-template #loading>
                    <div class="spinner">
                        <mat-progress-spinner
                            color="primary"
                            mode="indeterminate"
                        >
                        </mat-progress-spinner>
                    </div>
                </ng-template>

                <mat-tab-group mat-stretch-tabs="true" class="graphs-tab-group">
                    <mat-tab
                        label="{{
                            'DASHBOARD.STATS-VALUES.CPU-FREQ' | translate
                        }}"
                    >
                        <app-time-series-chart
                            id="cpuMhzDataChart"
                            [datesInput]="dates"
                            [dataInput]="cpuMhzData"
                            nameInput="cpuMhzData"
                            class="chartContainer"
                        ></app-time-series-chart
                    ></mat-tab>
                    <mat-tab
                        label="{{
                            'DASHBOARD.STATS-VALUES.CPU-NUM' | translate
                        }}"
                    >
                        <app-time-series-chart
                            id="cpuNumDataChart"
                            [datesInput]="dates"
                            [dataInput]="cpuNumData"
                            nameInput="cpuNumData"
                            class="chartContainer"
                        ></app-time-series-chart>
                    </mat-tab>
                    <mat-tab
                        label="{{
                            'DASHBOARD.STATS-VALUES.RAM-MB' | translate
                        }}"
                    >
                        <app-time-series-chart
                            id="memoryMBDataChart"
                            [datesInput]="dates"
                            [dataInput]="memoryMBData"
                            nameInput="memoryMBData"
                            class="chartContainer"
                        ></app-time-series-chart>
                    </mat-tab>
                    <mat-tab
                        label="{{
                            'DASHBOARD.STATS-VALUES.DISK-MB' | translate
                        }}"
                    >
                        <app-time-series-chart
                            id="diskMBDataChart"
                            [datesInput]="dates"
                            [dataInput]="diskMBData"
                            nameInput="diskMBData"
                            class="chartContainer"
                        ></app-time-series-chart>
                    </mat-tab>
                    <mat-tab
                        label="{{
                            'DASHBOARD.STATS-VALUES.GPU-NUM' | translate
                        }}"
                    >
                        <app-time-series-chart
                            id="gpuNumDataChart"
                            [datesInput]="dates"
                            [dataInput]="gpuNumData"
                            nameInput="gpuNumData"
                            class="chartContainer"
                        ></app-time-series-chart>
                    </mat-tab>
                    <mat-tab
                        label="{{
                            'DASHBOARD.STATS-VALUES.QUEUED-DATA' | translate
                        }}"
                    >
                        <app-time-series-chart
                            id="queuedDataChart"
                            [datesInput]="dates"
                            [dataInput]="queuedData"
                            nameInput="queuedData"
                            class="chartContainer"
                        ></app-time-series-chart>
                    </mat-tab>
                    <mat-tab
                        label="{{
                            'DASHBOARD.STATS-VALUES.RUNNING-DATA' | translate
                        }}"
                    >
                        <app-time-series-chart
                            id="runningDataChart"
                            [datesInput]="dates"
                            [dataInput]="runningData"
                            nameInput="runningData"
                            class="chartContainer"
                        ></app-time-series-chart>
                    </mat-tab>
                </mat-tab-group>

                <mat-toolbar class="mb-3 nodes-title">
                    <span>
                        {{ 'DASHBOARD.NODES-CPU' | translate }}
                    </span>
                </mat-toolbar>
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let node of this.nodesCpu">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="id-title">
                                {{ node.name }}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-stats-container
                            [usedCpuNum]="node.cpu_used"
                            [totalCpuNum]="node.cpu_total"
                            [usedMemory]="node.ram_used"
                            [totalMemory]="node.ram_total"
                            [usedDisk]="node.disk_used"
                            [totalDisk]="node.disk_total"
                            [usedGpuNum]="node.gpu_used"
                            [totalGpuNum]="node.gpu_total"
                        ></app-stats-container>
                    </mat-expansion-panel>
                </mat-accordion>

                <span></span>
                <mat-toolbar class="mb-3 nodes-title">
                    <span>
                        {{ 'DASHBOARD.NODES-GPU' | translate }}
                    </span>
                </mat-toolbar>
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let node of this.nodesGpu">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="id-title">
                                {{ node.name }}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-stats-container
                            [usedCpuNum]="node.cpu_used"
                            [totalCpuNum]="node.cpu_total"
                            [usedMemory]="node.ram_used"
                            [totalMemory]="node.ram_total"
                            [usedDisk]="node.disk_used"
                            [totalDisk]="node.disk_total"
                            [usedGpuNum]="node.gpu_used"
                            [totalGpuNum]="node.gpu_total"
                        ></app-stats-container>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-tab>
        </mat-tab>
    </mat-tab-group>
</ng-container>
