.mat-mdc-header-row {
    background: var(--accent);

    .mat-mdc-header-cell {
        border: 1px solid var(--black-60);
        color: var(--white);
        font-weight: bold;
    }
}

.deployment-actions {
    display: flex;
    justify-content: right;
}

.menu-item-w-icon {
    display: flex;
    align-items: center;

    span {
        color: var(--warn);
    }

    .mat-icon {
        margin-bottom: 6px;
    }
}

.selection-checkbox {
    max-width: 75px;
}

.actions-cell {
    max-width: 140px;

    .mdc-button {
        min-width: 40px;
    }
}

.mat-column-uuid {
    white-space: nowrap;
    min-width: 350px;
}

.action-button-in-cell {
    //min-width: 110px;
}

.mat-column-status {
    justify-content: center;
    max-width: 180px;
}

.mat-column-containerName {
    white-space: nowrap;
    min-width: 260px;
}

.mat-mdc-table .mat-mdc-row:hover {
    background-color: var(--primary);
    cursor: pointer;
}