<mat-toolbar class="mb-3 marketplace-toolbar">
    <span class="aligned-with-icon">
        {{ 'DEPLOYMENTS.TITLE' | translate }}
        <mat-icon>view_in_ar</mat-icon>
    </span>
</mat-toolbar>

<div class="tables-container">
    <app-deployments-table
        cardName="Modules"
        cardIcon="model_training"
        [isLoading]="isModulesTableLoading"
        [dataset]="modulesDataset"
        [dataSource]="modulesDataSource"
        [datacentersNotifications]="displayedNotifications"
        (showElementInfo)="openDeploymentDetailDialog($event, 'module')"
        (deleteElement)="removeModule($event)"
    ></app-deployments-table>

    <app-deployments-table
        cardName="Tools"
        cardIcon="handyman"
        [showCardActions]="true"
        [isLoading]="isToolsTableLoading"
        deploymentType="tool"
        [dataset]="toolsDataset"
        [dataSource]="toolsDataSource"
        [datacentersNotifications]="displayedNotifications"
        (showElementInfo)="openDeploymentDetailDialog($event, 'tool')"
        (deleteElement)="removeTool($event)"
    ></app-deployments-table>

    <app-deployments-table
        cardName="Snapshots"
        cardIcon="photo_camera"
        [isLoading]="isSnapshotsTableLoading"
        deploymentType="snapshot"
        [dataset]="snapshotsDataset"
        [dataSource]="snapshotsDataSource"
        [columns]="snapshotColumns"
        (deleteElement)="removeSnapshot($event)"
    ></app-deployments-table>
</div>
