.storage-conf-form {
    min-height: 575px;
}

.mat-mdc-option {
    padding: 8px 16px;
}

.dataset-options-container {
    padding-top: 2em;
    display: flex;
    align-items: center;
    gap: 1.2em;
    flex-direction: column;
    align-items: flex-start;
}

.storage-container {
    row-gap: 1em;
}

.step-title {
    display: flex;
    align-items: center;
    gap: 1.5em;

    mat-chip {
        background: antiquewhite !important;
    }
}

.warning-icon {
    color: var(--warning-orange);
}

.small-text {
    font-size: 17px;
}

.cvat-step-title {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1em;
}

.snapshots-row {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title-with-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 1em;

    button {
        padding: 0 10px;
    }
}

.rclone-warning {
    font-size: 12px;
    line-height: 20px;
    border: solid 2px var(--neon-red);
    background-color: var(--white) !important;

    mat-icon {
        color: var(--neon-red);
    }
}

::ng-deep .snapshot-class .mat-pseudo-checkbox {
    display: none !important;
}

::ng-deep .snapshot-option-container > span {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
