<form [formGroup]="storageConfFormGroup" class="storage-conf-form">
    <div class="step-title">
        <h4>
            {{ 'CATALOG.MODULE-TRAIN.DATA-CONF-FORM.STORAGE-CONF' | translate }}
        </h4>
        @if (
            isCvatTool &&
            !credentialsLoading &&
            (this.storageConfFormGroup.get('storageServiceDatasetSelect')
                ?.value === '' ||
                this.storageConfFormGroup.get('storageServiceDatasetSelect')
                    ?.value === undefined)
        ) {
            <span>
                <mat-chip>
                    <span class="aligned-with-icon scale-icon-down">
                        <mat-icon class="warning-icon">warning</mat-icon>
                        {{
                            'CATALOG.MODULE-TRAIN.DATA-CONF-FORM.NO-STORAGE-SELECTED'
                                | translate
                        }}
                    </span>
                </mat-chip>
            </span>
        } @else if (rcloneIsRequired) {
            <mat-chip class="rclone-warning">
                <mat-icon matChipAvatar color="warn">warning</mat-icon>
                {{
                    'CATALOG.MODULE-TRAIN.DATA-CONF-FORM.RCLONE-ERROR'
                        | translate
                }}
            </mat-chip>
        }
    </div>
    <div
        class="storage-container"
        [ngClass]="{
            'form-flex': mobileQuery.matches,
            'grid-1-column': !mobileQuery.matches,
        }"
    >
        <mat-form-field>
            <mat-label>{{
                'CATALOG.MODULE-TRAIN.DATA-CONF-FORM.STORAGE-SERVICE'
                    | translate
            }}</mat-label>
            <mat-select
                formControlName="storageServiceDatasetSelect"
                (selectionChange)="updateStorageConfiguration()"
            >
                <mat-option>-</mat-option>
                <mat-option
                    *ngFor="let storageServiceOption of storageServiceOptions"
                    [value]="storageServiceOption.value"
                >
                    {{ storageServiceOption.viewValue }}
                </mat-option>
            </mat-select>
            <mat-spinner
                *ngIf="credentialsLoading"
                matSuffix
                [diameter]="18"
                class="input-spinner"
            ></mat-spinner>
            <mat-hint *ngIf="_showHelp">
                {{
                    'CATALOG.MODULE-TRAIN.DATA-CONF-FORM.STORAGE-SERVICE-HINT'
                        | translate
                }}
                <a [routerLink]="['/profile']" target="_blank">{{
                    'CATALOG.MODULE-TRAIN.DATA-CONF-FORM.PROFILE-SECTION'
                        | translate
                }}</a
                >.
            </mat-hint>
            <mat-hint *ngIf="!_showHelp && credentials.length === 0">
                {{
                    'CATALOG.MODULE-TRAIN.DATA-CONF-FORM.STORAGE-SERVICE-UNAVAILABLE'
                        | translate
                }}
                <a [routerLink]="['/profile']" target="_blank">{{
                    'CATALOG.MODULE-TRAIN.DATA-CONF-FORM.STORAGE-SERVICE-TRY-LINK'
                        | translate
                }}</a
                >.
            </mat-hint>
        </mat-form-field>

        @if (isCvatTool) {
            <div class="snapshots-row">
                <h4>
                    {{
                        'CATALOG.MODULE-TRAIN.DATA-CONF-FORM.SNAPSHOTS-CONF'
                            | translate
                    }}
                </h4>

                <span class="cvat-step-title">
                    <span class="small-text"> Sort: </span>

                    <mat-chip-listbox>
                        <mat-chip-option
                            [selected]="sortBy === 'name'"
                            value="name"
                            (selectionChange)="selectedSortingChip($event)"
                            >{{
                                'CATALOG.SORTING.NAME' | translate
                            }}</mat-chip-option
                        >
                        <mat-chip-option
                            [selected]="sortBy === 'recent'"
                            value="recent"
                            (selectionChange)="selectedSortingChip($event)"
                            >{{
                                'CATALOG.SORTING.MOST-RECENT' | translate
                            }}</mat-chip-option
                        >
                    </mat-chip-listbox>
                </span>
            </div>

            <mat-form-field>
                <mat-label>{{
                    'CATALOG.MODULE-TRAIN.DATA-CONF-FORM.SNAPSHOT' | translate
                }}</mat-label>
                <mat-select
                    formControlName="snapshotDatasetSelect"
                    panelClass="snapshot-class"
                >
                    <mat-select-trigger>
                        {{
                            this.storageConfFormGroup.get(
                                'snapshotDatasetSelect'
                            )?.value
                        }}
                    </mat-select-trigger>

                    <mat-option>-</mat-option>
                    <mat-option
                        *ngFor="let snapshotOption of snapshotOptions"
                        [value]="snapshotOption.value"
                        class="snapshot-option-container"
                    >
                        {{ snapshotOption.viewValue }}
                        <button
                            mat-icon-button
                            color="warn"
                            (click)="
                                deleteSnapshot($event, snapshotOption.value)
                            "
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-option>
                </mat-select>
                <mat-spinner
                    *ngIf="snapshotsLoading"
                    matSuffix
                    [diameter]="18"
                    class="input-spinner"
                ></mat-spinner>
                <mat-hint *ngIf="_showHelp">
                    {{
                        'CATALOG.MODULE-TRAIN.DATA-CONF-FORM.SNAPSHOT-HINT'
                            | translate
                    }}
                </mat-hint>
                <mat-hint *ngIf="!_showHelp && snapshotOptions.length === 0">
                    {{
                        'CATALOG.MODULE-TRAIN.DATA-CONF-FORM.SNAPSHOT-UNAVAILABLE'
                            | translate
                    }}
                </mat-hint>
            </mat-form-field>
        }
    </div>

    @if (!isCvatTool) {
        <div class="dataset-options-container">
            <span class="title-with-button">
                <h4>
                    {{
                        'CATALOG.MODULE-TRAIN.DATA-CONF-FORM.DATASET-CONF'
                            | translate
                    }}
                </h4>
                @if (!storageConfFormGroup.valid && datasets.length > 0) {
                    <mat-chip class="rclone-warning">
                        <mat-icon matChipAvatar color="warn">warning</mat-icon>
                        {{
                            'CATALOG.MODULE-TRAIN.DATA-CONF-FORM.DATASET-ERROR'
                                | translate
                        }}
                    </mat-chip>
                }
                <button
                    *ngIf="suggestedDatasetIsValid()"
                    mat-stroked-button
                    (click)="
                        datasetsListComponent.addDataset(this.suggestedDataset)
                    "
                >
                    <span class="aligned-with-icon scale-icon-down">
                        <mat-icon color="accent">emoji_objects</mat-icon>
                        {{
                            'CATALOG.MODULE-TRAIN.DATA-CONF-FORM.DATASET-SUGGESTION'
                                | translate
                        }}
                    </span>
                </button></span
            >

            <app-datasets-list
                class="full-width"
                [storageConfFormGroup]="storageConfFormGroup"
                (datasetAdded)="addDataset($event)"
                (datasetDeleted)="deleteDataset($event)"
                (datasetPullChanged)="updateDataset($event)"
            ></app-datasets-list>
        </div>
    }
</form>
