.next-back-buttons{
    display: flex;
    justify-content: flex-end;
}

.arrow-back-button{
    position: relative;
    left: -12px;
}

.breadcrumbs-and-help-container{
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
}

::ng-deep .child-form-container-no-help form{
    min-height: 450px;
}

::ng-deep .child-form-container-show-help form{
    min-height: 575px;
}