<mat-card class="card">
  <mat-card-content class="filters-container">
    <mat-accordion class="mb-3">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'CATALOG.FILTERS.INFO-FILTERS-TITLE' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          [innerHTML]="'CATALOG.FILTERS.INFO-FILTERS' | translate"
        ></div>
      </mat-expansion-panel>
    </mat-accordion>

    @for (filter of filters; track filter; let i = $index) {
      <div
        class="filter-container"
        >
        <div class="box-container">
          <div class="box-title">Filter #{{ i + 1 }}</div>
          <div class="box-content">
            @for (library of filter.libraries; track library) {
              <app-chip-with-icon
                text="{{ library }}"
                chipStyle="default"
              ></app-chip-with-icon>
            }
            @for (task of filter.tasks; track task) {
              <app-chip-with-icon
                text="{{ task }}"
                chipStyle="default"
              ></app-chip-with-icon>
            }
            @for (category of filter.categories; track category) {
              <app-chip-with-icon
                text="{{ category }}"
                chipStyle="default"
              ></app-chip-with-icon>
            }
            @for (datatype of filter.datatypes; track datatype) {
              <app-chip-with-icon
                text="{{ datatype }}"
                chipStyle="default"
              ></app-chip-with-icon>
            }
            @for (tag of filter.tags; track tag) {
              <app-chip-with-icon
                text="{{ tag }}"
                chipStyle="default"
              ></app-chip-with-icon>
            }
          </div>
          <button
            mat-mini-fab
            color="warn"
            class="delete-button"
            [matTooltip]="'GENERAL-BUTTONS.DELETE' | translate"
            matTooltipPosition="above"
            (click)="deleteFilter(i)"
            >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    }
  </mat-card-content>
  <mat-card-actions class="actions-container" align="end">
    @if (filters.length > 0) {
      <div>
        <button
          class="white-text-button"
          mat-raised-button
          color="warn"
          (click)="resetFilters()"
          [matTooltip]="'CATALOG.FILTERS.RESET-TOOLTIP' | translate"
          matTooltipPosition="above"
          >
          {{ 'CATALOG.FILTERS.RESET' | translate }}
        </button>
        <button
          class="white-text-button ml-3"
          mat-raised-button
          color="accent"
          [mat-dialog-close]="filters"
          [matTooltip]="'CATALOG.FILTERS.APPLY-TOOLTIP' | translate"
          matTooltipPosition="above"
          >
          {{ 'CATALOG.FILTERS.APPLY' | translate }}
        </button>
      </div>
    } @else {
      <button mat-button mat-raised-button (click)="closeDialog()">
        {{ 'GENERAL-BUTTONS.CLOSE' | translate }}
      </button>
    }
  </mat-card-actions>
</mat-card>
