<mat-card
    class="basic-card"
    [ngClass]="{
        'tool-card': isTool,
    }"
    [routerLink]="[
        isTool && module.name !== 'ai4os-dev-env'
            ? 'tools/' + module.name
            : 'modules/' + module.name,
    ]"
>
    <mat-card-header class="basic-card-header">
        <mat-card-title>
            <mat-icon
                *ngIf="isTool"
                color="primary"
                [matTooltip]="'MODULES.TOOL' | translate"
                >handyman</mat-icon
            >
            <mat-icon
                *ngIf="!isTool"
                color="primary"
                [matTooltip]="'MODULES.MODULE' | translate"
                >model_training</mat-icon
            >

            <span>{{ module.title }}</span>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-divider></mat-divider>

        <div class="basic-card-content">
            <mat-card-subtitle class="mt-2">{{
                module.summary
            }}</mat-card-subtitle>
        </div>
    </mat-card-content>
</mat-card>
