<mat-toolbar class="mb-3">
    <ng-container *ngIf="!isTool; else toolTitleText">
        <span class="aligned-with-icon">
            {{ 'MODULES.MODULE-DETAIL.TITLE' | translate }}
            <mat-icon>view_in_ar</mat-icon>
        </span>
    </ng-container>
    <ng-template #toolTitleText>
        <span class="aligned-with-icon">
            {{ 'MODULES.MODULE-DETAIL.TOOL-TITLE' | translate }}
            <mat-icon>view_in_ar</mat-icon>
        </span>
    </ng-template>
</mat-toolbar>

<xng-breadcrumb class="mb-3"></xng-breadcrumb>

<mat-card class="detail-card">
    <mat-card-header
        *ngIf="!isLoading"
        [ngClass]="{
            'module-detail-card-header-mobile': mobileQuery.matches,
            'module-detail-card-header': !mobileQuery.matches
        }"
    >
        <mat-card-title
            ><h1>{{ module.title }}</h1></mat-card-title
        >
        <mat-card-subtitle>{{ module.summary }}</mat-card-subtitle>

        <div
            *ngIf="!isTool"
            [ngClass]="{
                'action-buttons-container-mobile': mobileQuery.matches,
                'action-buttons-container': !mobileQuery.matches
            }"
        >
            <div
                class="tooltip-container"
                [matTooltipDisabled]="isLoggedIn()"
                matTooltip=" {{
                    'MODULES.MODULE-DETAIL.TRY-MODULE-LOGOUT' | translate
                }}"
            >
                <a
                    class="action-button"
                    mat-raised-button
                    color="accent"
                    [matMenuTriggerFor]="tryMenu"
                    [disabled]="!isLoggedIn()"
                >
                    {{ 'MODULES.MODULE-DETAIL.TRY-MODULE' | translate }}

                    <mat-icon class="arrow-button">
                        keyboard_arrow_down
                    </mat-icon>
                </a>
            </div>

            <mat-menu #tryMenu="matMenu" xPosition="before">
                <button mat-menu-item (click)="createGradioDeployment()">
                    <span class="button-with-icon">
                        <img
                            src="../../../../../assets/images/gradio-logo.png"
                            width="24"
                            height="24"
                        />
                        <div class="button-texts">
                            <b>
                                {{
                                    'MODULES.MODULE-DETAIL.USER-INTERFACE'
                                        | translate
                                }}</b
                            >
                            <span class="button-description-text">
                                {{
                                    'MODULES.MODULE-DETAIL.NOMAD-GRADIO'
                                        | translate
                                }}</span
                            >
                        </div>
                    </span>
                </button>
                <button mat-menu-item [disabled]="true" style="display: none">
                    <span class="button-with-icon">
                        <img
                            src="../../../../../assets/images/swagger-logo.svg"
                            width="24"
                            height="24"
                        />
                        <div class="button-texts">
                            <b>
                                {{
                                    'MODULES.MODULE-DETAIL.INFERENCE-API'
                                        | translate
                                }}</b
                            >
                            <span class="button-description-text">{{
                                'MODULES.MODULE-DETAIL.OSCAR-SWAGGER'
                                    | translate
                            }}</span>
                        </div>
                    </span>
                </button>
            </mat-menu>

            <ng-container *ngIf="isLoggedIn()">
                <a
                    class="action-button"
                    mat-raised-button
                    color="accent"
                    [matMenuTriggerFor]="deployMenu"
                >
                    {{ 'MODULES.MODULE-DETAIL.DEPLOY-MODULE' | translate }}

                    <mat-icon class="arrow-button">
                        keyboard_arrow_down
                    </mat-icon>
                </a>
                <mat-menu #deployMenu="matMenu" xPosition="before">
                    <button
                        class="action-button sub-button"
                        mat-menu-item
                        (click)="createOscarService()"
                        [disabled]="
                            !isAuthorized() ||
                            module.links.docker_image === undefined
                        "
                        matTooltip=" {{ 'ERRORS.UNAUTHORIZED' | translate }}"
                        [matTooltipPosition]="'left'"
                        [matTooltipDisabled]="isAuthorized()"
                    >
                        <span class="button-with-icon">
                            <img
                                src="../../../../../assets/images/oscar-logo.png"
                                width="24"
                                height="24"
                            />
                            <div class="button-texts">
                                <b>
                                    {{
                                        'MODULES.MODULE-DETAIL.API-SERVERLESS'
                                            | translate
                                    }}
                                </b>
                                <span class="button-description-text">
                                    {{
                                        'MODULES.MODULE-DETAIL.OSCAR'
                                            | translate
                                    }}
                                </span>
                            </div>
                        </span>
                    </button>
                    <button
                        mat-menu-item
                        class="action-button sub-button"
                        routerLink="train"
                        [disabled]="!isAuthorized()"
                        matTooltip=" {{ 'ERRORS.UNAUTHORIZED' | translate }}"
                        [matTooltipPosition]="'left'"
                        [matTooltipDisabled]="isAuthorized()"
                    >
                        <span class="button-with-icon">
                            <img
                                src="../../../../../assets/images/nomad-icon.svg"
                                width="24"
                                height="24"
                            />
                            <div class="button-texts">
                                <b>
                                    {{
                                        'MODULES.MODULE-DETAIL.API-PLATFORM'
                                            | translate
                                    }}</b
                                >
                                <span class="button-description-text">
                                    {{
                                        'MODULES.MODULE-DETAIL.NOMAD'
                                            | translate
                                    }}
                                </span>
                            </div>
                        </span>
                    </button>
                    <a
                        class="action-button sub-button"
                        mat-menu-item
                        target="_blank"
                        [href]="
                            'https://im.egi.eu/im-dashboard/configure?selected_tosca=simple-node-disk.yml&childs=ai4eoscvm.yaml&ai4eosc_model_image=' +
                            moduleId
                        "
                    >
                        <span class="button-with-icon">
                            <img
                                src="../../../../../assets/images/im-logo.png"
                                width="24"
                                height="24"
                            />
                            <div class="button-texts">
                                <b>
                                    {{
                                        'MODULES.MODULE-DETAIL.API-CLOUD'
                                            | translate
                                    }}
                                </b>
                                <span class="button-description-text">
                                    {{ 'MODULES.MODULE-DETAIL.IM' | translate }}
                                </span>
                            </div>
                        </span>
                    </a>
                </mat-menu>

                <div
                    class="tooltip-container"
                    [matTooltipDisabled]="isAuthorized()"
                    matTooltip=" {{ 'ERRORS.UNAUTHORIZED' | translate }}"
                >
                    <a
                        class="action-button"
                        mat-raised-button
                        color="accent"
                        [matMenuTriggerFor]="codespacesMenu"
                        [disabled]="!isAuthorized()"
                    >
                        {{ 'MODULES.MODULE-DETAIL.CODESPACES' | translate }}
                        <mat-icon class="arrow-button">
                            keyboard_arrow_down
                        </mat-icon>
                    </a>
                </div>

                <mat-menu #codespacesMenu="matMenu" xPosition="before">
                    <button mat-menu-item (click)="trainModule('jupyter')">
                        <span class="button-with-icon">
                            <img
                                src="../../../../../assets/images/jupyter-logo.png"
                                width="24"
                                height="24"
                            />
                            <div class="button-texts">
                                <b>
                                    {{
                                        'MODULES.MODULE-DETAIL.JUPYTERLAB'
                                            | translate
                                    }}</b
                                >
                            </div>
                        </span>
                    </button>
                    <button
                        *ngIf="module.title === 'AI4OS Development Environment'"
                        mat-menu-item
                        (click)="trainModule('vscode')"
                    >
                        <span class="button-with-icon">
                            <img
                                src="../../../../../assets/images/vscode-logo.png"
                                width="24"
                                height="24"
                            />
                            <div class="button-texts">
                                <b>
                                    {{
                                        'MODULES.MODULE-DETAIL.VSCODE'
                                            | translate
                                    }}</b
                                >
                            </div>
                        </span>
                    </button>
                </mat-menu>
            </ng-container>
        </div>

        <div
            *ngIf="isTool && isLoggedIn() && isAuthorized()"
            [ngClass]="{
                'action-buttons-container-mobile': mobileQuery.matches,
                'action-buttons-container': !mobileQuery.matches
            }"
        >
            <a
                class="action-button"
                mat-raised-button
                color="accent"
                routerLink="train"
                id="deploy-tool-button"
            >
                {{ 'MODULES.MODULE-DETAIL.DEPLOY-MODULE' | translate }}
            </a>
        </div>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
        <div *ngIf="isLoading" class="spinner spinner-with-description">
            <mat-progress-spinner color="primary" mode="indeterminate">
            </mat-progress-spinner>
        </div>

        <div
            [ngClass]="{
                'grid-1-column': mobileQuery.matches,
                'grid-2-columns-content': !mobileQuery.matches
            }"
            *ngIf="!isLoading"
        >
            <markdown
                [data]="module.description"
                ngPreserveWhitespaces
                [disableSanitizer]="true"
                class="module-description"
            >
            </markdown>

            <div class="info-container">
                <div class="module-header-info">
                    <h4>
                        {{ 'MODULES.MODULE-DETAIL.CREATED' | translate }}
                    </h4>
                    <p>{{ module.dates?.created }}</p>
                </div>

                <div class="module-header-info">
                    <h4>
                        {{ 'MODULES.MODULE-DETAIL.UPDATED' | translate }}
                    </h4>
                    <p>{{ module.dates?.updated }}</p>
                </div>

                <div *ngIf="module.doi" class="module-header-info">
                    <a
                        *ngIf="module.links.zenodo_doi; else staticDoiBadge"
                        href="{{ module.links.zenodo_doi }}"
                        target="_blank"
                        ><img
                            alt="Build Status"
                            src="{{
                                'https://img.shields.io/badge/DOI-' +
                                    module.doi +
                                    '-FF5B7F'
                            }}"
                    /></a>
                    <ng-template #staticDoiBadge>
                        <img
                            alt="Build Status"
                            src="{{
                                'https://img.shields.io/badge/DOI-' +
                                    module.doi +
                                    '-FF5B7F'
                            }}"
                        />
                    </ng-template>
                </div>

                <h4>{{ 'MODULES.MODULE-DETAIL.CATEGORIES' | translate }}</h4>
                <div class="tags ml-3 mb-3">
                    <span
                        class="keyword"
                        *ngFor="let category of module.categories"
                    >
                        {{ category }}
                    </span>
                </div>

                <h4>{{ 'MODULES.MODULE-DETAIL.TAGS' | translate }}</h4>
                <div class="tags ml-3 mb-3">
                    <span class="keyword" *ngFor="let tag of module.tags">
                        {{ tag }}
                    </span>
                </div>

                <h4>{{ 'MODULES.MODULE-DETAIL.LIBRARIES' | translate }}</h4>
                <div class="tags ml-3 mb-3">
                    <span
                        class="keyword"
                        *ngFor="let library of module.libraries"
                    >
                        {{ library }}
                    </span>
                </div>

                <h4>{{ 'MODULES.MODULE-DETAIL.TASKS' | translate }}</h4>
                <div class="tags ml-3 mb-3">
                    <span class="keyword" *ngFor="let task of module.tasks">
                        {{ task }}
                    </span>
                </div>

                <h4>{{ 'MODULES.MODULE-DETAIL.DATA-TYPE' | translate }}</h4>
                <div class="tags ml-3 mb-3">
                    <span
                        class="keyword"
                        *ngFor="let type of module['data-type']"
                    >
                        {{ type }}
                    </span>
                </div>

                <h4>
                    {{
                        'MODULES.MODULE-DETAIL.ADDITIONAL-RESOURCES' | translate
                    }}
                </h4>

                <div class="grid-resources">
                    <a
                        class="action-button"
                        mat-raised-button
                        href="{{ module.links.source_code }}"
                        target="_blank"
                    >
                        <span class="aligned-with-icon">
                            <img
                                src="../../../../../assets/images/github-mark.svg"
                                width="16"
                                height="16"
                            />
                            {{ 'GENERAL-BUTTONS.GITHUB' | translate }}
                        </span>
                    </a>

                    <a
                        class="action-button"
                        mat-raised-button
                        href="{{ module.links.source_code }}/issues"
                        target="_blank"
                    >
                        <span class="aligned-with-icon">
                            <img
                                src="../../../../../assets/images/github-mark.svg"
                                width="16"
                                height="16"
                            />
                            {{ 'GENERAL-BUTTONS.REPORT-ISSUE' | translate }}
                        </span>
                    </a>

                    <a
                        *ngIf="module.links.dataset"
                        class="action-button"
                        mat-raised-button
                        href="{{ module.links.dataset }}"
                    >
                        <span class="aligned-with-icon">
                            <img
                                src="../../../../../assets/images/database.png"
                                width="16"
                                height="16"
                            />
                            {{ 'MODULES.MODULE-DETAIL.DATASET' | translate }}
                        </span>
                    </a>

                    <a
                        class="action-button"
                        mat-raised-button
                        href="{{ module.links.docker_image }}"
                        target="_blank"
                    >
                        <span class="aligned-with-icon">
                            <img
                                src="../../../../../assets/images/dockerhub.png"
                                width="16"
                                height="16"
                            />
                            {{ 'GENERAL-BUTTONS.DOCKERHUB' | translate }}
                        </span>
                    </a>

                    <a
                        *ngIf="module.links.documentation"
                        class="action-button"
                        mat-raised-button
                        href="{{ module.links.documentation }}"
                        target="_blank"
                    >
                        <span class="aligned-with-icon">
                            <img
                                src="../../../../../assets/images/database.png"
                                width="16"
                                height="16"
                            />
                            {{
                                'MODULES.MODULE-DETAIL.DOCUMENTATION'
                                    | translate
                            }}
                        </span>
                    </a>

                    <a
                        *ngIf="module.links.weights"
                        class="action-button"
                        mat-raised-button
                        href="{{ module.links.weights }}"
                        target="_blank"
                    >
                        <span class="aligned-with-icon">
                            <img
                                src="../../../../../assets/images/database.png"
                                width="16"
                                height="16"
                            />
                            {{ 'MODULES.MODULE-DETAIL.WEIGHTS' | translate }}
                        </span>
                    </a>

                    <a
                        *ngIf="module.links.citation"
                        class="action-button"
                        mat-raised-button
                        href="{{ module.links.citation }}"
                        target="_blank"
                    >
                        <span class="aligned-with-icon">
                            <img
                                src="../../../../../assets/images/database.png"
                                width="16"
                                height="16"
                            />
                            {{ 'MODULES.MODULE-DETAIL.CITATION' | translate }}
                        </span>
                    </a>

                    <a
                        *ngIf="module.links.base_model"
                        class="action-button"
                        mat-raised-button
                        href="{{ module.links.base_model }}"
                        target="_blank"
                    >
                        <span class="aligned-with-icon">
                            <img
                                src="../../../../../assets/images/database.png"
                                width="16"
                                height="16"
                            />
                            {{ 'MODULES.MODULE-DETAIL.BASE-MODEL' | translate }}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
