<mat-toolbar class="mb-3">
    <ng-container *ngIf="!isTool; else toolTitleText">
        <span class="aligned-with-icon">
            {{ 'MODULES.MODULE-DETAIL.TITLE' | translate }}
            <mat-icon>view_in_ar</mat-icon>
        </span>
    </ng-container>
    <ng-template #toolTitleText>
        <span class="aligned-with-icon">
            {{ 'MODULES.MODULE-DETAIL.TOOL-TITLE' | translate }}
            <mat-icon>view_in_ar</mat-icon>
        </span>
    </ng-template>
</mat-toolbar>

<xng-breadcrumb class="mb-3"></xng-breadcrumb>

<mat-card class="detail-card">
    <mat-card-header
        *ngIf="!isLoading"
        [ngClass]="{
            'module-detail-card-header-mobile': mobileQuery.matches,
            'module-detail-card-header': !mobileQuery.matches
        }"
    >
        <mat-card-title
            ><h1>{{ module.title }}</h1>
        </mat-card-title>
        <mat-card-subtitle>
            {{ module.summary }}
        </mat-card-subtitle>

        <div
            *ngIf="!isTool"
            [ngClass]="{
                'action-buttons-container-mobile': mobileQuery.matches,
                'action-buttons-container': !mobileQuery.matches
            }"
        >
            <div
                class="tooltip-container"
                [matTooltipDisabled]="isLoggedIn()"
                matTooltip=" {{
                    'MODULES.MODULE-DETAIL.TRY-MODULE-LOGOUT' | translate
                }}"
            >
                <a
                    class="action-button"
                    mat-raised-button
                    color="accent"
                    [matMenuTriggerFor]="tryMenu"
                    [disabled]="!isLoggedIn()"
                >
                    {{ 'MODULES.MODULE-DETAIL.TRY-MODULE' | translate }}

                    <mat-icon class="arrow-button">
                        keyboard_arrow_down
                    </mat-icon>
                </a>
            </div>

            <mat-menu #tryMenu="matMenu" xPosition="before">
                <button mat-menu-item (click)="createGradioDeployment()">
                    <span class="button-with-icon">
                        <img
                            src="../../../../../assets/images/gradio-logo.png"
                        />
                        <div class="button-texts">
                            <b>
                                {{
                                    'MODULES.MODULE-DETAIL.USER-INTERFACE'
                                        | translate
                                }}</b
                            >
                            <span class="button-description-text">
                                {{
                                    'MODULES.MODULE-DETAIL.NOMAD-GRADIO'
                                        | translate
                                }}</span
                            >
                        </div>
                    </span>
                </button>
                <button mat-menu-item [disabled]="true" style="display: none">
                    <span class="button-with-icon">
                        <img
                            src="../../../../../assets/images/swagger-logo.svg"
                        />
                        <div class="button-texts">
                            <b>
                                {{
                                    'MODULES.MODULE-DETAIL.INFERENCE-API'
                                        | translate
                                }}</b
                            >
                            <span class="button-description-text">{{
                                'MODULES.MODULE-DETAIL.OSCAR-SWAGGER'
                                    | translate
                            }}</span>
                        </div>
                    </span>
                </button>
            </mat-menu>

            <ng-container *ngIf="isLoggedIn()">
                <a
                    class="action-button"
                    mat-raised-button
                    color="accent"
                    [matMenuTriggerFor]="deployMenu"
                >
                    {{ 'MODULES.MODULE-DETAIL.DEPLOY-MODULE' | translate }}

                    <mat-icon class="arrow-button">
                        keyboard_arrow_down
                    </mat-icon>
                </a>
                <mat-menu #deployMenu="matMenu" xPosition="before">
                    <button
                        *ngIf="module.links.docker_image"
                        class="action-button sub-button"
                        mat-menu-item
                        (click)="createOscarService()"
                        [disabled]="
                            !isAuthorized() ||
                            module.links.docker_image === undefined
                        "
                        matTooltip=" {{ 'ERRORS.UNAUTHORIZED' | translate }}"
                        [matTooltipPosition]="'left'"
                        [matTooltipDisabled]="isAuthorized()"
                    >
                        <span class="button-with-icon">
                            <img
                                src="../../../../../assets/images/oscar-logo.png"
                            />
                            <div class="button-texts">
                                <b>
                                    {{
                                        'MODULES.MODULE-DETAIL.API-SERVERLESS'
                                            | translate
                                    }}
                                </b>
                                <span class="button-description-text">
                                    {{
                                        'MODULES.MODULE-DETAIL.OSCAR'
                                            | translate
                                    }}
                                </span>
                            </div>
                        </span>
                    </button>
                    <button
                        mat-menu-item
                        class="action-button sub-button"
                        routerLink="train"
                        [disabled]="!isAuthorized()"
                        matTooltip=" {{ 'ERRORS.UNAUTHORIZED' | translate }}"
                        [matTooltipPosition]="'left'"
                        [matTooltipDisabled]="isAuthorized()"
                    >
                        <span class="button-with-icon">
                            <img
                                src="../../../../../assets/images/nomad-icon.svg"
                            />
                            <div class="button-texts">
                                <b>
                                    {{
                                        'MODULES.MODULE-DETAIL.API-PLATFORM'
                                            | translate
                                    }}</b
                                >
                                <span class="button-description-text">
                                    {{
                                        'MODULES.MODULE-DETAIL.NOMAD'
                                            | translate
                                    }}
                                </span>
                            </div>
                        </span>
                    </button>
                    <a
                        class="action-button sub-button"
                        mat-menu-item
                        target="_blank"
                        [href]="
                            'https://im.egi.eu/im-dashboard/configure?selected_tosca=simple-node-disk.yml&childs=ai4eoscvm.yaml&ai4eosc_model_image=' +
                            moduleId
                        "
                    >
                        <span class="button-with-icon">
                            <img
                                src="../../../../../assets/images/im-logo.png"
                            />
                            <div class="button-texts">
                                <b>
                                    {{
                                        'MODULES.MODULE-DETAIL.API-CLOUD'
                                            | translate
                                    }}
                                </b>
                                <span class="button-description-text">
                                    {{ 'MODULES.MODULE-DETAIL.IM' | translate }}
                                </span>
                            </div>
                        </span>
                    </a>
                </mat-menu>

                <div
                    class="tooltip-container"
                    [matTooltipDisabled]="isAuthorized()"
                    matTooltip=" {{ 'ERRORS.UNAUTHORIZED' | translate }}"
                >
                    <a
                        class="action-button"
                        mat-raised-button
                        color="accent"
                        [matMenuTriggerFor]="codespacesMenu"
                        [disabled]="!isAuthorized()"
                    >
                        {{ 'MODULES.MODULE-DETAIL.CODESPACES' | translate }}
                        <mat-icon class="arrow-button">
                            keyboard_arrow_down
                        </mat-icon>
                    </a>
                </div>

                <mat-menu #codespacesMenu="matMenu" xPosition="before">
                    <button mat-menu-item (click)="trainModule('jupyter')">
                        <span class="button-with-icon">
                            <img
                                src="../../../../../assets/images/jupyter-logo.png"
                            />
                            <div class="button-texts">
                                <b>
                                    {{
                                        'MODULES.MODULE-DETAIL.JUPYTERLAB'
                                            | translate
                                    }}</b
                                >
                            </div>
                        </span>
                    </button>
                    <button
                        *ngIf="module.title === 'AI4OS Development Environment'"
                        mat-menu-item
                        (click)="trainModule('vscode')"
                    >
                        <span class="button-with-icon">
                            <img
                                src="../../../../../assets/images/vscode-logo.png"
                            />
                            <div class="button-texts">
                                <b>
                                    {{
                                        'MODULES.MODULE-DETAIL.VSCODE'
                                            | translate
                                    }}</b
                                >
                            </div>
                        </span>
                    </button>
                </mat-menu>
            </ng-container>
        </div>

        <div
            *ngIf="isTool && isLoggedIn() && isAuthorized()"
            [ngClass]="{
                'action-buttons-container-mobile': mobileQuery.matches,
                'action-buttons-container': !mobileQuery.matches
            }"
        >
            <a
                class="action-button"
                mat-raised-button
                color="accent"
                routerLink="train"
                id="deploy-tool-button"
            >
                {{ 'MODULES.MODULE-DETAIL.DEPLOY-MODULE' | translate }}
            </a>
        </div>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
        <div *ngIf="isLoading" class="spinner spinner-with-description">
            <mat-progress-spinner color="primary" mode="indeterminate">
            </mat-progress-spinner>
        </div>

        <div
            [ngClass]="{
                'grid-1-column': mobileQuery.matches,
                'grid-2-columns-content': !mobileQuery.matches
            }"
            *ngIf="!isLoading"
        >
            <div class="module-description">
                <markdown
                    [data]="module.description"
                    ngPreserveWhitespaces
                    [disableSanitizer]="true"
                >
                </markdown>
            </div>

            <div class="info-container">
                <div class="flex-container">
                    <a href="{{ module.links.cicd_url }}" target="_blank"
                        ><img
                            alt="Build Status"
                            src="{{ module.links.cicd_badge }}"
                    /></a>

                    <div *ngIf="module.doi">
                        <a
                            *ngIf="module.links.zenodo_doi; else staticDoiBadge"
                            href="{{ module.links.zenodo_doi }}"
                            target="_blank"
                            ><img
                                alt="Build Status"
                                src="{{
                                    'https://img.shields.io/badge/DOI-' +
                                        getDOI(module.doi) +
                                        '-FF5B7F'
                                }}"
                        /></a>
                        <ng-template #staticDoiBadge>
                            <img
                                alt="Build Status"
                                src="{{
                                    'https://img.shields.io/badge/DOI-' +
                                        getDOI(module.doi) +
                                        '-FF5B7F'
                                }}"
                            />
                        </ng-template>
                    </div>
                </div>

                <div *ngIf="module.dates" class="box-container">
                    <div class="box-title">
                        {{ 'MODULES.MODULE-DETAIL.DATES' | translate }}
                    </div>
                    <div class="flex-container">
                        <app-chip-with-icon
                            icon="calendar_month"
                            text="{{ module.dates.created }}"
                            tooltip=" {{
                                'MODULES.MODULE-DETAIL.CREATED' | translate
                            }}"
                        ></app-chip-with-icon>

                        <app-chip-with-icon
                            icon="update"
                            text="{{ module.dates.updated }}"
                            tooltip=" {{
                                'MODULES.MODULE-DETAIL.UPDATED' | translate
                            }}"
                        ></app-chip-with-icon>
                    </div>
                </div>

                <div class="box-container">
                    <div class="box-title">
                        {{ 'MODULES.MODULE-DETAIL.CATEGORIES' | translate }}
                    </div>
                    <div class="box-content">
                        <app-chip-with-icon
                            *ngFor="let category of module.categories"
                            text="{{ category }}"
                            chipStyle="default"
                        ></app-chip-with-icon>
                    </div>
                </div>

                <div *ngIf="module['data-type']" class="box-container">
                    <div class="box-title">
                        {{ 'MODULES.MODULE-DETAIL.DATA-TYPES' | translate }}
                    </div>
                    <div class="box-content">
                        <app-chip-with-icon
                            *ngFor="let type of module['data-type']"
                            text="{{ type }}"
                            icon="{{ convertTypeToIcon(type) }}"
                            chipStyle="default"
                        ></app-chip-with-icon>
                    </div>
                </div>

                <div class="box-container">
                    <div class="box-title">
                        {{ 'MODULES.MODULE-DETAIL.LIBRARIES' | translate }}
                    </div>
                    <div class="box-content">
                        <app-chip-with-icon
                            *ngFor="let library of module.libraries"
                            [image]="
                                '../../../assets/images/libraries/' +
                                library +
                                '_logo.png'
                            "
                            text="{{ library }}"
                            chipStyle="default"
                        ></app-chip-with-icon>
                    </div>
                </div>

                <div class="box-container">
                    <div class="box-title">
                        {{ 'MODULES.MODULE-DETAIL.TASKS' | translate }}
                    </div>
                    <div class="box-content">
                        <app-chip-with-icon
                            *ngFor="let task of module.tasks"
                            text="{{ task }}"
                            chipStyle="default"
                        ></app-chip-with-icon>
                    </div>
                </div>

                <div class="box-container">
                    <div class="box-title">
                        {{ 'MODULES.MODULE-DETAIL.TAGS' | translate }}
                    </div>
                    <div class="box-content">
                        <app-chip-with-icon
                            *ngFor="let tag of module.tags"
                            text="{{ tag }}"
                            [image]="'../../../assets/images/tag.png'"
                            chipStyle="default"
                        ></app-chip-with-icon>
                    </div>
                </div>

                <div class="box-container">
                    <div class="box-title">
                        {{
                            'MODULES.MODULE-DETAIL.ADDITIONAL-RESOURCES'
                                | translate
                        }}
                    </div>
                    <div class="grid-resources">
                        <a
                            class="action-button"
                            mat-raised-button
                            href="{{ module.links.source_code }}"
                            target="_blank"
                        >
                            <span class="aligned-with-icon">
                                <img
                                    src="../../../../../assets/images/github-icon.png"
                                />
                                {{ 'GENERAL-BUTTONS.GITHUB' | translate }}
                            </span>
                        </a>

                        <a
                            class="action-button"
                            mat-raised-button
                            href="{{ module.links.source_code }}/issues"
                            target="_blank"
                        >
                            <span class="aligned-with-icon">
                                <img
                                    src="../../../../../assets/images/github-icon.png"
                                />
                                {{ 'GENERAL-BUTTONS.REPORT-ISSUE' | translate }}
                            </span>
                        </a>

                        <a
                            *ngIf="module.links.dataset"
                            class="action-button"
                            mat-raised-button
                            href="{{ module.links.dataset }}"
                        >
                            <span class="aligned-with-icon">
                                <img
                                    src="../../../../../assets/images/database.png"
                                />
                                {{
                                    'MODULES.MODULE-DETAIL.DATASET' | translate
                                }}
                            </span>
                        </a>

                        <a
                            *ngIf="module.links.docker_image"
                            class="action-button"
                            mat-raised-button
                            href="{{ module.links.docker_image }}"
                            target="_blank"
                        >
                            <span class="aligned-with-icon">
                                <img
                                    src="../../../../../assets/images/dockerhub.png"
                                />
                                {{ 'GENERAL-BUTTONS.DOCKERHUB' | translate }}
                            </span>
                        </a>

                        <a
                            *ngIf="module.links.documentation"
                            class="action-button"
                            mat-raised-button
                            href="{{ module.links.documentation }}"
                            target="_blank"
                        >
                            <span class="aligned-with-icon">
                                <mat-icon> description </mat-icon>
                                {{
                                    'MODULES.MODULE-DETAIL.DOCUMENTATION'
                                        | translate
                                }}
                            </span>
                        </a>

                        <a
                            *ngIf="module.links.weights"
                            class="action-button"
                            mat-raised-button
                            href="{{ module.links.weights }}"
                            target="_blank"
                        >
                            <span class="aligned-with-icon">
                                <mat-icon> weight </mat-icon>
                                {{
                                    'MODULES.MODULE-DETAIL.WEIGHTS' | translate
                                }}
                            </span>
                        </a>

                        <a
                            *ngIf="module.links.citation"
                            class="action-button"
                            mat-raised-button
                            href="{{ module.links.citation }}"
                            target="_blank"
                        >
                            <span class="aligned-with-icon">
                                <mat-icon>format_quote</mat-icon>
                                {{
                                    'MODULES.MODULE-DETAIL.CITATION' | translate
                                }}
                            </span>
                        </a>

                        <a
                            *ngIf="module.links.base_model"
                            class="action-button"
                            mat-raised-button
                            href="{{ module.links.base_model }}"
                            target="_blank"
                        >
                            <span class="aligned-with-icon">
                                <mat-icon>model_training</mat-icon>
                                {{
                                    'MODULES.MODULE-DETAIL.BASE-MODEL'
                                        | translate
                                }}
                            </span>
                        </a>
                    </div>
                </div>

                <div class=""></div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
