.grid-2-columns-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 5rem;
}

.action-buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}

.action-buttons-container-mobile {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding-top: 15px;
}

.grid-resources {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1em;
    width: 100%;
}

.action-button {
    display: flex;
    padding: 5px 16px;
    align-self: center;
    text-align: center;
    flex-direction: row-reverse;
    column-gap: 5px;
    width: 100%;
    min-width: 100px;
}

.launch-tool-button {
    grid-column-start: -1;
}

::ng-deep .launch-tool-button span {
    padding: 5px 16px;
}

.detail-card {
    margin-bottom: 15px;
}

.module-detail-card-header {
    display: flex;
    padding: 16px;
    justify-content: space-between;
}

.module-detail-card-header-mobile {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    flex-direction: column;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.module-header-info {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
}

::ng-deep .module-description img {
    background-color: red;
    max-width: 100%;
}

::ng-deep .module-description video {
    max-width: 600px;
}

.tags span {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    position: relative;
    margin: 0 16px 8px 0;
    padding: 0 10px 0 12px;
    background: var(--primary);
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 12px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.tags span:before {
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent var(--primary) transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
}

.tags span:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 1px;
    float: left;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.4);
}

::ng-deep mat-icon {
    margin-right: 0px !important;
}
