.aligned-with-icon {
    margin-left: 1rem !important;
    margin-bottom: 1rem !important;
    margin-top: 0.5rem !important;

    .mat-icon {
        transform: scale(0.7);
    }
}

.table-container {
    overflow: auto;
}

.content-cell {
    min-width: 130px !important;
    padding: 0px;
    justify-content: center !important;
}

.actions-container {
    display: flex;
    padding: 0px 5px;
    mat-icon {
        margin: 0;
    }
}

.action-button-in-cell {
    padding: 0px !important;
}
.action-button-in-cell:disabled #accessIcon {
    color: var(--dark-gray) !important;
}
.action-button-in-cell:hover #accessIcon {
    color: var(--dark-gray);
}

.no-deployment-message-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.smaller-spinner {
    max-height: 150px !important;
}

.mat-mdc-header-row {
    background: var(--light-gray);

    .mat-mdc-header-cell {
        border: 1px solid var(--border-gray);
        color: var(--primary);
        font-weight: bold;
    }
}

.mat-column-actions {
    max-width: 130px;
    min-width: 130px;
    justify-content: start;

    .mdc-button {
        min-width: 30px;
    }
}

.mat-column-name {
    max-width: 300px;
}

.mat-column-status {
    max-width: 150px;
    justify-content: center;
}

.mat-column-containerName {
    white-space: nowrap;
    min-width: 260px;
}

.mat-column-tagName {
    white-space: nowrap;
    min-width: 260px;
}

.mat-column-gpus {
    max-width: 120px;
    justify-content: center;
}

.mat-column-size {
    max-width: 120px;
    justify-content: center;
}

.mat-column-creationTime {
    max-width: 200px;
    justify-content: center;
}

.mat-mdc-table .mat-mdc-row:hover {
    background-color: var(--accent);
    & .mat-mdc-cell {
        color: var(--white);
    }
}

.mat-mdc-table .mat-mdc-row:hover #accessIcon {
    color: var(--white);
}
.mat-mdc-table .mat-mdc-row:hover #infoIcon {
    color: var(--white);
}
.mat-mdc-table .mat-mdc-row:hover #snapshotIcon {
    color: var(--white);
}
.mat-mdc-table .mat-mdc-row:hover #keysIcon {
    color: var(--white);
}
.mat-mdc-table .mat-mdc-row:hover #redeployIcon {
    color: var(--white);
}

::ng-deep .action-button-in-cell .mat-badge-content {
    font-family: 'Material Icons';
}

::ng-deep span .mat-badge-content {
    font-family: 'Material Icons';
}

::ng-deep
    .action-button-in-cell
    .mat-badge-small.mat-badge-after
    .mat-badge-content {
    right: 0;
    top: -4px;
}
