<mat-toolbar class="mb-3">
    <span class="aligned-with-icon">
        {{ 'MODULES.MODULE-DETAIL.TITLE' | translate }}
        <mat-icon>view_in_ar</mat-icon>
    </span>
</mat-toolbar>

<xng-breadcrumb class="mb-3"></xng-breadcrumb>

<mat-card class="detail-card">
    <mat-card-header
        *ngIf="!isLoading"
        [ngClass]="{
            'module-detail-card-header-mobile': mobileQuery.matches,
            'module-detail-card-header': !mobileQuery.matches,
        }"
    >
        <mat-card-title
            ><h1>{{ module.name }}</h1>
        </mat-card-title>

        <div
            *ngIf="isLoggedIn() && isAuthorized()"
            [ngClass]="{
                'action-buttons-container-mobile': mobileQuery.matches,
                'action-buttons-container': !mobileQuery.matches,
            }"
        >
            <a
                class="action-button"
                mat-raised-button
                color="accent"
                (click)="train()"
                id="deploy-tool-button"
            >
                {{ 'MODULES.MODULE-DETAIL.DEPLOY.TITLE' | translate }}
            </a>
        </div>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
        <div *ngIf="isLoading" class="spinner spinner-with-description">
            <mat-progress-spinner color="primary" mode="indeterminate">
            </mat-progress-spinner>
        </div>

        <div
            [ngClass]="{
                'grid-1-column': mobileQuery.matches,
                'grid-2-columns-content': !mobileQuery.matches,
            }"
            *ngIf="!isLoading"
        >
            <div class="module-description">
                <markdown
                    [data]="module.description"
                    ngPreserveWhitespaces
                    [disableSanitizer]="true"
                >
                </markdown>

                <img src="{{ module.covers[0] }}" />
            </div>

            <div class="info-container">
                <div class="flex-container">
                    <div *ngIf="doiIsValid()">
                        <img
                            alt="Build Status"
                            src="{{ getDOIBadgeUrl(module.doi) }}"
                        />
                    </div>
                </div>

                <div class="box-container">
                    <div class="box-title">
                        {{ 'MODULES.MODULE-DETAIL.ABOUT' | translate }}
                    </div>
                    <div class="flex-container">
                        <app-chip-with-icon
                            icon="download"
                            text="{{ module.downloadCount }}"
                            tooltip=" {{
                                'MODULES.MODULE-DETAIL.DOWNLOAD-COUNT'
                                    | translate
                            }}"
                        ></app-chip-with-icon>

                        <app-chip-with-icon
                            icon="license"
                            text="{{ module.license }}"
                            tooltip=" {{
                                'MODULES.MODULE-DETAIL.LICENSE' | translate
                            }}"
                        ></app-chip-with-icon>
                    </div>
                </div>

                <div class="box-container">
                    <div class="box-title">
                        {{ 'MODULES.MODULE-DETAIL.TAGS' | translate }}
                    </div>
                    <div class="box-content">
                        <app-chip-with-icon
                            *ngFor="let tag of tags"
                            text="{{ tag }}"
                            [image]="'../../../assets/images/tag.png'"
                            chipStyle="default"
                        ></app-chip-with-icon>
                    </div>
                    @if (module.tags.length >= 7) {
                        <span class="collapse-tags" (click)="toggleEllipsis()"
                            ><b>{{
                                tagsCollapsed ? 'Show more' : 'Show less'
                            }}</b></span
                        >
                    }
                </div>

                <div class="box-container">
                    <div class="box-title">
                        {{
                            'MODULES.MODULE-DETAIL.ADDITIONAL-RESOURCES.TITLE'
                                | translate
                        }}
                    </div>
                    <div class="grid-resources">
                        <a
                            class="action-button"
                            mat-raised-button
                            href="https://bioimage.io/#/?id={{ module.id }}"
                            target="_blank"
                        >
                            <span class="aligned-with-icon">
                                <img
                                    src="../../../../../assets/images/bioimage-logo.png"
                                />
                                {{ 'GENERAL-BUTTONS.BIOIMAGE' | translate }}
                            </span>
                        </a>
                    </div>
                </div>

                <div *ngIf="module.created" class="box-container">
                    <div class="box-title">
                        {{ 'MODULES.MODULE-DETAIL.DATES' | translate }}
                    </div>
                    <div class="flex-container">
                        <app-chip-with-icon
                            icon="calendar_month"
                            text="{{ module.created }}"
                            tooltip=" {{
                                'MODULES.MODULE-DETAIL.CREATED' | translate
                            }}"
                        ></app-chip-with-icon>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
