.top-navbar-container {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0 0.5rem;
    margin-bottom: 10px;
}

.spacer {
    flex: 1 1 auto;
}

.dashboard-logo {
    width: 200px;
}

.dashboard-logo-container {
    display: flex;
    align-items: center;
}

.profile-button {
    z-index: 1050;
}

.profile-button-mobile {
    z-index: 1050;
    padding: 0;
    min-width: fit-content;
    & mat-icon {
        margin-right: 0px;
        height: 100%;
        width: 100%;
    }
}

.login-btn-mobile {
    padding: 0;
    justify-content: flex-end;
    & mat-icon {
        margin-right: 0px;
    }
}

.user-log {
    margin-left: 8px;
}

.login-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

::ng-deep {
    .mat-mdc-menu-panel.logoutDropdownMenu {
        width: 215px;
    }
}

.corner-ribbon {
    width: 180px;
    background: #e43;
    position: absolute;
    top: 5px;
    left: -85px;
    text-align: center;
    line-height: 30px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index: 1000;
    font-size: 1rem;
}

.small-icon {
    span {
        font-size: 22px !important;
        align-content: center;
        height: 100%;
    }
}
