.top-navbar-container{
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0 0.5rem;
}

.spacer {
  flex: 1 1 auto;
}

.dashboard-logo {
  width: 200px;
}

.dashboard-logo-container{
  display: flex;
  align-items: center;
}

.profile-button{
  z-index: 1050;
}

::ng-deep {.mat-mdc-menu-panel.logoutDropdownMenu { width: 215px; } } 