<app-stepper-form
    [title]="title"
    [numberOfSteps]="1"
    [step1]="step1"
    [step1Form]="generalConfForm"
    [step1Title]="step1Title"
    [isLoading]="showLoader"
    [fieldsLoading]="llmFieldsLoading"
    (showHelpButtonEvent)="showHelpButtonChange($event)"
    (submitted)="onSubmit()"
>
    <ng-template #step1>
        <form [formGroup]="generalConfForm" class="form">
            <app-general-conf-form
                [defaultFormValues]="generalConfDefaultValues"
                [showHelp]="showHelp"
                [showFields]="showGeneralFields"
            ></app-general-conf-form>
            <mat-divider></mat-divider>
            <app-llm-conf-form
                [defaultFormValues]="llmConfDefaultValues"
                [showHelp]="showHelp"
                [modelId]="modelId"
                (isLoadingChange)="onLlmLoadingChange($event)"
            ></app-llm-conf-form>
        </form>
    </ng-template>
</app-stepper-form>
