@if (isAPIsixLoading) {
    <div class="spinner-small">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </div>
} @else {
    <mat-card appearance="outlined" class="card">
        <mat-card-header class="mb-3">
            <mat-card-title>{{
                'PROFILE.API-KEYS.TITLE' | translate
            }}</mat-card-title>
        </mat-card-header>

        <mat-card-content class="info-container">
            <div class="title-container">
                <p class="title">
                    {{ 'PROFILE.API-KEYS.LLM-TITLE' | translate }}
                </p>
                <button
                    mat-icon-button
                    matTooltip="{{
                        'GENERAL-BUTTONS.OPEN-DOCUMENTATION' | translate
                    }}"
                    [matTooltipPosition]="'above'"
                    (click)="openApiLlmDocumentation()"
                >
                    <mat-icon color="accent">help</mat-icon>
                </button>
            </div>

            <p class="description">
                {{ 'PROFILE.API-KEYS.LLM-DESCRIPTION' | translate }}
            </p>

            <div class="services-container">
                <!-- APISIX -->
                <div class="credentials-container">
                    <button class="icon-button">
                        <mat-icon class="icon"> key </mat-icon>
                    </button>

                    <span class="buttons-container">
                        <div class="form-field">
                            <div class="form-field">
                                <mat-form-field
                                    class="full-width mr-3 no-margin"
                                    subscriptSizing="dynamic"
                                >
                                    <input
                                        matInput
                                        placeholder="API key identifier"
                                        [(ngModel)]="newKeyId"
                                    />
                                </mat-form-field>
                            </div>
                        </div>
                        <button
                            mat-fab
                            extended
                            style="color: white"
                            [disabled]="newKeyId.trim().length === 0"
                            (click)="createAPIsixKey(newKeyId)"
                        >
                            <mat-icon>add</mat-icon>
                            Create
                        </button>
                    </span>
                </div>

                @for (apiKey of apisixKeys; track apiKey) {
                    <div class="credentials-container">
                        <span class="buttons-container">
                            <div class="form-field">
                                <mat-form-field
                                    class="full-width mr-3 no-margin"
                                    subscriptSizing="dynamic"
                                >
                                    <mat-label>{{ apiKey.id }}</mat-label>
                                    <input
                                        matInput
                                        [type]="
                                            apiKey.key.hide
                                                ? 'password'
                                                : 'text'
                                        "
                                        disabled="true"
                                        [value]="apiKey.key.value"
                                    />

                                    <button
                                        mat-icon-button
                                        matSuffix
                                        [matTooltip]="
                                            apiKey.key.hide ? 'Show' : 'Hide'
                                        "
                                        (click)="
                                            apiKey.key.hide = !apiKey.key.hide
                                        "
                                        [attr.aria-label]="'Hide password'"
                                        [attr.aria-pressed]="apiKey.key.hide"
                                    >
                                        <mat-icon color="accent">{{
                                            apiKey.key.hide
                                                ? 'visibility_off'
                                                : 'visibility'
                                        }}</mat-icon>
                                    </button>
                                </mat-form-field>
                                <button
                                    mat-icon-button
                                    matTooltip="Copy"
                                    [copy-to-clipboard]="apiKey.key.value"
                                >
                                    <mat-icon matSuffix color="accent">
                                        content_copy</mat-icon
                                    >
                                </button>
                                <button
                                    matTooltip=" {{
                                        'PROFILE.REVOKE' | translate
                                    }}"
                                    mat-mini-fab
                                    color="warn"
                                    (click)="deleteAPIsixKey(apiKey.id)"
                                >
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </span>
                    </div>
                }
            </div>
        </mat-card-content>
    </mat-card>
}
