<app-stepper-form
    [title]="title"
    [numberOfSteps]="2"
    [step1]="step1"
    [step2]="step2"
    [step1Form]="generalConfForm"
    [step2Form]="hardwareConfForm"
    [step1Title]="step1Title"
    [step2Title]="step2Title"
    [warningMessage]="warningMessage"
    [isLoading]="showLoader"
    (showHelpButtonEvent)="showHelpButtonChange($event)"
>
    <ng-template #step1>
        <form [formGroup]="generalConfForm" class="form">
            <app-general-conf-form
                class="child-form-container"
                [defaultFormValues]="generalConfDefaultValues"
                [showHelp]="showHelp"
                [showFields]="showGeneralFields"
            ></app-general-conf-form>
            <mat-divider></mat-divider>
            <app-ai4life-conf-form
                [defaultFormValues]="ai4lifeConfDefaultValues"
                [showHelp]="showHelp"
            ></app-ai4life-conf-form>
        </form>
    </ng-template>
    <ng-template #step2>
        <form [formGroup]="hardwareConfForm" class="form">
            <app-hardware-conf-form
                class="child-form-container"
                [defaultFormValues]="hardwareConfDefaultValues"
                [showHelp]="showHelp"
                [showFields]="showHardwareFields"
            ></app-hardware-conf-form>
        </form>
    </ng-template>
</app-stepper-form>
