.general-conf-form {
    min-height: 575px;
}

.title-and-toggles {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-and-info {
    display: flex;
    align-items: center;
}

.service-to-run-container {
    display: flex;
    justify-content: space-between;
}

.password-input-field {
    width: 50%;
}

.password-input-field-mobile {
    width: 100%;
}

.service-to-run-chip.mdc-evolution-chip--selected {
    ::ng-deep .mdc-evolution-chip__text-label {
        color: white !important;
    }

    ::ng-deep .mdc-evolution-chip__checkmark {
        color: white !important;
    }
}

.mat-hint-text {
    -webkit-font-smoothing: antialiased;
    font-family: var(
        --mdc-typography-caption-font-family,
        var(
            --mdc-typography-font-family,
            'Raleway',
            Arial,
            Helvetica,
            sans-serif
        )
    );
    font-size: var(--mdc-typography-caption-font-size, 12px);
    line-height: var(--mdc-typography-caption-line-height, 20px);
    font-weight: var(--mdc-typography-caption-font-weight, 400);
    letter-spacing: var(
        --mdc-typography-caption-letter-spacing,
        0.0333333333em
    );
    -webkit-text-decoration: var(
        --mdc-typography-caption-text-decoration,
        inherit
    );
    text-decoration: var(--mdc-typography-caption-text-decoration, inherit);
    text-transform: var(--mdc-typography-caption-text-transform, none);
}

.display-inline {
    display: inline;
}

.service-to-run-chips {
    display: flex;
    flex-direction: row;
    align-items: center;
}

:host ::ng-deep .mat-mdc-form-field-error-wrapper {
    padding: 0 10px;
}

.field-with-info {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
