<form [formGroup]="generalConfFormGroup" class="general-conf-form">
    <span class="title-and-toggles">
        <h4>
            {{ 'CATALOG.CONF-FORMS.GENERAL.SUBTITLE' | translate }}
        </h4>

        @if (_showFields.co2EmissionsInput) {
            <div class="toggle-and-info">
                <mat-slide-toggle formControlName="co2EmissionsInput">
                    {{
                        'CATALOG.MODULE-TRAIN.GENERAL-CONF-FORM.CO2' | translate
                    }}
                </mat-slide-toggle>
                <button
                    mat-icon-button
                    matTooltip="{{
                        'GENERAL-BUTTONS.OPEN-DOCUMENTATION' | translate
                    }}"
                    [matTooltipPosition]="'above'"
                    (click)="openCo2Docs()"
                >
                    <mat-icon color="accent">help</mat-icon>
                </button>
            </div>
        }
    </span>

    <div
        [ngClass]="{
            'form-flex': mobileQuery.matches,
            'form-grid': !mobileQuery.matches,
        }"
    >
        <mat-form-field appearance="fill">
            <mat-label>{{
                'CATALOG.CONF-FORMS.GENERAL.DEPLOYMENT-TITLE' | translate
            }}</mat-label>
            <input
                id="deployment-title"
                matInput
                placeholder=""
                formControlName="titleInput"
                maxlength="45"
            />
            @if (generalConfFormGroup.get('titleInput')?.errors?.['required']) {
                <mat-error>
                    {{
                        'CATALOG.CONF-FORMS.GENERAL.DEPLOYMENT-TITLE-REQUIRED'
                            | translate
                    }}
                </mat-error>
            }
            @if (_showHelp) {
                <mat-hint>{{ _defaultFormValues.title.description }}</mat-hint>
            }
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{
                'CATALOG.CONF-FORMS.GENERAL.DEPLOYMENT-DESCRIPTION' | translate
            }}</mat-label>
            <input
                matInput
                placeholder="{{
                    'CATALOG.CONF-FORMS.GENERAL.DEPLOYMENT-DESCRIPTION-PLACEHOLDER'
                        | translate
                }}"
                formControlName="descriptionInput"
            />
            @if (_showHelp) {
                <mat-hint>{{ _defaultFormValues.desc?.description }}</mat-hint>
            }
        </mat-form-field>
        @if (_showFields.serviceToRunChip) {
            <div [ngClass]="{ 'mt-3': _showHelp }">
                <div
                    [ngClass]="{
                        'form-flex': mobileQuery.matches,
                        'service-to-run-container': !mobileQuery.matches,
                        'mb-5': _showHelp && isPasswodRequired,
                    }"
                >
                    <div>
                        <mat-label>{{
                            'CATALOG.MODULE-TRAIN.GENERAL-CONF-FORM.SERVICE-TO-RUN'
                                | translate
                        }}</mat-label>
                        <div class="service-to-run-chips">
                            <mat-chip-listbox
                                aria-label="Fish selection"
                                formControlName="serviceToRunChip"
                                multiple="false"
                            >
                                @for (
                                    serviceToRunOption of serviceToRunOptions;
                                    track serviceToRunOption
                                ) {
                                    <mat-chip-option
                                        #chipOption
                                        color="accent"
                                        class="service-to-run-chip"
                                        [value]="serviceToRunOption.value"
                                        [selected]="
                                            _defaultFormValues.service.value ===
                                            serviceToRunOption.value
                                        "
                                        [selectable]="
                                            chipOption.selected ? false : true
                                        "
                                        >{{
                                            serviceToRunOption.viewValue
                                                | titlecase
                                        }}</mat-chip-option
                                    >
                                }
                            </mat-chip-listbox>
                            @if (_showFields.infoButton) {
                                <button
                                    mat-icon-button
                                    matTooltip="{{
                                        'GENERAL-BUTTONS.OPEN-DOCUMENTATION'
                                            | translate
                                    }}"
                                    [matTooltipPosition]="'above'"
                                    (click)="openFedServerDocs()"
                                >
                                    <mat-icon color="accent">help</mat-icon>
                                </button>
                            }
                        </div>
                    </div>
                    @if (isPasswodRequired) {
                        <mat-form-field
                            appearance="fill"
                            [ngClass]="{
                                'password-input-field-mobile':
                                    mobileQuery.matches,
                                'password-input-field': !mobileQuery.matches,
                                'mt-2': _showHelp,
                            }"
                            [@inOutAnimation]
                        >
                            <mat-label>{{
                                'CATALOG.MODULE-TRAIN.GENERAL-CONF-FORM.PASSWORD'
                                    | translate
                            }}</mat-label>
                            <input
                                [type]="
                                    hideServiceToRunPassword
                                        ? 'password'
                                        : 'text'
                                "
                                [@inOutAnimation]
                                matInput
                                placeholder="At least 9 characters"
                                formControlName="serviceToRunPassInput"
                                autocomplete="off"
                            />
                            <mat-icon
                                matSuffix
                                (click)="
                                    hideServiceToRunPassword =
                                        !hideServiceToRunPassword
                                "
                                color="primary"
                            >
                                {{
                                    hideServiceToRunPassword
                                        ? 'visibility_off'
                                        : 'visibility'
                                }}</mat-icon
                            >
                            @if (
                                generalConfFormGroup.get(
                                    'serviceToRunPassInput'
                                )?.errors?.['required']
                            ) {
                                <mat-error>
                                    {{
                                        'CATALOG.MODULE-TRAIN.GENERAL-CONF-FORM.JUPYTERLAB-PASS-REQUIRED'
                                            | translate
                                    }}
                                </mat-error>
                            }
                            @if (
                                generalConfFormGroup.get(
                                    'serviceToRunPassInput'
                                )?.errors?.['minlength']
                            ) {
                                <mat-error>
                                    {{
                                        'CATALOG.MODULE-TRAIN.GENERAL-CONF-FORM.JUPYTERLAB-PASS-LENGTH-ERROR'
                                            | translate
                                    }}
                                </mat-error>
                            }
                            @if (_showHelp) {
                                <mat-hint>{{
                                    _defaultFormValues.jupyter_password
                                        ?.description
                                }}</mat-hint>
                            }
                        </mat-form-field>
                    }
                </div>
                @if (_showHelp) {
                    <span class="mat-hint-text">
                        {{ _defaultFormValues.service.description }}
                    </span>
                }
            </div>
        }
    </div>

    @if (_showFields.dockerImageInput && _showFields.dockerTagSelect) {
        <h4 [ngClass]="{ 'mt-3': _showHelp }">
            {{
                'CATALOG.MODULE-TRAIN.GENERAL-CONF-FORM.DOCKER-OPTIONS'
                    | translate
            }}
        </h4>
        <mat-divider class="mt-3 mb-3"></mat-divider>
        <div
            [ngClass]="{
                'form-flex': mobileQuery.matches,
                'form-grid': !mobileQuery.matches,
            }"
        >
            <mat-form-field>
                <mat-label>{{
                    'CATALOG.MODULE-TRAIN.GENERAL-CONF-FORM.DOCKER-IMAGE'
                        | translate
                }}</mat-label>
                <input
                    matInput
                    placeholder=""
                    formControlName="dockerImageInput"
                />
                @if (_showHelp) {
                    <mat-hint>{{
                        _defaultFormValues.docker_image.description
                    }}</mat-hint>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{
                    'CATALOG.MODULE-TRAIN.GENERAL-CONF-FORM.DOCKER-TAG'
                        | translate
                }}</mat-label>
                <mat-select formControlName="dockerTagSelect">
                    @for (
                        dockerTagOption of dockerTagOptions;
                        track dockerTagOption
                    ) {
                        <mat-option [value]="dockerTagOption.value">
                            {{ dockerTagOption.viewValue }}
                        </mat-option>
                    }
                </mat-select>
                @if (_showHelp) {
                    <mat-hint>{{
                        _defaultFormValues.docker_tag.description
                    }}</mat-hint>
                }
            </mat-form-field>
        </div>
    }

    @if (_showFields.cvatFields) {
        <h4 [ngClass]="{ 'mt-3': _showHelp }">
            {{
                'CATALOG.MODULE-TRAIN.GENERAL-CONF-FORM.CVAT-CREDENTIALS'
                    | translate
            }}
        </h4>
        <mat-divider class="mt-3 mb-3"></mat-divider>
        <div
            [ngClass]="{
                'form-flex': mobileQuery.matches,
                'form-grid': !mobileQuery.matches,
            }"
        >
            <mat-form-field>
                <mat-label>{{
                    'CATALOG.MODULE-TRAIN.GENERAL-CONF-FORM.CVAT-USERNAME'
                        | translate
                }}</mat-label>
                <input
                    matInput
                    placeholder=""
                    value=""
                    type="text"
                    formControlName="cvatUsernameInput"
                />
                @if (
                    generalConfFormGroup.get('cvatUsernameInput')?.errors?.[
                        'required'
                    ]
                ) {
                    <mat-error>
                        {{
                            'CATALOG.MODULE-TRAIN.GENERAL-CONF-FORM.CVAT-USERNAME-REQUIRED'
                                | translate
                        }}
                    </mat-error>
                }
                @if (_showHelp) {
                    <mat-hint>{{
                        _defaultFormValues.cvat_username?.description
                    }}</mat-hint>
                }
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>{{
                    'CATALOG.MODULE-TRAIN.GENERAL-CONF-FORM.CVAT-PASSWORD'
                        | translate
                }}</mat-label>
                <input
                    [type]="hideCvatPassword ? 'password' : 'text'"
                    matInput
                    formControlName="cvatPasswordInput"
                    autocomplete="off"
                />
                <mat-icon
                    matSuffix
                    (click)="hideCvatPassword = !hideCvatPassword"
                    color="accent"
                >
                    {{ hideCvatPassword ? 'visibility_off' : 'visibility' }}
                </mat-icon>
                @if (
                    generalConfFormGroup.get('cvatPasswordInput')?.errors?.[
                        'required'
                    ]
                ) {
                    <mat-error>
                        {{
                            'CATALOG.MODULE-TRAIN.GENERAL-CONF-FORM.CVAT-PASSWORD-REQUIRED'
                                | translate
                        }}
                    </mat-error>
                }
                @if (_showHelp) {
                    <mat-hint>{{
                        _defaultFormValues.cvat_password?.description
                    }}</mat-hint>
                }
            </mat-form-field>
        </div>
    }

    @if (_showFields.ai4lifeFields) {
        <h4 [ngClass]="{ 'mt-3': _showHelp }">
            {{
                'CATALOG.MODULE-TRAIN.GENERAL-CONF-FORM.MODEL-OPTIONS'
                    | translate
            }}
        </h4>
        <mat-divider class="mt-3 mb-3"></mat-divider>
        <div
            [ngClass]="{
                'form-flex': mobileQuery.matches,
                'form-grid': !mobileQuery.matches,
            }"
        >
            <mat-form-field>
                <mat-label>{{
                    'CATALOG.MODULE-TRAIN.GENERAL-CONF-FORM.MODEL-ID'
                        | translate
                }}</mat-label>
                <mat-select formControlName="modelIdSelect">
                    @for (
                        modelIdOption of modelIdOptions;
                        track modelIdOption
                    ) {
                        <mat-option [value]="modelIdOption.value">
                            {{ modelIdOption.viewValue }}
                        </mat-option>
                    }
                </mat-select>
                @if (_showHelp) {
                    <mat-hint>{{
                        _defaultFormValues.model_id?.description
                    }}</mat-hint>
                }
            </mat-form-field>
        </div>
    }

    @if (_showFields.batchFields) {
        <span class="toggle-and-info">
            <h4 class="mt-1 mb-1" [ngClass]="{ 'mt-3': _showHelp }">
                {{
                    'CATALOG.MODULE-TRAIN.GENERAL-CONF-FORM.BATCH-OPTIONS'
                        | translate
                }}
            </h4>
            <button
                mat-icon-button
                matTooltip="{{
                    'GENERAL-BUTTONS.OPEN-DOCUMENTATION' | translate
                }}"
                [matTooltipPosition]="'above'"
                (click)="openBatchTrainingDocs()"
            >
                <mat-icon color="accent">help</mat-icon>
            </button>
        </span>

        <p class="limited-width-container mt-0">
            {{
                'CATALOG.MODULE-TRAIN.GENERAL-CONF-FORM.BATCH-EXPLANATION'
                    | translate
            }}
        </p>

        <mat-divider class="mb-3"></mat-divider>

        <mat-tab-group
            mat-stretch-tabs="false"
            mat-align-tabs="start"
            class="mb-1"
            (selectedTabChange)="clearFileData()"
        >
            <mat-tab
                label="{{
                    'CATALOG.MODULE-TRAIN.GENERAL-CONF-FORM.UPLOAD-FILE'
                        | translate
                }}"
            >
                <div class="form-flex tab-content">
                    <app-single-file-upload
                        [file]="
                            generalConfFormGroup.get('batchFile')?.value ?? null
                        "
                        (fileUploaded)="updateBatchFile($event)"
                    ></app-single-file-upload>
                </div>
            </mat-tab>

            <mat-tab
                label="{{
                    'CATALOG.MODULE-TRAIN.GENERAL-CONF-FORM.BATCH-COMMANDS'
                        | translate
                }}"
            >
                <div
                    class="form-flex-column tab-content limited-width-container"
                >
                    <app-text-editor
                        [placeholder]="textEditorPlaceholder"
                        (textChange)="onCommandTextChange($event)"
                    ></app-text-editor>

                    <div class="textarea-buttons">
                        <button
                            mat-icon-button
                            matTooltip="Copy"
                            matTooltipPosition="above"
                            [copy-to-clipboard]="commandText"
                        >
                            <mat-icon matSuffix color="accent">
                                content_copy</mat-icon
                            >
                        </button>
                        <button
                            mat-fab
                            extended
                            [ngClass]="{
                                'no-file-uploaded-button':
                                    textManuallyModified ||
                                    $safeNavigationMigration(
                                        generalConfFormGroup.get('batchFile')
                                            ?.value
                                    ) === null,
                                'file-uploaded-button':
                                    !textManuallyModified &&
                                    $safeNavigationMigration(
                                        generalConfFormGroup.get('batchFile')
                                            ?.value
                                    ) !== null,
                            }"
                            [disabled]="commandText === ''"
                            (click)="createFileFromText()"
                        >
                            <mat-icon>attach_file</mat-icon>
                            {{ 'FILE-UPLOAD.GENERATE-FILE' | translate }}*
                        </button>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
        @if (_showHelp) {
            <mat-hint style="font-size: 12px">
                {{
                    'CATALOG.MODULE-TRAIN.GENERAL-CONF-FORM.BATCH-HELP'
                        | translate
                }}
            </mat-hint>
        }
    }
</form>
