@use 'sass:map';


.container {
    position: absolute;
    top: 80px;
    bottom: 0px;
    left: 0;
    right: 0;
}

.sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    background: var(--white);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.sidenav-item {
    padding: 0 25px;
}

.sidenav-item:hover .mdc-list-item {
    background-color: var(--accent);
    color: var(--white);
}

.sidenav-link {

    border-radius: 3px;
    color: var(--greyish-brown);
    font-size: 15px;
    padding: 15px 20px;

}

.active {
    background-color: var(--accent);
    color: var(--white);
}

.other-links {
    display: flex;
    align-items: center;
    color: var(--warm-grey);
    & .mat-icon {
        transform: scale(0.7)
    }
}

.mat-drawer-content{
    background-color: var(--white-three);
}

