
@use 'sass:map';


.container {
    position: absolute;
    top: 80px;
    bottom: 0px;
    left: 0;
    right: 0;
  }
  
  .sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    background: var(--white);
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .sidenav-item{
    padding: 0 25px;
  }

  .sidenav-item:hover .mdc-list-item{
    background-color: var(--primary);
    color: var(--white);
  }

  .sidenav-link{
    
    border-radius: 3px;
    color: var(--greyish-brown);
    font-size: 15px;
    padding: 15px 20px;

  }

  .active{
    background-color: var(--primary);
    color: var(--white);
  }

  .other-links{
    color: var(--warm-grey)
  }