@use 'sass:map';

.container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
}

.sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    min-height: 655px;
    background: var(--white-three);
}

.main-info {
    display: flex;
    flex-direction: column;
}

.corner-ribbon {
    width: 200px;
    background: #e43;
    position: absolute;
    top: 0px;
    left: -80px;
    text-align: center;
    line-height: 40px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index: 1000;
}

.dashboard-logo-container {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    height: 80px;
    justify-content: center;

    & img {
        max-width: 200px;
    }
}

.sidenav-title {
    display: flex;
    align-items: center;
    color: var(--warm-grey);
    margin-bottom: 0.5em;
    margin-left: 1rem;
    gap: 0.5em;
    & .mat-icon {
        transform: scale(0.8);
    }
}

.sidenav-item {
    padding: 0 25px;
}

.sidenav-link {
    border-radius: 3px;
    color: var(--greyish-brown);
    font-size: 15px;
    padding: 15px 20px;

    & ::ng-deep .mdc-list-item__content .mdc-list-item__primary-text {
        white-space: break-spaces;
    }
}

.bottom-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 1em 1.5em 1em;
}

.acknowledgments {
    text-align: center;
    font-size: 0.9rem;
}

.bottom-images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.powered-by-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.sidenav-content {
    background-color: var(--white) !important;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nomad-banner {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-self: center;
    border: 5px var(--neon-red) solid;
    border-radius: 20px;
    width: 70%;
    background: rgb(255, 0, 0, 0.1);
    margin: 0.5em;
    padding: 15px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    color: red;
    mat-icon {
        overflow: visible;
    }
}

::ng-deep .sidenav .mat-drawer-inner-container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    overflow-x: hidden !important;
}

@media (max-width: 1250px) {
    ::ng-deep .sidenav .mat-drawer-inner-container {
        overflow: scroll !important;
    }
}

.sidenav-item:hover .mdc-list-item {
    background-color: var(--accent);
    color: var(--white);
}

.sidenav-link:hover {
    & ::ng-deep .mdc-list-item__content .mdc-list-item__primary-text {
        color: var(--white);
    }
}

.active {
    background-color: var(--accent);
    & ::ng-deep .mdc-list-item__content .mdc-list-item__primary-text {
        color: var(--white);
    }
}
