<mat-sidenav-container class="container mat-primary">
    <mat-sidenav #sidenav mode="side" opened class="sidenav"
        [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top"
        [fixedBottomGap]="options.value.bottom">

        <nav id="sidebarMenu" class="">
            <mat-nav-list>
                <ng-container *ngFor="let link of mainLinks">
                    <mat-list-item *ngIf="!link.isRestricted || (link.isRestricted && isLoggedIn())" class="sidenav-item">
                        <a mat-list-item routerLink="{{ link.url }}" routerLinkActive="active" class="sidenav-link"  [routerLinkActiveOptions]="link.url === '/' ? {exact: true} : {exact: false}">{{ link.name | translate }}</a>
                    </mat-list-item>
                </ng-container>
                
                <mat-divider class="mt-3 mb-3"></mat-divider>
                <h4 class="other-links ml-3"> {{"SIDENAV.OTHER-LINKS" | translate}}
                    <mat-icon>open_in_new</mat-icon>    
                </h4>
                

                <mat-list-item *ngFor="let link of otherLinks"  class="sidenav-item">
                    <a mat-list-item href="{{ link.url }}"   routerLinkActive="active" class="sidenav-link" target="_blank">{{ link.name | translate }}</a>
                </mat-list-item>
              </mat-nav-list>
        </nav>
    </mat-sidenav>
    <mat-sidenav-content class="pl-3 pr-3">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
    
</mat-sidenav-container>
