<mat-toolbar class="mb-3 marketplace-toolbar">
  <span>Marketplace <mat-icon>shopping_cart</mat-icon></span>
  <form [formGroup]="searchFormGroup" class="example-form">
      <mat-form-field class="">   
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>Search modules</mat-label> 
        <input matInput type="search" formControlName="search" placeholder="Enter text to search">
      </mat-form-field>
  </form>
</mat-toolbar>

<div class="modules-cards-container">
    <div fxFlex *ngFor="let module of (modules | search:this.searchFormGroup.get('search')?.value) as modules" class="m-2">
    <app-module-card [module]="module"></app-module-card>
</div>

  <!--   <div class="paginator mat-elevation-z4" *ngIf="modules.length !== 0">
      <md-paginator
        [length]="paginatorSize"
        [pageSize]="numberOfmodulesInPage"
        [pageSizeOptions]="[12, 24]"
        (page)="updatemodulesInPage($event)">
      </md-paginator>
    </div> -->
</div> 
