.content {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.modules-cards-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
}

.marketplace-toolbar {
    background-color: var(--white);
    justify-content: space-between;
    align-items: baseline;
    & span {
        display: flex;
        align-items: center;
        align-self: baseline;
    }
}

.mobile {
    display: flex;
    flex-direction: column;
    padding: 0;
    row-gap: 0.5em;
}

.search-form-mobile {
    width: 100%;
}

.search-field-mobile {
    width: 100%;
}

.search-and-results-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.results-text {
    font-style: italic;
    font-size: small;
    align-self: flex-end !important;
}

::ng-deep .mat-mdc-tab-header {
    width: 200px;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
