.content {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.marketplace-toolbar {
    margin-top: 16px;
    gap: 2em;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    height: min-content;
    background-color: var(--white);
    & span {
        display: flex;
        align-items: center;
        align-self: baseline;
    }
}

.mobile {
    display: flex;
    flex-direction: column;
    padding: 0;
    row-gap: 0.5em;
}

.marketplaces-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5em;
}

::ng-deep .mat-mdc-tab-header {
    width: min-content;
    align-self: center;
    border-radius: 15px;
    padding: 0 20px;

    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
        rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

::ng-deep .mat-mdc-tab-labels .mat-mdc-tab:first-child {
    margin-right: 3.5em;
    font-weight: bold;
    font-size: large;
}

::ng-deep .mat-mdc-tab-labels .mat-mdc-tab:nth-child(2) {
    padding: 0;
    font-size: medium;
    opacity: 0.8;
}

::ng-deep .mat-mdc-tab-labels .mat-mdc-tab {
    font-size: medium;
    padding: 0 2em;
}

::ng-deep .mat-mdc-tab .mdc-tab__text-label {
    color: var(--white) !important;
}

::ng-deep .mdc-tab-indicator .mdc-tab-indicator__content {
    border-color: var(--white) !important;
    border-width: 3px !important;
}
