
<h4>Hardware Options</h4>


<form [formGroup]="hardwareConfFormGroup">
<div class="form-grid">
    <mat-form-field class="example-full-width">
        <mat-label>Number of CPUs</mat-label>
        <input matInput placeholder="" value="" type="number" formControlName="cpuNumberInput">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Number of GPUs</mat-label>
        <input matInput placeholder="" value="" type="number" min="0" formControlName="gpuNumberInput">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>GPU model</mat-label>
        <mat-select formControlName="gpuModelSelect" >
            <mat-option *ngFor="let gpuModelOption of gpuModelOptions" [value]="gpuModelOption.value">
                {{gpuModelOption.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>RAM memory (in MB)</mat-label>
        <input matInput placeholder="" value="" type="number" formControlName="ramMemoryInput">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Disk memory (in MB)</mat-label>
        <input matInput placeholder="" value="" type="number" formControlName="diskMemoryInput">
    </mat-form-field>
</div>

</form>
