<mat-toolbar
    [ngClass]="{
        'mb-3': !mobileQuery.matches
    }"
>
    <span id="title" class="aligned-with-icon">
        {{ 'PROFILE.TITLE' | translate }}
        <mat-icon>person</mat-icon>
    </span>
</mat-toolbar>

<ng-template #loading>
    <div class="spinner spinner-with-text">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
        <span *ngIf="isLoginLoading"> {{ 'PROFILE.LOGIN' | translate }}</span>
    </div>
</ng-template>

<ng-container *ngIf="!isLoading; else loading">
    <div
        [ngClass]="{
            'grid-mobile': mobileQuery.matches,
            grid: !mobileQuery.matches
        }"
    >
        <mat-card appearance="outlined" class="card">
            <mat-card-header>
                <mat-card-title>{{
                    'PROFILE.DETAILS' | translate
                }}</mat-card-title>
            </mat-card-header>

            <mat-card-content class="info-container">
                <div>
                    <p class="grey-text">Full name</p>
                    <p>{{ this.name }}</p>
                </div>

                <div>
                    <p class="grey-text">Email</p>
                    <p>{{ this.email }}</p>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card appearance="outlined" class="card">
            <mat-card-header>
                <mat-card-title>{{ 'PROFILE.VOS' | translate }}</mat-card-title>
            </mat-card-header>

            <mat-card-content class="info-container">
                <mat-list role="list">
                    <mat-list-item role="listitem" *ngFor="let vo of vos"
                        >{{ vo.name }}
                        <mat-chip
                            *ngFor="let role of vo.roles"
                            class="ml-2 mr-2"
                            >{{ role }}</mat-chip
                        >
                    </mat-list-item>
                </mat-list>

                <!-- <div *ngFor="let vo of vos" class="info-element">
                    <p class="vo-name">{{ vo.name }}</p>
                    <mat-chip-set>
                        <mat-chip *ngFor="let role of vo.roles">{{
                            role
                        }}</mat-chip>
                    </mat-chip-set>
                </div> -->
            </mat-card-content>
        </mat-card>
    </div>

    <mat-card appearance="outlined" class="card">
        <mat-card-header>
            <mat-card-title>{{
                'PROFILE.LINKED-SERVICES' | translate
            }}</mat-card-title>
        </mat-card-header>

        <mat-card-content class="info-container">
            <mat-list>
                <mat-list-item>
                    <mat-icon matListItemIcon>folder</mat-icon>
                    <div matListItemTitle class="list-element">
                        <p class="service-name">
                            {{ 'PROFILE.NEXTCLOUD.AI4OS' | translate }}
                        </p>
                        <mat-form-field
                            class="full-width"
                            subscriptSizing="dynamic"
                        >
                            <input
                                matInput
                                disabled="true"
                                value="{{ ai4osEndpoint }}"
                            />
                        </mat-form-field>

                        <button
                            *ngIf="serviceCredentials.length === 0; else resync"
                            class="buttons"
                            mat-raised-button
                            color="accent"
                            (click)="syncRclone(ai4osEndpoint)"
                        >
                            {{ 'PROFILE.SYNC' | translate }}
                            <mat-icon>sync</mat-icon>
                        </button>
                        <ng-template #resync
                            ><button
                                class="buttons"
                                mat-raised-button
                                color="accent"
                                (click)="syncRclone(ai4osEndpoint)"
                            >
                                {{ 'PROFILE.RESYNC' | translate }}
                                <mat-icon>sync</mat-icon>
                            </button></ng-template
                        >
                    </div>
                </mat-list-item>

                <mat-divider></mat-divider>

                <mat-list-item>
                    <mat-icon matListItemIcon>folder</mat-icon>
                    <div
                        matListItemTitle
                        class="list-element"
                        [formGroup]="customEndpointFormGroup"
                    >
                        <p class="service-name">
                            {{ 'PROFILE.NEXTCLOUD.CUSTOM' | translate }}
                        </p>
                        <mat-form-field
                            class="full-width"
                            subscriptSizing="dynamic"
                        >
                            <input
                                matInput
                                formControlName="value"
                                value="{{ customEndpoint }}"
                            />
                        </mat-form-field>

                        <button
                            class="buttons"
                            mat-raised-button
                            color="accent"
                            (click)="
                                syncRclone(
                                    customEndpointFormGroup.get('value')
                                        ?.value ?? ''
                                )
                            "
                        >
                            {{ 'PROFILE.SYNC' | translate }}
                            <mat-icon>sync</mat-icon>
                        </button>
                    </div>
                </mat-list-item>

                <mat-divider></mat-divider>
            </mat-list>
        </mat-card-content>
    </mat-card>
</ng-container>
