<mat-toolbar
    [ngClass]="{
        'mb-3': !mobileQuery.matches
    }"
>
    <span id="title" class="aligned-with-icon">
        {{ 'PROFILE.TITLE' | translate }}
        <mat-icon>person</mat-icon>
    </span>
</mat-toolbar>

<ng-template #loading>
    <div class="spinner spinner-with-text">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
        <span *ngIf="isLoginLoading"> {{ 'PROFILE.LOGIN' | translate }}</span>
    </div>
</ng-template>

<ng-container *ngIf="!isLoading; else loading">
    <div
        [ngClass]="{
            'grid-mobile': mobileQuery.matches,
            grid: !mobileQuery.matches
        }"
    >
        <mat-card appearance="outlined" class="card">
            <mat-card-header>
                <mat-card-title>{{
                    'PROFILE.DETAILS' | translate
                }}</mat-card-title>
            </mat-card-header>

            <mat-card-content class="info-container">
                <div>
                    <p class="grey-text">Full name</p>
                    <p>{{ this.name }}</p>
                </div>

                <div>
                    <p class="grey-text">Email</p>
                    <p>{{ this.email }}</p>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card appearance="outlined" class="card">
            <mat-card-header>
                <mat-card-title>{{ 'PROFILE.VOS' | translate }}</mat-card-title>
            </mat-card-header>

            <mat-card-content class="info-container">
                <mat-list role="list">
                    <mat-list-item role="listitem" *ngFor="let vo of vos"
                        >{{ vo.name }}
                        <mat-chip
                            *ngFor="let role of vo.roles"
                            class="ml-2 mr-2"
                            >{{ role }}</mat-chip
                        >
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>

    <mat-card appearance="outlined" class="card">
        <mat-card-header class="mb-3">
            <mat-card-title>{{
                'PROFILE.STORAGE-PROVIDERS' | translate
            }}</mat-card-title>
        </mat-card-header>

        <mat-card-content class="info-container">
            <div class="services-grid">
                <button class="icon-button">
                    <img
                        class="icon"
                        src="../../../../../assets/images/nextcloud-logo.png"
                    />
                </button>
                <p class="service-name">
                    {{ 'PROFILE.NEXTCLOUD.AI4OS' | translate }}
                </p>
                <mat-form-field class="full-width" subscriptSizing="dynamic">
                    <input
                        matInput
                        disabled="true"
                        value="{{ ai4osEndpoint }}"
                    />
                </mat-form-field>

                <div class="buttons-container">
                    <ng-container
                        *ngIf="!credentialsExist(ai4osEndpoint); else resync"
                    >
                        <button
                            class="cursor-default"
                            mat-icon-button
                            matTooltip="Basic"
                            matTooltip=" {{ 'PROFILE.UNLINKED' | translate }}"
                        >
                            <mat-icon>link_off</mat-icon>
                        </button>
                        <button
                            matTooltip=" {{ 'PROFILE.LINK' | translate }}"
                            mat-mini-fab
                            (click)="syncRclone(ai4osEndpoint)"
                        >
                            <mat-icon>sync</mat-icon>
                        </button>
                    </ng-container>

                    <ng-template #resync>
                        <button
                            class="cursor-default"
                            mat-icon-button
                            matTooltip="Basic"
                            matTooltip=" {{ 'PROFILE.LINKED' | translate }}"
                        >
                            <mat-icon>link</mat-icon>
                        </button>
                        <button
                            matTooltip=" {{ 'PROFILE.RELINK' | translate }}"
                            mat-mini-fab
                            class="custom-sync-button"
                            (click)="resyncRclone(ai4osEndpoint)"
                        >
                            <mat-icon>sync</mat-icon>
                        </button>
                    </ng-template>

                    <button
                        [disabled]="!credentialsExist(ai4osEndpoint)"
                        matTooltip=" {{ 'PROFILE.REVOKE' | translate }}"
                        mat-mini-fab
                        color="warn"
                        (click)="unsyncRclone(ai4osEndpoint)"
                    >
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>

                <ng-container *ngFor="let service of customServiceCredentials">
                    <button class="icon-button">
                        <img
                            class="icon"
                            src="../../../../../assets/images/nextcloud-logo.png"
                        />
                    </button>
                    <p class="service-name">
                        {{ 'PROFILE.NEXTCLOUD.CUSTOM' | translate }}
                    </p>
                    <mat-form-field
                        class="full-width"
                        subscriptSizing="dynamic"
                    >
                        <input
                            matInput
                            disabled="true"
                            value="{{ service.server }}"
                        />
                    </mat-form-field>

                    <div class="buttons-container">
                        <ng-container
                            *ngIf="
                                !credentialsExist(service.server);
                                else resync
                            "
                        >
                            <button
                                class="cursor-default"
                                mat-icon-button
                                matTooltip="Basic"
                                matTooltip=" {{
                                    'PROFILE.UNLINKED' | translate
                                }}"
                            >
                                <mat-icon>link_off</mat-icon>
                            </button>
                            <button
                                matTooltip=" {{ 'PROFILE.LINK' | translate }}"
                                mat-mini-fab
                                (click)="syncRclone(service.server)"
                            >
                                <mat-icon>sync</mat-icon>
                            </button>
                        </ng-container>

                        <ng-template #resync>
                            <button
                                class="cursor-default"
                                mat-icon-button
                                matTooltip="Basic"
                                matTooltip=" {{ 'PROFILE.LINKED' | translate }}"
                            >
                                <mat-icon>link</mat-icon>
                            </button>
                            <button
                                matTooltip=" {{ 'PROFILE.RELINK' | translate }}"
                                mat-mini-fab
                                class="custom-sync-button"
                                (click)="resyncRclone(service.server)"
                            >
                                <mat-icon>sync</mat-icon>
                            </button>
                        </ng-template>

                        <button
                            [disabled]="!credentialsExist(service.server)"
                            matTooltip=" {{ 'PROFILE.REVOKE' | translate }}"
                            mat-mini-fab
                            color="warn"
                            (click)="unsyncRclone(service.server)"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </ng-container>

                <mat-divider class="divider"></mat-divider>

                <button class="icon-button" disabled>
                    <img
                        class="icon"
                        src="../../../../../assets/images/nextcloud-logo.png"
                    />
                </button>
                <span class="aligned-with-icon">
                    <p class="service-name">
                        {{ 'PROFILE.NEXTCLOUD.CUSTOM' | translate }}
                    </p>

                    <button
                        mat-icon-button
                        matTooltip="{{
                            'PROFILE.NEXTCLOUD.OPEN-DOCUMENTATION' | translate
                        }}"
                        [matTooltipPosition]="'above'"
                        (click)="openCustomNextcloudDocumentationWeb()"
                    >
                        <mat-icon color="accent">help</mat-icon>
                    </button>
                </span>

                <form [formGroup]="customEndpointFormGroup">
                    <mat-form-field
                        class="full-width"
                        subscriptSizing="dynamic"
                    >
                        <input
                            matInput
                            formControlName="value"
                            placeholder="Custom domain"
                            value="{{ customEndpoint }}"
                        />
                        <mat-error
                            *ngIf="
                                customEndpointFormGroup.get('value')?.value !==
                                    '' &&
                                customEndpointFormGroup
                                    .get('value')
                                    ?.hasError('invalidDomain')
                            "
                        >
                            {{ 'PROFILE.NEXTCLOUD.INVALID-DOMAIN' | translate }}
                        </mat-error>
                    </mat-form-field>
                </form>

                <div class="buttons-container">
                    <button
                        mat-fab
                        extended
                        color="accent"
                        matTooltip="{{ 'PROFILE.ADD' | translate }}"
                        [disabled]="
                            customEndpointFormGroup.get('value')?.value ===
                                '' ||
                            customEndpointFormGroup
                                .get('value')
                                ?.hasError('invalidDomain')
                        "
                        (click)="
                            syncRclone(
                                customEndpointFormGroup.get('value')?.value ??
                                    ''
                            )
                        "
                    >
                        <mat-icon>add</mat-icon>
                        {{ 'PROFILE.ADD' | translate }}
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</ng-container>
