@if (href) {
    <a
        [class]="'ui-btn ui-btn--' + variant"
        [class.ui-btn--icon-only]="icon && !text"
        [class.ui-btn--icon-right]="icon && iconPosition === 'right'"
        [href]="href"
        target="_blank"
        rel="noopener noreferrer"
        [matTooltip]="tooltip ?? ''"
        [matTooltipDisabled]="!tooltip"
        matTooltipClass="ui-tooltip"
        (click)="onLinkClick($event)"
    >
        @if (icon) {
            <mat-icon>{{ icon }}</mat-icon>
        }
        @if (image) {
            <img [src]="image" />
        }
        @if (text) {
            <span>{{ text | translate }}</span>
        }
    </a>
} @else {
    <button
        type="button"
        [class]="'ui-btn ui-btn--' + variant"
        [class.ui-btn--icon-only]="icon && !text"
        [class.ui-btn--icon-right]="icon && iconPosition === 'right'"
        [disabled]="disabled"
        [matTooltip]="tooltip ?? ''"
        [matTooltipDisabled]="!tooltip"
        matTooltipClass="ui-tooltip"
        (click)="onClick($event)"
    >
        @if (icon) {
            <mat-icon>{{ icon }}</mat-icon>
        }
        @if (image) {
            <img [src]="image" />
        }
        @if (text) {
            <span>{{ text | translate }}</span>
        }
    </button>
}
