<div class="confirmation-dialog">
    <div class="confirmation-dialog__top-accent"></div>

    <div class="confirmation-dialog__icon-box">
        <mat-icon class="confirmation-dialog__icon">save</mat-icon>
    </div>

    <h1 mat-dialog-title class="confirmation-dialog__title">
        {{ 'PROFILE.API-KEYS-TAB.GENERATE-DIALOG.TITLE' | translate }}
    </h1>

    <div mat-dialog-content class="confirmation-dialog__content">
        <p>
            {{ 'PROFILE.API-KEYS-TAB.GENERATE-DIALOG.SUBTITLE' | translate }}
        </p>

        <app-ui-credential-row
            [value]="data.key"
            [maskable]="true"
        ></app-ui-credential-row>
    </div>

    <div mat-dialog-actions class="confirmation-dialog__actions">
        <app-ui-button
            variant="primary-outline"
            [text]="'PROFILE.API-KEYS-TAB.GENERATE-DIALOG.OK' | translate"
            (click)="closeDialog()"
        ></app-ui-button>
    </div>
</div>
