<mat-toolbar>
    <h4>
        {{ 'MODULES.OSCAR-DEPLOY.TITLE' | translate }}:
        <strong>{{ moduleTitle }}</strong>
    </h4>
</mat-toolbar>

<form class="example-form" [formGroup]="showHelpForm" ngNativeValidate>
    <div class="breadcrumbs-and-help-container">
        <xng-breadcrumb class="mb-3"></xng-breadcrumb>
        <mat-slide-toggle
            color="accent"
            formControlName="showHelpToggleButton"
            #showHelpToggle
        >
            Show help
        </mat-slide-toggle>
    </div>
</form>

<mat-stepper linear #stepper>
    <mat-step [stepControl]="generalConfigForm">
        <form [formGroup]="generalConfigForm">
            <ng-template matStepLabel>
                {{ 'MODULES.OSCAR-DEPLOY.GENERAL-CONF' | translate }}
            </ng-template>
            <app-general-config-form
                [ngClass]="
                    showHelpForm.get('showHelpToggleButton')?.value
                        ? 'child-form-container-show-help'
                        : 'child-form-container-no-help'
                "
                [defaultFormValues]="generalConfigDefaultValues"
                [showHelp]="showHelpForm.get('showHelpToggleButton')?.value"
            ></app-general-config-form>
            <div class="next-back-buttons">
                <button
                    type="button"
                    mat-raised-button
                    matStepperNext
                    color="accent"
                    [disabled]="!generalConfigForm.valid"
                >
                    {{ 'GENERAL-BUTTONS.NEXT' | translate }}
                </button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="computeConfigForm">
        <form [formGroup]="computeConfigForm">
            <ng-template matStepLabel>{{
                'MODULES.OSCAR-DEPLOY.COMPUTE-CONF' | translate
            }}</ng-template>
            <app-compute-conf-form
                [ngClass]="
                    showHelpForm.get('showHelpToggleButton')?.value
                        ? 'child-form-container-show-help'
                        : 'child-form-container-no-help'
                "
                [defaultFormValues]="computeConfigDefaultValues"
                [showHelp]="showHelpForm.get('showHelpToggleButton')?.value"
            ></app-compute-conf-form>
            <div class="next-back-buttons">
                <button mat-raised-button matStepperPrevious class="mr-2">
                    {{ 'GENERAL-BUTTONS.BACK' | translate }}
                </button>
                <button
                    mat-raised-button
                    matStepperNext
                    color="accent"
                    [disabled]="!computeConfigForm.valid"
                    (click)="createServiceRequest()"
                >
                    {{ 'GENERAL-BUTTONS.NEXT' | translate }}
                </button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="overview">
        <ng-template matStepLabel>{{
            'MODULES.OSCAR-DEPLOY.CONFIRMATION' | translate
        }}</ng-template>

        <h4>
            {{ 'MODULES.OSCAR-DEPLOY.CONFIRMATION-FORM.TITLE' | translate }}
        </h4>

        <div class="overview-container">
            <section class="service-options">
                <h4>
                    {{
                        'MODULES.OSCAR-DEPLOY.GENERAL-CONF-FORM.OSCAR-ENDPOINT'
                            | translate
                            | uppercase
                    }}
                </h4>
                <div class="overview-element">
                    <p><strong>OSCAR Url: </strong>{{ oscar_endpoint }}</p>
                </div>
                <h4>
                    {{
                        'MODULES.OSCAR-DEPLOY.GENERAL-CONF-FORM.TITLE'
                            | translate
                            | uppercase
                    }}
                </h4>
                <div class="overview-element">
                    <p>
                        <strong>Service name: </strong>{{ serviceRequest.name }}
                    </p>
                </div>
                <div class="overview-element">
                    <p>
                        <strong>
                            {{
                                'MODULES.OSCAR-DEPLOY.GENERAL-CONF-FORM.DOCKER-IMAGE'
                                    | translate
                            }}: </strong
                        >{{ serviceRequest.image }}
                    </p>
                </div>
                <div class="overview-element">
                    <p>
                        <strong
                            >{{
                                'MODULES.OSCAR-DEPLOY.GENERAL-CONF-FORM.SERVICE-SCRIPT'
                                    | translate
                            }}:</strong
                        >
                    </p>
                    <pre> {{ serviceRequest.script }} </pre>
                </div>
                <div class="overview-element">
                    <p>
                        <strong
                            >{{
                                'MODULES.OSCAR-DEPLOY.GENERAL-CONF-FORM.ENVIRONMENT-VARIABLES'
                                    | translate
                            }}
                        </strong>
                    </p>
                    <p
                        *ngFor="
                            let entry of serviceRequest.environment?.Variables
                                | keyvalue
                        "
                        style="margin-left: 10px"
                    >
                        {{ entry.key }} : {{ entry.value }}
                    </p>
                </div>
                <div class="overview-element">
                    <p>
                        <strong
                            >{{
                                'MODULES.OSCAR-DEPLOY.GENERAL-CONF-FORM.LABELS'
                                    | translate
                            }}
                        </strong>
                    </p>
                    <p
                        *ngFor="let entry of serviceRequest.labels | keyvalue"
                        style="margin-left: 10px"
                    >
                        {{ entry.key }} : {{ entry.value }}
                    </p>
                </div>
            </section>

            <section class="compute-options">
                <h4>
                    {{
                        'MODULES.OSCAR-DEPLOY.COMPUTE-CONF-FORM.TITLE'
                            | translate
                    }}
                </h4>
                <div class="overview-element">
                    <p>
                        <strong
                            >{{
                                'MODULES.OSCAR-DEPLOY.COMPUTE-CONF-FORM.CPU-NUMBER'
                                    | translate
                            }}: </strong
                        >{{ serviceRequest.cpu }}
                    </p>
                </div>
                <div class="overview-element">
                    <p>
                        <strong
                            >{{
                                'MODULES.OSCAR-DEPLOY.COMPUTE-CONF-FORM.CPU-MAX-NUMBER'
                                    | translate
                            }}: </strong
                        >{{ serviceRequest.total_cpu }}
                    </p>
                </div>
                <div class="overview-element">
                    <p>
                        <strong>
                            {{
                                'MODULES.OSCAR-DEPLOY.COMPUTE-CONF-FORM.MEMORY-SIZE'
                                    | translate
                            }}: </strong
                        >{{ serviceRequest.memory }}
                    </p>
                </div>
                <div class="overview-element">
                    <p>
                        <strong>
                            {{
                                'MODULES.OSCAR-DEPLOY.COMPUTE-CONF-FORM.MEMORY-MAX-SIZE'
                                    | translate
                            }}: </strong
                        >{{ serviceRequest.total_memory }}
                    </p>
                </div>
                <div class="overview-element">
                    <p>
                        <strong>
                            {{
                                'MODULES.OSCAR-DEPLOY.COMPUTE-CONF-FORM.ENABLE-GPU'
                                    | translate
                            }}: </strong
                        >{{ serviceRequest.enable_gpu }}
                    </p>
                </div>
                <div class="overview-element">
                    <p>
                        <strong>
                            {{
                                'MODULES.OSCAR-DEPLOY.COMPUTE-CONF-FORM.LOG-LEVEL'
                                    | translate
                            }}: </strong
                        >{{ serviceRequest.log_level | uppercase }}
                    </p>
                </div>
            </section>
        </div>

        <div *ngIf="showProgress">
            <mat-progress-bar
                class="mt-2"
                mode="indeterminate"
                color="accent"
            ></mat-progress-bar>
        </div>
        <div class="next-back-buttons">
            <button mat-raised-button matStepperPrevious class="mr-2">
                {{ 'GENERAL-BUTTONS.BACK' | translate }}
            </button>
            <button
                mat-raised-button
                color="accent"
                (click)="submitCreateService()"
            >
                {{ 'GENERAL-BUTTONS.SUBMIT' | translate }}
            </button>
        </div>
    </mat-step>
</mat-stepper>
