<mat-card class="basic-card" [routerLink]="['ai4life-modules/' + module.name]">
    <mat-card-header class="basic-card-header">
        <mat-card-title>
            <mat-icon
                color="primary"
                [matTooltip]="'MODULES.AI4LIFE' | translate"
                >biotech</mat-icon
            >
            <span>{{ module.name }}</span>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-divider></mat-divider>

        <div class="basic-card-content">
            <mat-card-subtitle class="mt-2">
                <markdown
                    [data]="module.description"
                    ngPreserveWhitespaces
                    [disableSanitizer]="true"
                >
                </markdown>
            </mat-card-subtitle>
        </div>
    </mat-card-content>
</mat-card>
