<div class="content">
    <ng-container *ngIf="mobileQuery.matches; else desktop">
        <mat-toolbar class="mb-3 marketplace-toolbar mobile">
            <form [formGroup]="searchFormGroup" class="search-form-mobile">
                <mat-form-field
                    class="search-field-mobile filter-selector"
                    subscriptSizing="dynamic"
                >
                    <mat-icon matPrefix>search</mat-icon>
                    <mat-label>Search modules</mat-label>
                    <input
                        matInput
                        type="search"
                        formControlName="search"
                        placeholder="Enter text to search"
                    />
                </mat-form-field>
            </form>
        </mat-toolbar>
    </ng-container>

    <ng-template #desktop>
        <mat-toolbar class="marketplace-toolbar">
            <div class="search-and-results-container">
                <form [formGroup]="searchFormGroup">
                    <mat-form-field
                        class="filter-selector full-width"
                        subscriptSizing="dynamic"
                    >
                        <mat-icon matPrefix>search</mat-icon>
                        <mat-label>Search modules</mat-label>
                        <input
                            matInput
                            type="search"
                            formControlName="search"
                            placeholder="Enter text to search"
                            (input)="updateResultsFound()"
                        />
                    </mat-form-field>
                </form>

                <span>
                    <p class="results-text">
                        {{ resultsFound }}
                        {{ 'MODULES.NUM-RESULTS' | translate }}
                    </p>
                </span>
            </div>
        </mat-toolbar>
    </ng-template>

    <div class="modules-cards-container">
        <span
            fxFlex
            *ngFor="
                let module of modules
                    | searchAi4lifeModule
                        : this.searchFormGroup.get('search')?.value as modules
            "
            class="m-2"
        >
            <app-ai4life-module-card
                [module]="module"
            ></app-ai4life-module-card>
        </span>
    </div>
</div>
