.content {
    display: flex;
    flex-direction: column;
}

.marketplace-toolbar {
    margin-top: 16px;
    gap: 2em;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    height: min-content;
    background-color: var(--white);
    & span {
        display: flex;
        align-items: center;
        align-self: baseline;
    }
}

.modules-cards-container {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
}

.search-form-mobile {
    width: 100%;
}

.search-field-mobile {
    width: 100%;
}

.search-and-results-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    & span {
        display: flex;
        align-items: center;
        align-self: center;
    }
}

.results-text {
    font-style: italic;
    font-size: small;
    align-self: flex-end !important;
}

::ng-deep .filter-selector .mat-mdc-text-field-wrapper {
    border-radius: 50px;
}

::ng-deep .filter-selector .mdc-line-ripple {
    display: none;
}
