<header class="stepper-header">
    <div class="stepper-header__top-bar">
        <xng-breadcrumb class="stepper-header__breadcrumb"></xng-breadcrumb>

        <form [formGroup]="showHelpForm" ngNativeValidate>
            <app-ui-toggle
                formControlName="showHelpToggleButton"
                [label]="'GENERAL.SHOW-HELP' | translate"
                (checkedChange)="showHelpButtonChange($event)"
            ></app-ui-toggle>
        </form>
    </div>

    <app-ui-banner variant="primary" decoration="none">
        <div class="stepper-header__heading">
            <span class="stepper-header__eyebrow">
                {{ 'CATALOG.CONF-FORMS.TRAIN-TITLE' | translate }}
            </span>
            <h1 class="stepper-header__title">{{ title }}</h1>
        </div>
    </app-ui-banner>

    @if (warningMessage !== '') {
        <mat-chip class="warning-chip">
            <mat-icon matChipAvatar color="warn">warning</mat-icon>
            <div [innerHTML]="warningMessage"></div>
        </mat-chip>
    }
</header>

@if (isLoading) {
    <div class="spinner-loading-overlay">
        <app-ui-loader></app-ui-loader>
    </div>
} @else {
    <div class="stepper-container">
        @if (fieldsLoading) {
            <div class="spinner-loading-overlay">
                <app-ui-loader></app-ui-loader>
            </div>
        }
        <mat-stepper
            [orientation]="getStepperOrientation()"
            linear
            #stepper
            class="mb-4"
            [ngClass]="{ 'stepper--single': numberOfSteps === 1 }"
        >
            <mat-step [stepControl]="step1Form">
                <ng-template matStepLabel>{{
                    step1Title | translate
                }}</ng-template>
                <ng-container [ngTemplateOutlet]="step1"></ng-container>
                <div
                    [ngClass]="{
                        'next-back-buttons-mobile': mobileQuery.matches,
                        'next-back-buttons': !mobileQuery.matches,
                    }"
                >
                    @if (numberOfSteps === 1) {
                        <app-ui-button
                            variant="accent-solid"
                            text="GENERAL.SUBMIT"
                            [disabled]="!checkFormValidity(step1Form!)"
                            (buttonClick)="submitTrainingRequest()"
                        ></app-ui-button>
                    } @else {
                        <app-ui-button
                            class="mr-2"
                            variant="accent-outline"
                            text="GENERAL.QUICK-SUBMIT"
                            [disabled]="
                                !checkFormValidity(step1Form) ||
                                !checkFormValidity(step2Form) ||
                                (step3Form
                                    ? !checkFormValidity(step3Form)
                                    : false)
                            "
                            (buttonClick)="submitTrainingRequest()"
                        ></app-ui-button>

                        <app-ui-button
                            variant="accent-solid"
                            text="GENERAL.NEXT"
                            (buttonClick)="stepper.next()"
                            [disabled]="!step1Form.valid"
                        ></app-ui-button>
                    }
                </div>
            </mat-step>
            @if (numberOfSteps > 1) {
                <mat-step [stepControl]="step2Form">
                    <ng-template matStepLabel>{{
                        step2Title | translate
                    }}</ng-template>
                    <ng-container [ngTemplateOutlet]="step2"></ng-container>
                    <div
                        [ngClass]="{
                            'next-back-buttons-mobile': mobileQuery.matches,
                            'next-back-buttons': !mobileQuery.matches,
                        }"
                    >
                        @if (numberOfSteps === 2) {
                            <app-ui-button
                                class="mr-2"
                                variant="default-outline"
                                text="GENERAL.BACK"
                                (buttonClick)="stepper.previous()"
                            ></app-ui-button>

                            <app-ui-button
                                variant="accent-solid"
                                text="GENERAL.SUBMIT"
                                [disabled]="!checkFormValidity(step2Form!)"
                                (buttonClick)="submitTrainingRequest()"
                            ></app-ui-button>
                        } @else {
                            <app-ui-button
                                class="mr-2"
                                variant="default-outline"
                                text="GENERAL.BACK"
                                (buttonClick)="stepper.previous()"
                            ></app-ui-button>

                            <app-ui-button
                                variant="accent-solid"
                                text="GENERAL.NEXT"
                                [disabled]="!checkFormValidity(step2Form!)"
                                (buttonClick)="stepper.next()"
                            ></app-ui-button>
                        }
                    </div>
                </mat-step>

                @if (numberOfSteps === 3) {
                    <mat-step>
                        <ng-template matStepLabel>{{
                            step3Title! | translate
                        }}</ng-template>
                        <ng-container [ngTemplateOutlet]="step3"></ng-container>
                        <div
                            [ngClass]="{
                                'next-back-buttons-mobile': mobileQuery.matches,
                                'next-back-buttons': !mobileQuery.matches,
                            }"
                        >
                            <app-ui-button
                                class="mr-2"
                                variant="default-outline"
                                text="GENERAL.BACK"
                                (buttonClick)="stepper.previous()"
                            ></app-ui-button>

                            <app-ui-button
                                variant="accent-solid"
                                text="GENERAL.SUBMIT"
                                [disabled]="!checkFormValidity(step3Form!)"
                                (buttonClick)="submitTrainingRequest()"
                            ></app-ui-button>
                        </div>
                    </mat-step>
                }
            }
        </mat-stepper>
    </div>
}
