<form [formGroup]="generalConfFormGroup" class="general-conf-form">
    <h4>{{ 'MODULES.MODULE-TRAIN.GENERAL-CONF-FORM.TITLE' | translate }}</h4>
    <div class="form-grid">
        <mat-form-field appearance="fill">
            <mat-label>{{
                'MODULES.MODULE-TRAIN.GENERAL-CONF-FORM.DEPLOYMENT-TITLE'
                    | translate
            }}</mat-label>
            <input
                matInput
                placeholder=""
                formControlName="titleInput"
                maxlength="45"
            />
            <mat-error
                *ngIf="
                    generalConfFormGroup.get('titleInput')?.errors?.['required']
                "
            >
                {{
                    'MODULES.MODULE-TRAIN.GENERAL-CONF-FORM.DEPLOYMENT-TITLE-REQUIRED'
                        | translate
                }}
            </mat-error>
            <mat-hint *ngIf="_showHelp">{{
                _defaultFormValues.title.description
            }}</mat-hint>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>{{
                'MODULES.MODULE-TRAIN.GENERAL-CONF-FORM.DEPLOYMENT-DESCRIPTION'
                    | translate
            }}</mat-label>
            <input
                matInput
                placeholder="{{
                    'MODULES.MODULE-TRAIN.GENERAL-CONF-FORM.DEPLOYMENT-DESCRIPTION-PLACEHOLDER'
                        | translate
                }}"
                formControlName="descriptionInput"
            />
            <mat-hint *ngIf="_showHelp">{{
                _defaultFormValues.desc?.description
            }}</mat-hint>
        </mat-form-field>
        <div [ngClass]="{ 'mt-3': _showHelp }">
            <div
                class="service-to-run-container"
                [ngClass]="{ 'mb-5': _showHelp }"
            >
                <div>
                    <mat-label>{{
                        'MODULES.MODULE-TRAIN.GENERAL-CONF-FORM.SERVICE-TO-RUN'
                            | translate
                    }}</mat-label>

                    <mat-chip-listbox
                        aria-label="Fish selection"
                        formControlName="serviceToRunChip"
                        multiple="false"
                    >
                        <mat-chip-option
                            #chipOption
                            *ngFor="
                                let serviceToRunOption of serviceToRunOptions
                            "
                            color="accent"
                            class="service-to-run-chip"
                            [value]="serviceToRunOption.value"
                            [selected]="
                                _defaultFormValues.service.value ===
                                serviceToRunOption.value
                            "
                            [selectable]="chipOption.selected ? false : true"
                            >{{
                                serviceToRunOption.viewValue | titlecase
                            }}</mat-chip-option
                        >
                    </mat-chip-listbox>
                </div>
                <mat-form-field
                    appearance="fill"
                    class="password-input-field"
                    [@inOutAnimation]
                    [ngClass]="{ 'mt-2': _showHelp }"
                    *ngIf="isPasswodRequired"
                >
                    <mat-label>{{
                        'MODULES.MODULE-TRAIN.GENERAL-CONF-FORM.PASSWORD'
                            | translate
                    }}</mat-label>
                    <input
                        [type]="hidePassword ? 'password' : 'text'"
                        [@inOutAnimation]
                        matInput
                        placeholder="At least 9 characters"
                        formControlName="serviceToRunPassInput"
                        autocomplete="off"
                    />
                    <mat-icon
                        matSuffix
                        (click)="hidePassword = !hidePassword"
                        color="primary"
                    >
                        {{
                            hidePassword ? 'visibility_off' : 'visibility'
                        }}</mat-icon
                    >
                    <mat-error
                        *ngIf="
                            generalConfFormGroup.get('serviceToRunPassInput')
                                ?.errors?.['required']
                        "
                    >
                        {{
                            'MODULES.MODULE-TRAIN.GENERAL-CONF-FORM.JUPYTERLAB-PASS-REQUIRED'
                                | translate
                        }}
                    </mat-error>
                    <mat-error
                        *ngIf="
                            generalConfFormGroup.get('serviceToRunPassInput')
                                ?.errors?.['minlength']
                        "
                    >
                        {{
                            'MODULES.MODULE-TRAIN.GENERAL-CONF-FORM.JUPYTERLAB-PASS-LENGTH-ERROR'
                                | translate
                        }}
                    </mat-error>
                    <mat-hint *ngIf="_showHelp">{{
                        _defaultFormValues.jupyter_password?.description
                    }}</mat-hint>
                </mat-form-field>
            </div>
            <ng-container *ngIf="_showHelp">
                <span class="mat-hint-text">
                    {{ _defaultFormValues.service.description }}
                </span>
            </ng-container>
        </div>
        <mat-form-field
            appearance="fill"
            [ngClass]="{ 'mt-3': _showHelp, 'display-inline': _showHelp }"
        >
            <mat-label>Hostname</mat-label>
            <input
                matInput
                placeholder=""
                formControlName="hostnameInput"
                maxlength="45"
            />
            <mat-error
                *ngIf="
                    generalConfFormGroup.get('titleInput')?.errors?.['required']
                "
            >
                {{
                    'MODULES.MODULE-TRAIN.GENERAL-CONF-FORM.DEPLOYMENT-TITLE-REQUIRED'
                        | translate
                }}
            </mat-error>
            <mat-hint *ngIf="_showHelp">{{
                _defaultFormValues.hostname?.description
            }}</mat-hint>
        </mat-form-field>
        <mat-form-field
            class="example-full-width"
            *ngIf="_showFields.federated_secret"
        >
            <mat-label>{{
                'MODULES.MODULE-TRAIN.GENERAL-CONF-FORM.FEDERATED-SECRET'
                    | translate
            }}</mat-label>
            <input matInput formControlName="federatedSecretInput" />
            <mat-icon
                matSuffix
                color="primary"
                (click)="
                    copyValueToClipboard(
                        generalConfFormGroup.get('federatedSecretInput')?.value
                    )
                "
                class="copy-icon"
            >
                content_copy</mat-icon
            >
            <mat-hint *ngIf="_showHelp">{{
                _defaultFormValues.federated_secret?.description
            }}</mat-hint>
        </mat-form-field>
    </div>

    <h4 [ngClass]="{ 'mt-3': _showHelp }">
        {{
            'MODULES.MODULE-TRAIN.GENERAL-CONF-FORM.DOCKER-OPTIONS' | translate
        }}
    </h4>
    <mat-divider class="mt-3 mb-3"></mat-divider>
    <div class="form-grid">
        <mat-form-field class="example-full-width">
            <mat-label>{{
                'MODULES.MODULE-TRAIN.GENERAL-CONF-FORM.DOCKER-IMAGE'
                    | translate
            }}</mat-label>
            <input matInput placeholder="" formControlName="dockerImageInput" />
            <mat-hint *ngIf="_showHelp">{{
                _defaultFormValues.docker_image.description
            }}</mat-hint>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>{{
                'MODULES.MODULE-TRAIN.GENERAL-CONF-FORM.DOCKER-TAG' | translate
            }}</mat-label>
            <mat-select formControlName="dockerTagSelect">
                <mat-option
                    *ngFor="let dockerTagOption of dockerTagOptions"
                    [value]="dockerTagOption.value"
                >
                    {{ dockerTagOption.viewValue }}
                </mat-option>
            </mat-select>
            <mat-hint *ngIf="_showHelp">{{
                _defaultFormValues.docker_tag.description
            }}</mat-hint>
        </mat-form-field>
    </div>
</form>
