.charts-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'affinities affinities'
        'carbon     water';
    gap: 12px;
    margin-bottom: 2rem;
    padding: 0 16px;
}
