<div class="charts-container">
    <app-bar-chart
        [title]="'DASHBOARD.FOOTPRINT.AFFINITIES' | translate"
        [tooltip]="'DASHBOARD.FOOTPRINT.AFFINITIES-TOOLTIP' | translate"
        [categories]="datacenterNames"
        [values]="affinityValues"
        [countries]="datacenterCountries"
    ></app-bar-chart>

    <app-footprint-chart
        [title]="'DASHBOARD.FOOTPRINT.GREEN-SCORE' | translate"
        [tooltip]="'DASHBOARD.GREEN-SCORE-INFO' | translate"
        [unit]="'gCO₂e/kWh'"
        [legend]="datacenterNames"
        [timestamps]="greenScoreTimestamps"
        [values]="greenScoreValues"
    ></app-footprint-chart>

    <app-footprint-chart
        [title]="'DASHBOARD.FOOTPRINT.CARBON' | translate"
        [tooltip]="'DASHBOARD.ENERGY-INFO' | translate"
        [unit]="'gCO₂e/kWh'"
        [legend]="datacenterNames"
        [timestamps]="carbonTimestamps"
        [values]="carbonValues"
    ></app-footprint-chart>

    <app-footprint-chart
        [title]="'DASHBOARD.FOOTPRINT.WATER' | translate"
        [tooltip]="'DASHBOARD.ENERGY-WATER-INFO' | translate"
        [unit]="'l/kWh'"
        [legend]="datacenterNames"
        [timestamps]="waterTimestamps"
        [values]="waterValues"
    ></app-footprint-chart>
</div>
