<div class="content">
    @if (isMobile()) {
        <mat-toolbar class="mb-3 marketplace-toolbar mobile">
            <span
                >{{ 'CATALOG.TOOLS.TITLE' | translate }}
                <mat-icon>handyman</mat-icon></span
            >
        </mat-toolbar>
    } @else {
        <app-ui-banner variant="primary" decoration="tools">
            <h1>
                {{ 'CATALOG.TOOLS.TITLE' | translate }}
            </h1>
        </app-ui-banner>
    }

    <app-catalog-list
        [elements]="store.tools()"
        [loading]="toolsLoading()"
        [error]="toolsError()"
        [storageKey]="catalogStorageKey"
        [initialFilters]="ai4eoscInitialFilters()"
    ></app-catalog-list>
</div>
