@import 'material';

:root {
  /** Styleguide: colors **/
  --black-60: rgba(0, 0, 0, 0.6);
  --white: #ffffff;
  --white-two: #d9d9d9;
  --white-three: #f8f8f8;
  --warm-grey: #7b7b7b;
  --greyish-brown: #4a4a49;
  --neon-red: #ff0447;
  --pumpkin-orange: #ff6e1c;
  --greyish-brown-two: #545453;
  --warm-grey-opacity: rgba(var(--warm-grey), 0.8);
  --sky-blue: #5da9ff;
  --soft-green: #7cd67e;

  //AI4EOSC
  --primary: #008792;
  --primary-text: #151515;
  --accent:  #ff5b7f;
  --warn: #f44336;

  /*IMAGINE
  --primary: #EF7D17;
  --primary-text: #1961AC;
  --accent:  #1961AC;
  --warn: #f44336;
  */



  /** Heights **/
  --header-height: 71px;
  --header-mobile-height: 50px;

  /** Font-Weight Vars **/
  --raleway-extra-bold: 800;
  --raleway-bold: 700;
  --raleway-semibold: 600;
  --raleway-medium: 500;
  --raleway-regular: 400;
  --raleway-light: 300;

  /** Font Sizes **/
  --font-xxs: 6px;
  --font-xs: 8px;
  --font-s: 10px;
  --font-m: 12px;
  --font-l: 14px;
  --font-xl: 16px;
  --font-xxl: 18px;
  --font-xxxl: 22px;
  --font-xxxxl: 220px;

  /** Z Indices **/
  --z-menu-overlay: 100;

  .mat-button,
  .mat-button-focus-overlay,
  .mat-icon-button {
    background-color: transparent;
    outline: none !important;
    outline-style: none !important;
  }

  .action-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    margin: 15px 0px 10px 0px;
  }
  .action-buttons__add-button {
    font-weight: var(--raleway-medium);
    font-size: 14px;
    color: var(--neon-red);
  }
  .mat-toolbar{
    background-color: var(--white-three);
  }

  .mat-mdc-snack-bar-container {
    &.red-snackbar {
      --mdc-snackbar-container-color: var(--neon-red);
      --mat-mdc-snack-bar-button-color: var(--white);
      --mdc-snackbar-supporting-text-color: var(--white);
      white-space: pre-wrap
    }
    &.primary-snackbar {
      --mdc-snackbar-container-color: var(--primary);
      --mat-mdc-snack-bar-button-color: var(--white);
      --mdc-snackbar-supporting-text-color: var(--white);
      white-space: pre-wrap
    }
  }


}
