<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon
        ><span class="material-symbols-outlined"> notifications </span>
    </mat-icon>
</button>

<mat-menu class="notifications-menu" #menu="matMenu">
    <mat-list
        *ngIf="displayedNotifications.length === 0; else notificationList"
    >
        <mat-list-item *ngFor="let notification of displayedNotifications">
            <div matListItemTitle>No notifications</div>
        </mat-list-item>
    </mat-list>

    <ng-template #notificationList>
        <mat-list>
            <ng-container *ngFor="let notification of displayedNotifications">
                <mat-list-item>
                    <mat-icon matListItemIcon> circle_notifications </mat-icon>
                    <div matListItemTitle>{{ notification.summary }}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
        </mat-list>
    </ng-template>
</mat-menu>
