.element-icon {
    transform: scale(0.7);
    margin-right: 16px;
}

::ng-deep .material-symbols-outlined {
    font-size: 22px !important;
    align-content: center;
}

mat-accordion {
    padding: 0px;
}

::ng-deep .mat-mdc-menu-panel {
    max-width: 400px !important;
}

::ng-deep .mat-mdc-menu-content {
    padding: 0 !important;
}

::ng-deep .mdc-list {
    padding: 0 !important;
}
