@use '@angular/material' as mat;
.module-card {
    //max-width: 500px;
    min-height: 225px;

    .mat-mdc-card-actions{
        justify-content: right;
    }

    &:hover {
        @include mat.elevation(12);
        cursor: pointer;
      }


  }

.module-card-content{
    font-size: 1rem;
}