@use '@angular/material' as mat;
.module-card {
    //max-width: 500px;
    min-height: 225px;

    &:hover {
        @include mat.elevation(12);
        cursor: pointer;
    }

    & .mat-mdc-card-title {
        font-size: 1.1rem;
    }

    & .mat-mdc-card-content {
        font-size: 1rem;
    }

    border: 1px solid var(--border-gray);
}
.module-card-header .mat-icon {
    transform: scale(0.8);
    position: relative;
    top: 5px;
    left: -4px;
}

.module-card-content {
    color: var(--dark-grey);
}

.module-card-actions {
    align-self: center;
    margin-top: auto;
}

.keyword-button {
    border-radius: 30px;
    border: 1px solid;
    background-color: var(--white);
    border-color: var(--border-gray);
    padding: 5px 10px;
    color: var(--black);
    white-space: nowrap;
}
