<app-profile-banner
    [fullName]="name"
    [email]="email"
    [userId]="sub"
></app-profile-banner>

<app-ui-tabs
    [tabs]="tabs"
    [activeTabId]="activeTab"
    (tabChange)="onTabSelected($event)"
>
</app-ui-tabs>

<div class="tab-content-container">
    @switch (activeTab) {
        @case ('overview') {
            <app-overview-tab [vos]="vos"></app-overview-tab>
        }

        @case ('apikeys') {
            <app-api-keys-tab></app-api-keys-tab>
        }

        @case ('storage') {
            <app-storage-tab
                [isProjectMember]="isProjectMember"
            ></app-storage-tab>
        }

        @case ('services') {
            <app-services-tab></app-services-tab>
        }
    }
</div>
