<div class="stats-container">
    <app-stat-card
        [title]="'DASHBOARD.STATS-TITLES.CPU' | translate"
        [iconName]="'memory'"
        [usedValue]="usedCpuNum"
        [totalValue]="totalCpuNum"
        [usedLabel]="usedLabel"
        [freeLabel]="freeLabel"
    ></app-stat-card>
    <app-stat-card
        *ngIf="usedCpuMhz && totalCpuMhz"
        [title]="'DASHBOARD.STATS-VALUES.CPU-FREQ' | translate"
        [iconName]="'graphic_eq'"
        [usedValue]="usedCpuMhz"
        [totalValue]="totalCpuMhz"
        [usedLabel]="usedLabel"
        [freeLabel]="freeLabel"
    ></app-stat-card>
    <app-stat-card
        [title]="'DASHBOARD.STATS-TITLES.RAM' | translate"
        [iconName]="'memory_alt'"
        [usedValue]="Math.trunc(usedMemory)"
        [totalValue]="Math.trunc(totalMemory)"
        [memoryUnit]="ramUnit"
        [usedLabel]="usedLabel"
        [freeLabel]="freeLabel"
    ></app-stat-card>
    <app-stat-card
        [title]="'DASHBOARD.STATS-TITLES.DISK' | translate"
        [iconName]="'album'"
        [usedValue]="Math.trunc(usedDisk)"
        [totalValue]="Math.trunc(totalDisk)"
        [memoryUnit]="this.diskUnit"
        [usedLabel]="usedLabel"
        [freeLabel]="freeLabel"
    ></app-stat-card>
    <app-stat-card
        *ngIf="totalGpuNum > 0"
        [title]="'DASHBOARD.STATS-TITLES.GPU' | translate"
        [iconName]="'developer_board'"
        [usedValue]="usedGpuNum"
        [totalValue]="totalGpuNum"
        [gpuPerModelCluster]="gpuPerModelCluster"
        [usedLabel]="usedLabel"
        [freeLabel]="freeLabel"
        [ngClass]="{
            click_enabled: gpuPerModelCluster
        }"
    ></app-stat-card>
</div>
