<div class="stats-container">
    <app-stat-card
        [title]="'DASHBOARD.STATS-VALUES.CPU-NUM' | translate"
        [icon_name]="'memory'"
        [value]="this.cpuNum"
    ></app-stat-card>
    <app-stat-card
        *ngIf="this.cpuMhz"
        [title]="'DASHBOARD.STATS-VALUES.CPU-FREQ' | translate"
        [icon_name]="'graphic_eq'"
        [value]="this.cpuMhz"
    ></app-stat-card>
    <app-stat-card
        [title]="'DASHBOARD.STATS-VALUES.RAM' | translate"
        [icon_name]="'memory_alt'"
        [value]="this.memoryMB"
    ></app-stat-card>
    <app-stat-card
        [title]="'DASHBOARD.STATS-VALUES.DISK' | translate"
        [icon_name]="'album'"
        [value]="this.diskMB"
    ></app-stat-card>
    <app-stat-card
        [title]="'DASHBOARD.STATS-VALUES.GPU-NUM' | translate"
        [icon_name]="'developer_board'"
        [value]="this.gpuNum"
    ></app-stat-card>
</div>
