<div class="stats-container">
    <app-stat-card
        [title]="'DASHBOARD.STATS-VALUES.CPU-NUM' | translate"
        [icon_name]="'memory'"
    ></app-stat-card>
    <app-stat-card
        [title]="'DASHBOARD.STATS-VALUES.CPU-FREQ' | translate"
        [icon_name]="'graphic_eq'"
    ></app-stat-card>
    <app-stat-card
        [title]="'DASHBOARD.STATS-VALUES.RAM' | translate"
        [icon_name]="'memory_alt'"
    ></app-stat-card>
    <app-stat-card
        [title]="'DASHBOARD.STATS-VALUES.DISK' | translate"
        [icon_name]="'album'"
    ></app-stat-card>
    <app-stat-card
        [title]="'DASHBOARD.STATS-VALUES.GPU-NUM' | translate"
        [icon_name]="'developer_board'"
    ></app-stat-card>
</div>
