<app-ui-card
    [class.llm-card--disabled]="!isAuthorized"
    [accentColor]="'var(--color-primary)'"
    [matTooltip]="'CATALOG.MODULE-DETAIL.UNAUTHORIZED' | translate"
    [matTooltipDisabled]="isAuthorized"
    matTooltipClass="ui-tooltip"
    (click)="loadLLM()"
>
    <header class="llm-card__header">
        <span class="llm-card__title">
            <img
                class="llm-card__logo"
                [matTooltip]="llm.family"
                matTooltipClass="ui-tooltip"
                [src]="logoSrc"
                alt=""
            />
            <h3 class="llm-card__title">{{ llm.name }}</h3>
        </span>

        <app-ui-button
            variant="icon"
            icon="open_in_new"
            [href]="'https://huggingface.co/' + llm.family + '/' + llm.name"
            [tooltip]="'CATALOG.DETAIL.LINK' | translate"
            (click)="$event.stopPropagation()"
        ></app-ui-button>
    </header>

    <div class="llm-card__body">
        <markdown
            [data]="llm.description"
            ngPreserveWhitespaces
            [disableSanitizer]="true"
        ></markdown>
    </div>

    <footer class="llm-card__footer">
        <app-ui-chip
            variant="default-solid"
            icon="straighten"
            [text]="llm.context"
            [tooltip]="'CATALOG.LLMS.CONTEXT' | translate"
        ></app-ui-chip>
        <app-ui-chip
            variant="default-solid"
            icon="license"
            [text]="llm.license"
            [tooltip]="'CATALOG.DETAIL.LICENSE' | translate"
        ></app-ui-chip>
    </footer>
</app-ui-card>
