<app-ui-card
    [disabled]="isDisabled"
    [accentColor]="'var(--color-primary)'"
    [matTooltip]="tooltipText | translate"
    [matTooltipDisabled]="!isDisabled"
    matTooltipClass="ui-tooltip"
    (keydown.enter)="loadLLM()"
    (keydown.space)="loadLLM()"
    (click)="loadLLM()"
>
    <header class="llm-card__header">
        <span class="llm-card__title">
            <img
                class="llm-card__logo"
                [matTooltip]="llm.family"
                matTooltipClass="ui-tooltip"
                [src]="logoSrc"
                alt=""
            />
            <h3 class="llm-card__title">{{ llm.name }}</h3>
        </span>

        <app-ui-button
            variant="icon"
            icon="open_in_new"
            [href]="'https://huggingface.co/' + llm.family + '/' + llm.name"
            [tooltip]="'CATALOG.DETAIL.LINK' | translate"
            (click)="$event.stopPropagation()"
        ></app-ui-button>
    </header>

    <div class="llm-card__body">
        @if ('description' in llm && llm.description) {
            <markdown
                [data]="llm.description"
                ngPreserveWhitespaces
                [disableSanitizer]="true"
            ></markdown>
        }
    </div>

    <footer class="llm-card__footer">
        @if ('status' in llm && llm.status) {
            <app-ui-chip
                variant="default-solid"
                [icon]="
                    llm.status === 'healthy'
                        ? 'check_circle'
                        : llm.status === 'unhealthy'
                          ? 'error'
                          : 'help'
                "
                [text]="llm.status"
                [tooltip]="'CATALOG.DETAIL.STATUS' | translate"
                [class.status-healthy]="llm.status === 'healthy'"
                [class.status-unhealthy]="llm.status === 'unhealthy'"
            ></app-ui-chip>
        }

        @if ('context' in llm && llm.context) {
            <app-ui-chip
                variant="default-solid"
                icon="straighten"
                [text]="llm.context"
                [tooltip]="'CATALOG.DETAIL.CONTEXT' | translate"
            ></app-ui-chip>
        }

        @if ('license' in llm && llm.license) {
            <app-ui-chip
                variant="default-solid"
                icon="license"
                [text]="llm.license"
                [tooltip]="'CATALOG.DETAIL.LICENSE' | translate"
            ></app-ui-chip>
        }
    </footer>
</app-ui-card>
