<div class="content">
    <app-ui-banner variant="primary" decoration="deployments">
        <h1>
            {{ 'TRY-ME.HEADER' | translate }}
        </h1>
    </app-ui-banner>

    <app-deployments-table
        deploymentType="try-me"
        [showCardActions]="false"
        [isLoading]="isLoading"
        [dataset]="dataset"
        [columns]="columns"
        (showElementInfo)="openTryMeDetailDialog($event)"
        (deleteElement)="removeTryMe($event)"
    ></app-deployments-table>
</div>
