<form [formGroup]="generalConfFormGroup" class="conf-form">
    <span class="title-and-toggles">
        <h4>
            {{ 'CATALOG.CONF-FORMS.GENERAL.SUBTITLE' | translate }}
        </h4>

        @if (_showFields.co2EmissionsInput) {
            <div class="toggle-and-info">
                <app-ui-toggle
                    formControlName="co2EmissionsInput"
                    label="{{
                        'CATALOG.MODULE-TRAIN.GENERAL-CONF-FORM.CO2' | translate
                    }}"
                ></app-ui-toggle>
                <app-ui-button
                    variant="icon"
                    icon="help"
                    tooltip="{{ 'GENERAL.OPEN-DOCS' | translate }}"
                    href="https://docs.ai4os.eu/en/latest/howtos/train/federated-flower.html#monitoring-of-training-co2-emissions"
                ></app-ui-button>
            </div>
        }
    </span>

    <div
        [ngClass]="{
            'form-flex': mobileQuery.matches,
            'form-grid': !mobileQuery.matches,
        }"
    >
        <!-- Title -->
        <app-ui-text-field
            id="deployment-title"
            formControlName="titleInput"
            maxlength="45"
            label="{{
                'CATALOG.CONF-FORMS.GENERAL.DEPLOYMENT-TITLE' | translate
            }}"
            [hint]="_showHelp ? _defaultFormValues.title.description : ''"
        ></app-ui-text-field>

        <!-- Description -->
        <app-ui-text-field
            formControlName="descriptionInput"
            placeholder="{{
                'CATALOG.CONF-FORMS.GENERAL.DEPLOYMENT-DESCRIPTION-PLACEHOLDER'
                    | translate
            }}"
            label="{{
                'CATALOG.CONF-FORMS.GENERAL.DEPLOYMENT-DESCRIPTION' | translate
            }}"
            [hint]="_showHelp ? _defaultFormValues.desc?.description : ''"
        ></app-ui-text-field>

        <!-- Service to run -->
        @if (_showFields.serviceToRunChip) {
            <div [ngClass]="{ 'ui-text-field': _showHelp }">
                <div
                    [ngClass]="{
                        'form-flex': mobileQuery.matches,
                        'service-to-run-container': !mobileQuery.matches,
                        'mb-5': _showHelp && isPasswodRequired,
                    }"
                >
                    <div
                        class="service-to-run-chips"
                        style="align-items: flex-end"
                    >
                        <app-ui-chip-group
                            formControlName="serviceToRunChip"
                            label="CATALOG.CONF-FORMS.GENERAL.SERVICE-TO-RUN"
                            [options]="serviceToRunOptions"
                        ></app-ui-chip-group>

                        @if (_showFields.infoButton) {
                            <app-ui-button
                                class="ml-2"
                                variant="icon"
                                icon="help"
                                tooltip="{{ 'GENERAL.OPEN-DOCS' | translate }}"
                                href="https://docs.ai4os.eu/en/latest/howtos/train/federated-flower.html"
                            ></app-ui-button>
                        }
                    </div>

                    <!-- Service to run (password) -->
                    @if (isPasswodRequired) {
                        <app-ui-text-field
                            [ngClass]="{
                                'password-input-field-mobile':
                                    mobileQuery.matches,
                                'password-input-field': !mobileQuery.matches,
                                'mt-2': _showHelp,
                            }"
                            formControlName="serviceToRunPassInput"
                            [maskable]="true"
                            placeholder="At least 9 characters"
                            label="CATALOG.CONF-FORMS.GENERAL.PASSWORD"
                            [errorMessages]="servicePasswordErrors"
                        ></app-ui-text-field>
                    }
                </div>

                @if (_showHelp) {
                    <span class="ui-text-field__hint">
                        {{ _defaultFormValues.service.description }}
                        @if (
                            isPasswodRequired &&
                            _defaultFormValues.jupyter_password?.description
                        ) {
                            <br />{{
                                _defaultFormValues.jupyter_password.description
                            }}
                        }
                    </span>
                }
            </div>
        }
    </div>

    <!-- Docker image -->
    @if (_showFields.dockerImageInput && _showFields.dockerTagSelect) {
        <h4 [ngClass]="{ 'mt-3': _showHelp }">
            {{ 'CATALOG.CONF-FORMS.GENERAL.DOCKER-OPTIONS' | translate }}
        </h4>
        <div
            [ngClass]="{
                'form-flex': mobileQuery.matches,
                'form-grid': !mobileQuery.matches,
            }"
        >
            <app-ui-text-field
                formControlName="dockerImageInput"
                label="{{
                    'CATALOG.CONF-FORMS.GENERAL.DOCKER-IMAGE' | translate
                }}"
                [hint]="
                    _showHelp ? _defaultFormValues.docker_image.description : ''
                "
            ></app-ui-text-field>
            <app-ui-select
                formControlName="dockerTagSelect"
                [options]="dockerTagOptions"
                label="{{
                    'CATALOG.CONF-FORMS.GENERAL.DOCKER-TAG' | translate
                }}"
                [hint]="
                    _showHelp ? _defaultFormValues.docker_tag.description : ''
                "
            ></app-ui-select>
        </div>
    }

    @if (_showFields.cvatFields) {
        <h4 [ngClass]="{ 'mt-3': _showHelp }">
            {{
                'CATALOG.MODULE-TRAIN.GENERAL-CONF-FORM.CVAT-CREDENTIALS'
                    | translate
            }}
        </h4>
        <mat-divider class="mt-3 mb-3"></mat-divider>
        <div
            [ngClass]="{
                'form-flex': mobileQuery.matches,
                'form-grid': !mobileQuery.matches,
            }"
        >
            <mat-form-field>
                <mat-label>{{
                    'CATALOG.MODULE-TRAIN.GENERAL-CONF-FORM.CVAT-USERNAME'
                        | translate
                }}</mat-label>
                <input
                    matInput
                    placeholder=""
                    value=""
                    type="text"
                    formControlName="cvatUsernameInput"
                />
                @if (
                    generalConfFormGroup.get('cvatUsernameInput')?.errors?.[
                        'required'
                    ]
                ) {
                    <mat-error>
                        {{
                            'CATALOG.MODULE-TRAIN.GENERAL-CONF-FORM.CVAT-USERNAME-REQUIRED'
                                | translate
                        }}
                    </mat-error>
                }
                @if (_showHelp) {
                    <mat-hint>{{
                        _defaultFormValues.cvat_username?.description
                    }}</mat-hint>
                }
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>{{
                    'CATALOG.MODULE-TRAIN.GENERAL-CONF-FORM.CVAT-PASSWORD'
                        | translate
                }}</mat-label>
                <input
                    [type]="hideCvatPassword ? 'password' : 'text'"
                    matInput
                    formControlName="cvatPasswordInput"
                    autocomplete="off"
                />
                <mat-icon
                    matSuffix
                    (click)="hideCvatPassword = !hideCvatPassword"
                    color="accent"
                >
                    {{ hideCvatPassword ? 'visibility_off' : 'visibility' }}
                </mat-icon>
                @if (
                    generalConfFormGroup.get('cvatPasswordInput')?.errors?.[
                        'required'
                    ]
                ) {
                    <mat-error>
                        {{
                            'CATALOG.MODULE-TRAIN.GENERAL-CONF-FORM.CVAT-PASSWORD-REQUIRED'
                                | translate
                        }}
                    </mat-error>
                }
                @if (_showHelp) {
                    <mat-hint>{{
                        _defaultFormValues.cvat_password?.description
                    }}</mat-hint>
                }
            </mat-form-field>
        </div>
    }
</form>
