.container {
    position: relative;
    bottom: 0;
    width: -webkit-fill-available;
    width: -moz-available;
    margin: 5em 1em 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--warm-grey);
    font-size: small;
}

.links {
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 2em;
    a:link {
        color: var(--warm-grey);
    }
    a:visited {
        color: var(--greyish-brown);
    }
}

.dashboard-version {
    display: flex;
    justify-content: center;
}
