.batch-conf-form {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);

    h4 {
        margin-block: var(--space-md);
    }

    p {
        font-size: var(--font-size-base);
        margin: 0;
    }
}

.title-and-toggles {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-flex-column {
    display: flex;
    flex-direction: column;
}

.tab-content {
    margin-top: 1em;
}

.textarea-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
    gap: 0.5em;
}

.mat-hint-text {
    font-size: var(--font-size-xs);
    color: var(--color-text-tertiary);
}
