<app-stepper-form
    [title]="title"
    [numberOfSteps]="3"
    [step1]="step1"
    [step2]="step2"
    [step3]="step3"
    [step1Form]="generalConfForm"
    [step2Form]="hardwareConfForm"
    [step3Form]="storageConfForm"
    [step1Title]="step1Title"
    [step2Title]="step2Title"
    [step3Title]="step3Title"
    [warningMessage]="warningMessage"
    [isLoading]="showLoader"
    (showHelpButtonEvent)="showHelpButtonChange($event)"
    (submitted)="onSubmit()"
>
    <ng-template #step1>
        <form [formGroup]="generalConfForm" class="form">
            <app-general-conf-form
                [defaultFormValues]="generalConfDefaultValues"
                [showFields]="showGeneralFields"
                [showHelp]="showHelp"
            ></app-general-conf-form>
            <mat-divider></mat-divider>
            <app-batch-conf-form [showHelp]="showHelp"></app-batch-conf-form>
        </form>
    </ng-template>
    <ng-template #step2>
        <form [formGroup]="hardwareConfForm" class="form">
            <app-hardware-conf-form
                [defaultFormValues]="hardwareConfDefaultValues"
                [showHelp]="showHelp"
            ></app-hardware-conf-form>
        </form>
    </ng-template>
    <ng-template #step3>
        <form [formGroup]="storageConfForm" class="form">
            <app-storage-conf-form
                [defaultFormValues]="storageConfDefaultValues"
                [rcloneIsRequired]="true"
                [showHelp]="showHelp"
            ></app-storage-conf-form>
        </form>
    </ng-template>
</app-stepper-form>
