<div class="filter-container">
    <app-ui-select-multiple
        label="CATALOG.DETAIL.LIBRARIES"
        placeholder="CATALOG.DETAIL.LIBRARIES"
        [showLabel]="false"
        prefixIcon="bookmark"
        [(ngModel)]="selectedLibraries"
        (valueChange)="librariesChange()"
        [options]="libraryOptions"
    >
    </app-ui-select-multiple>

    <app-ui-select-multiple
        label="CATALOG.DETAIL.TASKS"
        placeholder="CATALOG.DETAIL.TASKS"
        [showLabel]="false"
        prefixIcon="task_alt"
        [(ngModel)]="selectedTasks"
        (valueChange)="tasksChange()"
        [options]="taskOptions"
    >
    </app-ui-select-multiple>

    <app-ui-select-multiple
        label="CATALOG.DETAIL.CATEGORIES"
        placeholder="CATALOG.DETAIL.CATEGORIES"
        [showLabel]="false"
        prefixIcon="category"
        [(ngModel)]="selectedCategories"
        (valueChange)="categoriesChange()"
        [options]="categoryOptions"
    >
    </app-ui-select-multiple>

    <app-ui-select-multiple
        label="CATALOG.DETAIL.DATA-TYPES"
        placeholder="CATALOG.DETAIL.DATA-TYPES"
        [showLabel]="false"
        prefixIcon="dataset"
        [(ngModel)]="selectedDatatypes"
        (valueChange)="datatypesChange()"
        [options]="datatypeOptions"
    >
    </app-ui-select-multiple>

    <app-ui-select-multiple
        label="CATALOG.DETAIL.TAGS"
        placeholder="CATALOG.DETAIL.TAGS"
        [showLabel]="false"
        prefixIcon="sell"
        [searchable]="true"
        [(ngModel)]="selectedTags"
        (valueChange)="tagsChange()"
        [options]="tagOptions"
    >
    </app-ui-select-multiple>

    <div class="filter-buttons">
        <app-ui-button
            variant="primary-solid"
            icon="add"
            text="{{ 'CATALOG.FILTERS.ADD' | translate }}"
            [disabled]="
                filterGroup.categories.length === 0 &&
                filterGroup.datatypes.length === 0 &&
                filterGroup.libraries.length === 0 &&
                filterGroup.tags.length === 0 &&
                filterGroup.tasks.length === 0
            "
            (click)="addFilter()"
        ></app-ui-button>

        <app-ui-button
            variant="icon"
            icon="mop"
            tooltip=" {{
                'CATALOG.FILTERS.CLEAR-FILTERS' | translate | translate
            }}"
            [disabled]="
                filterGroup.categories.length === 0 &&
                filterGroup.datatypes.length === 0 &&
                filterGroup.libraries.length === 0 &&
                filterGroup.tags.length === 0 &&
                filterGroup.tasks.length === 0
            "
            (click)="resetFilters()"
        ></app-ui-button>
    </div>
</div>
