<form [formGroup]="storageConfFormGroup" class="storage-conf-form">
    <h4>{{"MODULES.MODULE-TRAIN.STORAGE-CONF-FORM.TITLE" | translate}}</h4>
    <div class="form-grid">
        <mat-form-field class="example-full-width">
            <mat-label>{{"MODULES.MODULE-TRAIN.STORAGE-CONF-FORM.RCLONE-CONF" | translate}}</mat-label>
            <input matInput placeholder="" value="" formControlName="rcloneConfInput">
            <mat-hint *ngIf=_showHelp>{{_defaultFormValues?.rclone_conf.description}}</mat-hint>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>{{"MODULES.MODULE-TRAIN.STORAGE-CONF-FORM.STORAGE-URL" | translate}}</mat-label>
            <input type="text" matInput placeholder="" value="" formControlName="storageUrlInput">
            <mat-hint *ngIf=_showHelp>{{_defaultFormValues?.rclone_url.description}}</mat-hint>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>{{"MODULES.MODULE-TRAIN.STORAGE-CONF-FORM.RCLONE-VENDOR" | translate}}</mat-label>
            <mat-select formControlName="rcloneVendorSelect">
                <mat-option *ngFor="let rcloneVendorOption of rcloneVendorOptions" [value]="rcloneVendorOption.value">
                    {{rcloneVendorOption.viewValue}}
                </mat-option>
            </mat-select>
            <mat-hint *ngIf=_showHelp>{{_defaultFormValues?.rclone_vendor.description}}</mat-hint>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>{{"MODULES.MODULE-TRAIN.STORAGE-CONF-FORM.RCLONE-USER" | translate}}</mat-label>
            <input matInput placeholder="" value="" type="text" formControlName="rcloneUserInput">
            <mat-hint *ngIf=_showHelp>{{_defaultFormValues?.rclone_user.description}}</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{"MODULES.MODULE-TRAIN.STORAGE-CONF-FORM.RCLONE-PASS" | translate}}</mat-label>
            <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="At least 9 characters"
                formControlName="rclonePasswordInput">
            <mat-icon matSuffix (click)="hidePassword = !hidePassword" color="accent"> {{hidePassword ?
                'visibility_off' : 'visibility'}} </mat-icon>
            <mat-hint *ngIf=_showHelp>{{_defaultFormValues?.rclone_password.description}}</mat-hint>
        </mat-form-field>
    </div>
</form>