.storage-conf-form {
    min-height: 575px;
}

.mat-mdc-option {
    padding: 8px 16px;
}

.advanced-settings-row {
    grid-column: 1 / 3;
}

.dataset-options-container {
    padding-top: 2em;
    display: flex;
    align-items: center;
    gap: 1.2em;
    flex-direction: column;
    align-items: flex-start;
}

.full-width {
    width: 100%;
}

.input-spinner {
    float: right;
    margin: 0px 8px;
}

.storage-container {
    row-gap: 1em;
}

.snapshots-container {
    padding-top: 22px;
}

.step-title {
    display: flex;
    align-items: center;
    gap: 1.5em;

    mat-chip {
        background: antiquewhite !important;
    }
}

.warning-icon {
    color: var(--warning-orange);
}

.title-with-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    button {
        padding: 0 10px;
    }
}
