<form [formGroup]="storageConfFormGroup" class="storage-conf-form">
    <h4>
        {{ 'MODULES.MODULE-TRAIN.DATA-CONF-FORM.STORAGE-CONF' | translate }}
    </h4>
    <div
        class="storage-container"
        [ngClass]="{
            'form-flex': mobileQuery.matches,
            'grid-1-column': !mobileQuery.matches
        }"
    >
        <mat-form-field>
            <mat-label>{{
                'MODULES.MODULE-TRAIN.DATA-CONF-FORM.STORAGE-SERVICE'
                    | translate
            }}</mat-label>
            <mat-select
                formControlName="storageServiceDatasetSelect"
                (selectionChange)="updateStorageConfiguration()"
            >
                <mat-option
                    *ngFor="let storageServiceOption of storageServiceOptions"
                    [value]="storageServiceOption.value"
                >
                    {{ storageServiceOption.viewValue }}
                </mat-option>
            </mat-select>
            <mat-spinner
                *ngIf="credentialsLoading"
                matSuffix
                [diameter]="18"
                class="input-spinner"
            ></mat-spinner>
            <mat-hint *ngIf="_showHelp">
                {{
                    'MODULES.MODULE-TRAIN.DATA-CONF-FORM.STORAGE-SERVICE-HINT'
                        | translate
                }}
                <a [routerLink]="['/profile']" target="_blank">{{
                    'MODULES.MODULE-TRAIN.DATA-CONF-FORM.PROFILE-SECTION'
                        | translate
                }}</a
                >.
            </mat-hint>
            <mat-hint *ngIf="!_showHelp && credentials.length === 0">
                {{
                    'MODULES.MODULE-TRAIN.DATA-CONF-FORM.STORAGE-SERVICE-UNAVAILABLE'
                        | translate
                }}
                <a [routerLink]="['/profile']" target="_blank">{{
                    'MODULES.MODULE-TRAIN.DATA-CONF-FORM.STORAGE-SERVICE-TRY-LINK'
                        | translate
                }}</a
                >.
            </mat-hint>
        </mat-form-field>

        <mat-expansion-panel class="advanced-settings-row">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{
                        'MODULES.MODULE-TRAIN.DATA-CONF-FORM.ADVANCED-SETTINGS'
                            | translate
                    }}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="form-grid">
                <mat-form-field>
                    <mat-label>{{
                        'MODULES.MODULE-TRAIN.DATA-CONF-FORM.RCLONE-USER'
                            | translate
                    }}</mat-label>
                    <input
                        matInput
                        placeholder=""
                        value=""
                        type="text"
                        formControlName="rcloneUserInput"
                    />
                    <mat-error
                        *ngIf="
                            storageConfFormGroup.get('rcloneUserInput')
                                ?.errors?.['required']
                        "
                    >
                        {{
                            'MODULES.MODULE-TRAIN.DATA-CONF-FORM.RCLONE-REQUIRED'
                                | translate
                        }}
                    </mat-error>
                    <mat-hint *ngIf="_showHelp">{{
                        _defaultFormValues.rclone_user.description
                    }}</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>{{
                        'MODULES.MODULE-TRAIN.DATA-CONF-FORM.RCLONE-PASS'
                            | translate
                    }}</mat-label>
                    <input
                        [type]="hidePassword ? 'password' : 'text'"
                        matInput
                        placeholder="At least 9 characters"
                        formControlName="rclonePasswordInput"
                        autocomplete="off"
                    />
                    <mat-icon
                        matSuffix
                        (click)="hidePassword = !hidePassword"
                        color="accent"
                    >
                        {{ hidePassword ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                    <mat-error
                        *ngIf="
                            storageConfFormGroup.get('rclonePasswordInput')
                                ?.errors?.['required']
                        "
                    >
                        {{
                            'MODULES.MODULE-TRAIN.DATA-CONF-FORM.RCLONE-REQUIRED'
                                | translate
                        }}
                    </mat-error>
                    <mat-hint *ngIf="_showHelp">{{
                        _defaultFormValues.rclone_password.description
                    }}</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{
                        'MODULES.MODULE-TRAIN.DATA-CONF-FORM.RCLONE-CONF'
                            | translate
                    }}</mat-label>
                    <input
                        matInput
                        placeholder=""
                        value=""
                        formControlName="rcloneConfInput"
                    />
                    <mat-hint *ngIf="_showHelp">{{
                        _defaultFormValues.rclone_conf.description
                    }}</mat-hint>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{
                        'MODULES.MODULE-TRAIN.DATA-CONF-FORM.STORAGE-URL'
                            | translate
                    }}</mat-label>
                    <input
                        type="text"
                        matInput
                        placeholder=""
                        value=""
                        formControlName="storageUrlInput"
                    />
                    <mat-hint *ngIf="_showHelp">{{
                        _defaultFormValues.rclone_url.description
                    }}</mat-hint>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{
                        'MODULES.MODULE-TRAIN.DATA-CONF-FORM.RCLONE-VENDOR'
                            | translate
                    }}</mat-label>
                    <mat-select formControlName="rcloneVendorSelect">
                        <mat-option
                            *ngFor="
                                let rcloneVendorOption of rcloneVendorOptions
                            "
                            [value]="rcloneVendorOption.value"
                        >
                            {{ rcloneVendorOption.viewValue }}
                        </mat-option>
                    </mat-select>
                    <mat-hint *ngIf="_showHelp">{{
                        _defaultFormValues.rclone_vendor.description
                    }}</mat-hint>
                </mat-form-field>
            </div>
        </mat-expansion-panel>
    </div>

    <div class="dataset-options-container">
        <h4>
            {{ 'MODULES.MODULE-TRAIN.DATA-CONF-FORM.DATASET-CONF' | translate }}
        </h4>
    </div>
    <app-datasets-list
        [storageConfFormGroup]="storageConfFormGroup"
        (datasetAdded)="addDataset($event)"
        (datasetDeleted)="deleteDataset($event)"
        (datasetPullChanged)="updateDataset($event)"
    ></app-datasets-list>
</form>
