<div
    class="ui-text-field"
    [class.ui-text-field--invalid]="isInvalid"
    [class.ui-text-field--disabled]="disabled()"
>
    @if (label) {
        <label class="ui-text-field__label" [id]="labelId">{{
            label | translate
        }}</label>
    }

    <div
        class="ui-text-field__wrapper ui-select__trigger"
        tabindex="0"
        role="combobox"
        aria-haspopup="listbox"
        [attr.aria-expanded]="isOpen()"
        [attr.aria-controls]="panelId"
        [attr.aria-labelledby]="label ? labelId : null"
        [attr.aria-disabled]="disabled()"
        (click)="toggle()"
        (keydown)="onTriggerKeydown($event)"
    >
        <span
            class="ui-text-field__input ui-select__value"
            [class.ui-select__value--placeholder]="!selectedOption()"
        >
            {{
                selectedOption()
                    ? selectedOption()!.viewValue
                    : placeholder
                      ? (placeholder | translate)
                      : ''
            }}
        </span>

        <mat-icon
            class="ui-text-field__suffix ui-select__arrow"
            [class.ui-select__arrow--open]="isOpen()"
        >
            expand_more
        </mat-icon>
    </div>

    @if (isOpen()) {
        <ul
            class="ui-select-panel"
            role="listbox"
            [id]="panelId"
            [attr.aria-labelledby]="label ? labelId : null"
        >
            @if (!options.length) {
                <li class="ui-select-panel__empty">
                    {{ 'GENERAL.NO-OPTIONS' | translate }}
                </li>
            }

            @for (option of options; track option.value; let i = $index) {
                <li
                    class="ui-select-panel__option"
                    role="option"
                    [class.ui-select-panel__option--active]="
                        i === activeIndex()
                    "
                    [class.ui-select-panel__option--selected]="
                        option.value === internalValue()
                    "
                    [attr.aria-selected]="option.value === internalValue()"
                    (click)="selectOption(option, $event)"
                    (mouseenter)="activeIndex.set(i)"
                >
                    <span>{{ option.viewValue }}</span>

                    @if (option.value === internalValue()) {
                        <mat-icon class="ui-select-panel__check"
                            >check</mat-icon
                        >
                    }
                </li>
            }
        </ul>
    }

    @if (hint && !isInvalid) {
        <span class="ui-text-field__hint">{{ hint | translate }}</span>
    }

    @if (isInvalid && currentError) {
        <span class="ui-text-field__error">{{ currentError | translate }}</span>
    }
</div>
