@if (isLoading) {
    <div class="spinner-loading-overlay">
        <app-ui-loader></app-ui-loader>
    </div>
} @else {
    <!-- Header -->
    <header class="header">
        <div class="header__top-bar">
            <xng-breadcrumb class="header__breadcrumb"></xng-breadcrumb>
        </div>

        <app-ui-banner variant="primary" decoration="none">
            <div
                [ngClass]="{
                    'header-row-mobile': mobileQuery.matches,
                    'header-row': !mobileQuery.matches,
                }"
            >
                <div class="header__heading">
                    <h1 class="header__title">{{ module.title }}</h1>
                    <p
                        style="
                            margin: 0;
                            opacity: 0.9;
                            font-size: var(--font-size-base);
                        "
                    >
                        {{ module.summary }}
                    </p>
                </div>

                <!-- MODULES -->
                @if (!isTool) {
                    <div
                        [ngClass]="{
                            'action-buttons-container-mobile':
                                mobileQuery.matches,
                            'action-buttons-container': !mobileQuery.matches,
                        }"
                    >
                        <!-- Try -->
                        <div
                            class="tooltip-container"
                            matTooltip=" {{
                                'CATALOG.DETAIL.TRY.LOGOUT' | translate
                            }}"
                            matTooltipClass="ui-tooltip"
                            [matTooltipDisabled]="isAuthorized()"
                        >
                            <app-ui-button
                                variant="accent-solid"
                                [text]="'CATALOG.DETAIL.TRY.TITLE' | translate"
                                icon="expand_more"
                                iconPosition="right"
                                [matMenuTriggerFor]="tryMenu"
                                [disabled]="!isAuthorized()"
                            ></app-ui-button>
                        </div>
                        <mat-menu
                            #tryMenu="matMenu"
                            xPosition="before"
                            class="ui-dropdown-panel"
                            hasBackdrop="true"
                        >
                            <button
                                mat-menu-item
                                (click)="createGradioDeployment()"
                            >
                                <img
                                    class="menu-item-icon"
                                    src="../../../../../assets/images/module-detail/gradio.svg"
                                />
                                <div class="button-texts">
                                    <b>
                                        {{
                                            'CATALOG.DETAIL.TRY.USER-INTERFACE'
                                                | translate
                                        }}</b
                                    >
                                    <span class="button-description-text">
                                        {{
                                            'CATALOG.DETAIL.TRY.NOMAD-GRADIO'
                                                | translate
                                        }}</span
                                    >
                                </div>
                            </button>
                        </mat-menu>

                        <!-- Deploy -->
                        @if (isLoggedIn()) {
                            <div class="tooltip-container">
                                <app-ui-button
                                    variant="accent-solid"
                                    [text]="
                                        'CATALOG.DETAIL.DEPLOY.TITLE'
                                            | translate
                                    "
                                    icon="expand_more"
                                    iconPosition="right"
                                    [matMenuTriggerFor]="deployMenu"
                                ></app-ui-button>
                            </div>

                            <mat-menu
                                #deployMenu="matMenu"
                                xPosition="before"
                                class="ui-dropdown-panel"
                                hasBackdrop="true"
                            >
                                @if (module.links.docker_image) {
                                    <button
                                        mat-menu-item
                                        (click)="trainModulePlatform('oscar')"
                                        [disabled]="
                                            !isProjectMember() ||
                                            module.links.docker_image ===
                                                undefined
                                        "
                                        matTooltip=" {{
                                            'ERRORS.UNAUTHORIZED' | translate
                                        }}"
                                        matTooltipClass="ui-tooltip"
                                        [matTooltipPosition]="'left'"
                                        [matTooltipDisabled]="isProjectMember()"
                                    >
                                        <img
                                            class="menu-item-icon"
                                            src="../../../../../assets/images/oscar-logo.png"
                                        />
                                        <div class="button-texts">
                                            <b>
                                                {{
                                                    'CATALOG.DETAIL.DEPLOY.API-SERVERLESS'
                                                        | translate
                                                }}
                                            </b>
                                            <span
                                                class="button-description-text"
                                            >
                                                {{
                                                    'CATALOG.DETAIL.DEPLOY.OSCAR'
                                                        | translate
                                                }}
                                            </span>
                                        </div>
                                    </button>
                                }
                                <button
                                    mat-menu-item
                                    (click)="trainModulePlatform('nomad')"
                                    [disabled]="!isProjectMember()"
                                    matTooltip=" {{
                                        'ERRORS.UNAUTHORIZED' | translate
                                    }}"
                                    matTooltipClass="ui-tooltip"
                                    [matTooltipPosition]="'left'"
                                    [matTooltipDisabled]="isProjectMember()"
                                >
                                    <img
                                        class="menu-item-icon"
                                        src="../../../../../assets/images/module-detail/nomad.svg"
                                    />
                                    <div class="button-texts">
                                        <b>
                                            {{
                                                'CATALOG.DETAIL.DEPLOY.API-PLATFORM'
                                                    | translate
                                            }}</b
                                        >
                                        <span class="button-description-text">
                                            {{
                                                'CATALOG.DETAIL.DEPLOY.NOMAD'
                                                    | translate
                                            }}
                                        </span>
                                    </div>
                                </button>
                                <a
                                    mat-menu-item
                                    target="_blank"
                                    [href]="
                                        'https://im.egi.eu/im-dashboard/configure?selected_tosca=simple-node-disk.yml&childs=ai4eoscvm.yaml&ai4eosc_model_image=' +
                                        module.links.docker_image
                                    "
                                >
                                    <img
                                        class="menu-item-icon"
                                        src="../../../../../assets/images/module-detail/im-logo.png"
                                    />
                                    <div class="button-texts">
                                        <b>
                                            {{
                                                'CATALOG.DETAIL.DEPLOY.API-CLOUD'
                                                    | translate
                                            }}
                                        </b>
                                        <span class="button-description-text">
                                            {{
                                                'CATALOG.DETAIL.DEPLOY.IM'
                                                    | translate
                                            }}
                                        </span>
                                    </div>
                                </a>
                                <a
                                    mat-menu-item
                                    target="_blank"
                                    href="https://docs.ai4eosc.eu/en/latest/howtos/deploy/eosc-node.html"
                                >
                                    <img
                                        style="width: 24px; height: 24px"
                                        class="menu-item-icon"
                                        src="../../../../../assets/images/module-detail/circle-eu-flag.svg"
                                    />
                                    <div class="button-texts">
                                        <b>
                                            {{
                                                'CATALOG.DETAIL.DEPLOY.API-EU'
                                                    | translate
                                            }}
                                        </b>
                                        <span class="button-description-text">
                                            {{
                                                'CATALOG.DETAIL.DEPLOY.EU-NODE'
                                                    | translate
                                            }}
                                        </span>
                                    </div>
                                </a>
                            </mat-menu>

                            <!-- Codespaces -->
                            <div
                                class="tooltip-container"
                                matTooltip=" {{
                                    'ERRORS.UNAUTHORIZED' | translate
                                }}"
                                matTooltipClass="ui-tooltip"
                                [matTooltipDisabled]="isProjectMember()"
                            >
                                <app-ui-button
                                    variant="accent-solid"
                                    [text]="
                                        'CATALOG.DETAIL.CODESPACES.TITLE'
                                            | translate
                                    "
                                    icon="expand_more"
                                    iconPosition="right"
                                    [matMenuTriggerFor]="codespacesMenu"
                                    [disabled]="!isProjectMember()"
                                ></app-ui-button>
                            </div>
                            <mat-menu
                                #codespacesMenu="matMenu"
                                xPosition="before"
                                class="ui-dropdown-panel"
                                hasBackdrop="true"
                            >
                                <button
                                    mat-menu-item
                                    (click)="trainModuleCodespaces('jupyter')"
                                >
                                    <img
                                        class="menu-item-icon"
                                        src="../../../../../assets/images/module-detail/jupyter.svg"
                                    />
                                    <b>
                                        {{
                                            'CATALOG.DETAIL.CODESPACES.JUPYTERLAB'
                                                | translate
                                        }}</b
                                    >
                                </button>
                            </mat-menu>

                            <!-- Batch -->
                            <div
                                class="tooltip-container"
                                matTooltip=" {{
                                    'ERRORS.UNAUTHORIZED' | translate
                                }}"
                                matTooltipClass="ui-tooltip"
                                [matTooltipDisabled]="isProjectMember()"
                            >
                                <app-ui-button
                                    variant="accent-solid"
                                    [text]="
                                        'CATALOG.DETAIL.BATCH.TITLE' | translate
                                    "
                                    (click)="deployBatch()"
                                    [disabled]="!isProjectMember()"
                                ></app-ui-button>
                            </div>
                        }
                    </div>
                }

                <!-- TOOLS -->
                @if (isTool && isLoggedIn()) {
                    <div
                        [ngClass]="{
                            'action-buttons-container-mobile':
                                mobileQuery.matches,
                            'action-buttons-container': !mobileQuery.matches,
                        }"
                    >
                        <!-- Deploy -->
                        <div
                            class="tooltip-container"
                            matTooltip=" {{
                                'ERRORS.UNAUTHORIZED' | translate
                            }}"
                            matTooltipClass="ui-tooltip"
                            [matTooltipDisabled]="isProjectMember()"
                        >
                            @if (module.id === 'ai4os-dev-env') {
                                <app-ui-button
                                    variant="accent-solid"
                                    [text]="
                                        'CATALOG.DETAIL.DEPLOY.TITLE'
                                            | translate
                                    "
                                    icon="expand_more"
                                    iconPosition="right"
                                    [matMenuTriggerFor]="deployMenu"
                                    [disabled]="!isProjectMember()"
                                ></app-ui-button>
                                <mat-menu
                                    #deployMenu="matMenu"
                                    xPosition="before"
                                    class="ui-dropdown-panel"
                                    hasBackdrop="true"
                                >
                                    <button
                                        mat-menu-item
                                        (click)="
                                            trainModuleCodespaces('jupyter')
                                        "
                                    >
                                        <img
                                            class="menu-item-icon"
                                            src="../../../../../assets/images/module-detail/jupyter.svg"
                                        />

                                        <b>{{
                                            'CATALOG.DETAIL.CODESPACES.JUPYTERLAB'
                                                | translate
                                        }}</b>
                                    </button>
                                    <button
                                        mat-menu-item
                                        (click)="
                                            trainModuleCodespaces('vscode')
                                        "
                                    >
                                        <img
                                            class="menu-item-icon"
                                            src="../../../../../assets/images/module-detail/vscode.svg"
                                        />
                                        <b>
                                            {{
                                                'CATALOG.DETAIL.CODESPACES.VSCODE'
                                                    | translate
                                            }}</b
                                        >
                                    </button>
                                </mat-menu>
                            } @else {
                                <app-ui-button
                                    variant="accent-solid"
                                    [text]="
                                        'CATALOG.DETAIL.DEPLOY.TITLE'
                                            | translate
                                    "
                                    routerLink="deploy"
                                    id="deploy-tool-button"
                                    [disabled]="!isProjectMember()"
                                ></app-ui-button>
                            }
                        </div>
                    </div>
                }
            </div>
        </app-ui-banner>
    </header>

    <!-- Body -->
    <app-ui-card>
        <div
            [ngClass]="{
                'grid-1-column': mobileQuery.matches,
                'grid-2-columns-content': !mobileQuery.matches,
            }"
        >
            <!-- Description -->
            <div class="module-description">
                <markdown
                    [data]="module.description"
                    ngPreserveWhitespaces
                    [disableSanitizer]="true"
                >
                </markdown>
            </div>

            <div class="info-container">
                <!-- About -->
                <div class="sidebar-section">
                    <span class="sidebar-section__label">
                        {{ 'CATALOG.DETAIL.ABOUT' | translate }}
                    </span>

                    <app-ui-card>
                        <div class="sidebar-section__content">
                            <div class="badges-row">
                                @if (module.license !== '') {
                                    <app-ui-chip
                                        icon="license"
                                        [text]="module.license"
                                        [tooltip]="
                                            'CATALOG.DETAIL.LICENSE' | translate
                                        "
                                        variant="primary-outline"
                                        class="license-chip"
                                        (click)="
                                            openLicenseVocab(module.license)
                                        "
                                    ></app-ui-chip>
                                }

                                <span>
                                    @if (module.doi) {
                                        @if (module.links.zenodo_doi) {
                                            <a
                                                href="{{
                                                    module.links.zenodo_doi
                                                }}"
                                                target="_blank"
                                                class="badge-link"
                                                ><img
                                                    alt="DOI Badge"
                                                    src="{{
                                                        getDOIBadgeUrl(
                                                            module.doi
                                                        )
                                                    }}"
                                            /></a>
                                        } @else {
                                            <img
                                                alt="DOI Badge"
                                                class="badge-link"
                                                src="{{
                                                    getDOIBadgeUrl(module.doi)
                                                }}"
                                            />
                                        }
                                    }
                                    <a
                                        href="{{ module.links.cicd_url }}"
                                        target="_blank"
                                        class="badge-link"
                                        ><img
                                            alt="Build Status"
                                            src="{{ module.links.cicd_badge }}"
                                    /></a>
                                </span>
                            </div>
                        </div>
                    </app-ui-card>
                </div>

                <!-- Tasks -->
                <div class="sidebar-section">
                    <span class="sidebar-section__label">
                        {{ 'CATALOG.DETAIL.TASKS' | translate }}
                    </span>
                    <app-ui-card>
                        <div class="sidebar-section__content">
                            @for (task of module.tasks; track task) {
                                <app-ui-chip
                                    [text]="task"
                                    variant="secondary-1-solid"
                                ></app-ui-chip>
                            }
                        </div>
                    </app-ui-card>
                </div>

                <!-- Libraries -->
                <div class="sidebar-section">
                    <span class="sidebar-section__label">
                        {{ 'CATALOG.DETAIL.LIBRARIES' | translate }}
                    </span>
                    <app-ui-card>
                        <div class="sidebar-section__content">
                            @for (library of module.libraries; track library) {
                                <app-ui-chip
                                    [text]="library"
                                    variant="secondary-2-solid"
                                ></app-ui-chip>
                            }
                        </div>
                    </app-ui-card>
                </div>

                <!-- Data types -->
                @if (module['data-type'] && module['data-type'].length > 0) {
                    <div class="sidebar-section">
                        <span class="sidebar-section__label">
                            {{ 'CATALOG.DETAIL.DATA-TYPES' | translate }}
                        </span>
                        <app-ui-card>
                            <div class="sidebar-section__content">
                                @for (type of module['data-type']; track type) {
                                    <app-ui-chip
                                        [text]="type"
                                        [icon]="convertTypeToIcon(type)"
                                        variant="secondary-3-solid"
                                    ></app-ui-chip>
                                }
                            </div>
                        </app-ui-card>
                    </div>
                }

                <!-- Tags -->
                <div class="sidebar-section">
                    <span class="sidebar-section__label">
                        {{ 'CATALOG.DETAIL.TAGS' | translate }}
                    </span>
                    <app-ui-card>
                        <div class="sidebar-section__content">
                            @for (tag of module.tags; track tag) {
                                <app-ui-chip
                                    [text]="tag"
                                    icon="sell"
                                    variant="secondary-4-solid"
                                ></app-ui-chip>
                            }
                        </div>
                    </app-ui-card>
                </div>

                <!-- Categories -->
                <div class="sidebar-section">
                    <span class="sidebar-section__label">
                        {{ 'CATALOG.DETAIL.CATEGORIES' | translate }}
                    </span>
                    <app-ui-card>
                        <div class="sidebar-section__content">
                            @for (
                                category of module.categories;
                                track category
                            ) {
                                <app-ui-chip
                                    [text]="category"
                                    variant="secondary-5-solid"
                                ></app-ui-chip>
                            }
                        </div>
                    </app-ui-card>
                </div>

                <!-- Provenance -->
                @if (
                    !isTool && !module.links.source_code.includes('deephdc/')
                ) {
                    <!-- TODO: remove this condition when all modules are migrated -->
                    <div class="sidebar-section">
                        <span class="sidebar-section__label">
                            {{ 'CATALOG.DETAIL.PROVENANCE.TITLE' | translate }}
                        </span>
                        <app-ui-card>
                            <div class="grid-resources">
                                <app-ui-button
                                    variant="default-outline"
                                    icon="conversion_path"
                                    [text]="
                                        'CATALOG.DETAIL.PROVENANCE.VIEW'
                                            | translate
                                    "
                                    (click)="openProvenanceIframeDialog()"
                                ></app-ui-button>
                                <app-ui-button
                                    variant="default-outline"
                                    icon="download"
                                    [text]="
                                        'CATALOG.DETAIL.PROVENANCE.DOWNLOAD'
                                            | translate
                                    "
                                    [href]="
                                        'https://provenance.cloud.ai4eosc.eu/rdf?applicationId=' +
                                        module.id
                                    "
                                ></app-ui-button>
                                <app-ui-button
                                    class="download-metadata-button"
                                    variant="default-outline"
                                    icon="expand_more"
                                    iconPosition="right"
                                    [text]="
                                        'CATALOG.DETAIL.METADATA.DOWNLOAD'
                                            | translate
                                    "
                                    [matMenuTriggerFor]="downloadMetadataMenu"
                                ></app-ui-button>
                                <mat-menu
                                    #downloadMetadataMenu="matMenu"
                                    xPosition="before"
                                    class="ui-dropdown-panel"
                                    hasBackdrop="true"
                                >
                                    <button
                                        mat-menu-item
                                        (click)="
                                            downloadMetadata('application/json')
                                        "
                                    >
                                        <mat-icon>download</mat-icon>
                                        {{
                                            'CATALOG.DETAIL.METADATA.JSON'
                                                | translate
                                        }}
                                    </button>

                                    <button
                                        mat-menu-item
                                        (click)="
                                            downloadMetadata(
                                                'application/ld+json'
                                            )
                                        "
                                    >
                                        <mat-icon>download</mat-icon>
                                        {{
                                            'CATALOG.DETAIL.METADATA.JSON-LD'
                                                | translate
                                        }}
                                    </button>

                                    <button
                                        mat-menu-item
                                        (click)="
                                            downloadMetadata('text/turtle')
                                        "
                                    >
                                        <mat-icon>download</mat-icon>
                                        {{
                                            'CATALOG.DETAIL.METADATA.TURTLE'
                                                | translate
                                        }}
                                    </button>
                                </mat-menu>
                            </div>
                        </app-ui-card>
                    </div>
                }

                <!-- Additional resources -->
                <div class="sidebar-section">
                    <span class="sidebar-section__label">
                        {{
                            'CATALOG.DETAIL.ADDITIONAL-RESOURCES.TITLE'
                                | translate
                        }}
                    </span>
                    <app-ui-card>
                        <div class="grid-resources">
                            <app-ui-button
                                variant="default-outline"
                                image="../../../../../assets/images/module-detail/github.svg"
                                [text]="'CATALOG.DETAIL.GITHUB' | translate"
                                [href]="module.links.source_code"
                            ></app-ui-button>

                            <app-ui-button
                                variant="default-outline"
                                icon="bug_report"
                                [text]="
                                    'CATALOG.DETAIL.REPORT-ISSUE' | translate
                                "
                                [href]="module.links.source_code + '/issues'"
                            ></app-ui-button>

                            @if (module.links.dataset) {
                                <app-ui-button
                                    variant="default-outline"
                                    icon="database"
                                    [text]="
                                        'CATALOG.DETAIL.ADDITIONAL-RESOURCES.DATASET'
                                            | translate
                                    "
                                    [href]="module.links.dataset"
                                ></app-ui-button>
                            }
                            @if (module.links.docker_image) {
                                <app-ui-button
                                    variant="default-outline"
                                    image="../../../../../assets/images/module-detail/dockerhub.svg"
                                    [text]="
                                        'CATALOG.DETAIL.DOCKERHUB' | translate
                                    "
                                    [href]="
                                        'https://hub.docker.com/r/' +
                                        module.links.docker_image
                                    "
                                ></app-ui-button>
                            }
                            @if (module.links.documentation) {
                                <app-ui-button
                                    variant="default-outline"
                                    icon="description"
                                    [text]="
                                        'CATALOG.DETAIL.ADDITIONAL-RESOURCES.DOCUMENTATION'
                                            | translate
                                    "
                                    [href]="module.links.documentation"
                                ></app-ui-button>
                            }
                            @if (module.links.weights) {
                                <app-ui-button
                                    variant="default-outline"
                                    icon="weight"
                                    [text]="
                                        'CATALOG.DETAIL.ADDITIONAL-RESOURCES.WEIGHTS'
                                            | translate
                                    "
                                    [href]="module.links.weights"
                                ></app-ui-button>
                            }
                            @if (module.links.citation) {
                                <app-ui-button
                                    variant="default-outline"
                                    icon="format_quote"
                                    [text]="
                                        'CATALOG.DETAIL.ADDITIONAL-RESOURCES.CITATION'
                                            | translate
                                    "
                                    [href]="module.links.citation"
                                ></app-ui-button>
                            }
                            @if (module.links.base_model) {
                                <app-ui-button
                                    variant="default-outline"
                                    icon="model_training"
                                    [text]="
                                        'CATALOG.DETAIL.ADDITIONAL-RESOURCES.BASE-MODEL'
                                            | translate
                                    "
                                    [href]="module.links.base_model"
                                ></app-ui-button>
                            }
                        </div>
                    </app-ui-card>
                </div>

                <!-- Dates -->
                @if (
                    module.dates &&
                    (module.dates.created || module.dates.updated)
                ) {
                    <div class="sidebar-section">
                        <span class="sidebar-section__label">
                            {{ 'CATALOG.DETAIL.DATES' | translate }}
                        </span>
                        <app-ui-card>
                            <div class="dates-content">
                                @if (module.dates.created) {
                                    <div class="date-row">
                                        <mat-icon>calendar_month</mat-icon>
                                        <span class="date-row__label">
                                            {{
                                                'CATALOG.DETAIL.CREATED'
                                                    | translate
                                            }}
                                        </span>
                                        <span class="date-row__value">
                                            {{ module.dates.created }}
                                        </span>
                                    </div>
                                }
                                @if (module.dates.updated) {
                                    <div class="date-row">
                                        <mat-icon>update</mat-icon>
                                        <span class="date-row__label">
                                            {{
                                                'CATALOG.DETAIL.UPDATED'
                                                    | translate
                                            }}
                                        </span>
                                        <span class="date-row__value">
                                            {{ module.dates.updated }}
                                        </span>
                                    </div>
                                }
                            </div>
                        </app-ui-card>
                    </div>
                }
            </div>
        </div>
    </app-ui-card>
}
