.grid-2-columns-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 5rem;
}

.action-buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
}

.action-buttons-container-mobile {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding-top: 15px;
}

.grid-resources {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0.8em;
    width: 100%;
    margin-top: 10px;
}

.action-button {
    display: flex;
    align-self: center;
    text-align: center;
    flex-direction: row-reverse;
    column-gap: 5px;
    min-width: fit-content;
}

.sub-button {
    justify-content: flex-end;
}

.arrow-button {
    margin: 0px !important;
}

.detail-card {
    margin-bottom: 15px;
}

.module-detail-card-header {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    gap: 1em;
}

.module-detail-card-header-mobile {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    flex-direction: column;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 400px;
    margin: 16px 0 0 auto;
    gap: 1.5em;
}

.tooltip-container {
    height: fit-content;
}

.spinner-with-description {
    display: flex;
    flex-direction: column;
}

.button-with-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    padding: 12px 0px;
}

.button-texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.button-description-text {
    font-size: 14px;
    color: var(--warm-grey);
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0.5em;
    width: 100%;
    margin-top: 10px;
}

.license-and-badges {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-container {
    border: 1px solid var(--border-gray);
    border-radius: 10px;
    padding: 10px;
    width: -webkit-fill-available;
    width: -moz-available;
    position: relative;
    box-shadow:
        0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.box-title {
    text-shadow: #d0d0d0 1px 0 2px;
    position: absolute;
    top: -10px;
    left: 15px;
    background-color: white;
    padding: 0 10px;
    font-size: 16px;
}

.box-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.5em;
    margin-top: 10px;
}

.module-description {
    max-width: 860px;
}

mat-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-break: break-all;
}

mat-card-subtitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1em;
}

::ng-deep .mat-mdc-card-header-text {
    width: 100%;
}

::ng-deep .module-description img {
    background-color: red;
    max-width: 100%;
}

::ng-deep .module-description video {
    max-width: 600px;
}
