<div class="content">
    <ng-container *ngIf="mobileQuery.matches; else desktop">
        <mat-toolbar class="mb-3 marketplace-toolbar mobile">
            <span
                >{{ 'CATALOG.MODULES-TITLE' | translate }}
                <mat-icon>model_training</mat-icon></span
            >
        </mat-toolbar>
    </ng-container>

    <ng-template #desktop>
        <mat-toolbar class="marketplace-toolbar">
            <div class="marketplaces-container">
                <span class="aligned-with-icon">
                    {{ 'CATALOG.MODULES-TITLE' | translate }}
                    <mat-icon>model_training</mat-icon>
                </span>
            </div>
        </mat-toolbar>
    </ng-template>

    @if (ai4eoscModulesLoading || ai4lifeModulesLoading) {
        <div class="spinner">
            <mat-progress-spinner color="primary" mode="indeterminate">
            </mat-progress-spinner>
        </div>
    } @else {
        <mat-tab-group
            #tabGroup
            mat-stretch-tabs="false"
            [(selectedIndex)]="selectedTabIndex"
            (selectedTabChange)="selectMarketplace($event)"
        >
            <mat-tab label="AI4EOSC">
                <app-catalog-list
                    [elements]="ai4eoscModules"
                ></app-catalog-list>
            </mat-tab>

            <mat-tab label="External catalogs:" [disabled]="true"> </mat-tab>

            <mat-tab label="AI4Life">
                <app-ai4life-list [modules]="ai4lifeModules"></app-ai4life-list
            ></mat-tab>
        </mat-tab-group>
    }
</div>
