<div class="content">
    @if (isMobile()) {
        <mat-toolbar class="mb-3 marketplace-toolbar mobile">
            <span>
                {{ 'CATALOG.MODULES.TITLE' | translate }}
                <mat-icon>model_training</mat-icon>
            </span>
        </mat-toolbar>
    } @else {
        <app-ui-banner variant="primary" decoration="catalog">
            <h1>
                {{ 'CATALOG.MODULES.TITLE' | translate }}
            </h1>
        </app-ui-banner>
    }

    @if (modulesLoading()) {
        <div class="spinner">
            <app-ui-loader></app-ui-loader>
        </div>
    } @else if (modulesError()) {
        <div class="modules-error-state">
            <mat-icon>error_outline</mat-icon>
            <p>{{ 'CATALOG.COMMON.LOAD-ERROR' | translate }}</p>
        </div>
    } @else {
        <app-ui-tabs
            [tabs]="tabs"
            [activeTabId]="activeTab()"
            (tabChange)="onTabSelected($event)"
        >
        </app-ui-tabs>

        <div class="tab-content-container">
            @if (activeTab() === 'ai4eosc') {
                <app-catalog-list
                    [elements]="ai4eoscElements()"
                    [loading]="modulesLoading()"
                    [error]="modulesError()"
                    [storageKey]="catalogStorageKey"
                    [initialFilters]="ai4eoscInitialFilters()"
                ></app-catalog-list>
            } @else {
                <app-ai4life-list></app-ai4life-list>
            }
        </div>
    }
</div>
