<form [formGroup]="storageConfFormGroup" class="conf-form">
    <div class="title-and-toggles">
        <h4>
            {{ 'CATALOG.CONF-FORMS.DATA.SUBTITLE-STORAGE' | translate }}
        </h4>
        @if (
            isCvatTool &&
            !credentialsLoading &&
            (storageConfFormGroup.get('storageServiceDatasetSelect')?.value ===
                '' ||
                $safeNavigationMigration(
                    storageConfFormGroup.get('storageServiceDatasetSelect')
                        ?.value
                ) === undefined)
        ) {
            <app-ui-chip
                variant="danger-solid"
                icon="warning"
                [text]="
                    'CATALOG.CONF-FORMS.DATA.NO-STORAGE-SELECTED' | translate
                "
            ></app-ui-chip>
        } @else if (rcloneIsRequired) {
            <app-ui-chip
                variant="danger-solid"
                icon="warning"
                [text]="'CATALOG.CONF-FORMS.DATA.STORAGE-ERROR' | translate"
            ></app-ui-chip>
        }
    </div>
    <div
        class="storage-container"
        [ngClass]="{
            'form-flex': mobileQuery.matches,
            'grid-1-column': !mobileQuery.matches,
        }"
    >
        <div style="position: relative">
            <app-ui-select
                formControlName="storageServiceDatasetSelect"
                label="CATALOG.CONF-FORMS.DATA.STORAGE-SERVICE"
                [options]="storageServiceOptions"
                (valueChange)="updateStorageConfiguration()"
            >
                @if (_showHelp) {
                    <div ui-hint class="ui-text-field__hint">
                        {{
                            'CATALOG.CONF-FORMS.DATA.STORAGE-SERVICE-HINT-1'
                                | translate
                        }}
                        <a [routerLink]="['/profile']" target="_blank">{{
                            'CATALOG.CONF-FORMS.DATA.STORAGE-SERVICE-HINT-2'
                                | translate
                        }}</a
                        >.
                    </div>
                }
                @if (!_showHelp && credentials.length === 0) {
                    <div ui-hint class="ui-text-field__hint">
                        {{
                            'CATALOG.CONF-FORMS.DATA.STORAGE-SERVICE-UNAVAILABLE'
                                | translate
                        }}
                        <a [routerLink]="['/profile']" target="_blank">{{
                            'CATALOG.CONF-FORMS.DATA.STORAGE-SERVICE-TRY-LINK'
                                | translate
                        }}</a
                        >.
                    </div>
                }
            </app-ui-select>

            @if (credentialsLoading) {
                <app-ui-loader></app-ui-loader>
            }
        </div>

        @if (isCvatTool) {
            <div class="snapshots-row">
                <h4>
                    {{
                        'CATALOG.MODULE-TRAIN.DATA-CONF-FORM.SNAPSHOTS-CONF'
                            | translate
                    }}
                </h4>

                <span class="cvat-step-title">
                    <span class="small-text"> Sort: </span>

                    <mat-chip-listbox>
                        <mat-chip-option
                            [selected]="sortBy === 'name'"
                            value="name"
                            (selectionChange)="selectedSortingChip($event)"
                            >{{
                                'CATALOG.SORTING.NAME' | translate
                            }}</mat-chip-option
                        >
                        <mat-chip-option
                            [selected]="sortBy === 'recent'"
                            value="recent"
                            (selectionChange)="selectedSortingChip($event)"
                            >{{
                                'CATALOG.SORTING.MOST-RECENT' | translate
                            }}</mat-chip-option
                        >
                    </mat-chip-listbox>
                </span>
            </div>

            <mat-form-field>
                <mat-label>{{
                    'CATALOG.MODULE-TRAIN.DATA-CONF-FORM.SNAPSHOT' | translate
                }}</mat-label>
                <mat-select
                    formControlName="snapshotDatasetSelect"
                    panelClass="snapshot-class"
                >
                    <mat-select-trigger>
                        {{
                            storageConfFormGroup.get('snapshotDatasetSelect')
                                ?.value
                        }}
                    </mat-select-trigger>

                    <mat-option>-</mat-option>
                    @for (
                        snapshotOption of snapshotOptions;
                        track snapshotOption
                    ) {
                        <mat-option
                            [value]="snapshotOption.value"
                            class="snapshot-option-container"
                        >
                            {{ snapshotOption.viewValue }}
                            <button
                                mat-icon-button
                                color="warn"
                                (click)="
                                    deleteSnapshot($event, snapshotOption.value)
                                "
                            >
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-option>
                    }
                </mat-select>
                @if (snapshotsLoading) {
                    <mat-spinner
                        matSuffix
                        [diameter]="18"
                        class="input-spinner"
                    ></mat-spinner>
                }
                @if (_showHelp) {
                    <mat-hint>
                        {{
                            'CATALOG.MODULE-TRAIN.DATA-CONF-FORM.SNAPSHOT-HINT'
                                | translate
                        }}
                    </mat-hint>
                }
                @if (!_showHelp && snapshotOptions.length === 0) {
                    <mat-hint>
                        {{
                            'CATALOG.MODULE-TRAIN.DATA-CONF-FORM.SNAPSHOT-UNAVAILABLE'
                                | translate
                        }}
                    </mat-hint>
                }
            </mat-form-field>
        }
    </div>

    @if (!isCvatTool) {
        <div class="dataset-options-container">
            <span class="title-with-button">
                <h4>
                    {{ 'CATALOG.CONF-FORMS.DATA.SUBTITLE-DATASET' | translate }}
                </h4>
                @if (!storageConfFormGroup.valid && datasets.length > 0) {
                    <app-ui-chip
                        variant="danger-solid"
                        icon="warning"
                        [text]="
                            'CATALOG.CONF-FORMS.DATA.DATASET-ERROR' | translate
                        "
                    ></app-ui-chip>
                }
                @if (suggestedDatasetIsValid()) {
                    <button
                        mat-stroked-button
                        (click)="
                            datasetsListComponent.addDataset(suggestedDataset)
                        "
                    >
                        <span class="aligned-with-icon scale-icon-down">
                            <mat-icon color="accent">emoji_objects</mat-icon>
                            {{
                                'CATALOG.CONF-FORMS.DATA.DATASET-SUGGESTION'
                                    | translate
                            }}
                        </span>
                    </button>
                }
            </span>

            <app-datasets-list
                class="full-width"
                [storageConfFormGroup]="storageConfFormGroup"
                (datasetAdded)="addDataset($event)"
                (datasetDeleted)="deleteDataset($event)"
                (datasetPullChanged)="updateDataset($event)"
            ></app-datasets-list>
        </div>
    }
</form>
