<div class="ui-credential-row">
    <span class="ui-credential-row__value">{{ displayValue }}</span>

    <div class="ui-credential-row__icons">
        @if (maskable) {
            <mat-icon
                class="ui-credential-row__icon"
                (click)="toggleVisibility()"
            >
                {{ hidden ? 'visibility' : 'visibility_off' }}
            </mat-icon>
        }
        <mat-icon class="ui-credential-row__icon" (click)="onCopy()">
            content_copy
        </mat-icon>
    </div>
</div>
