<mat-toolbar class="mb-3">
    <span class="aligned-with-icon">
        {{ 'INFERENCE.TITLE-HEADER' | translate }}
        <mat-icon> rule_settings </mat-icon>
    </span>
</mat-toolbar>

<app-deployments-table
    cardName="{{ 'INFERENCE.OSCAR' | translate }}"
    cardImage="oscar-logo.png"
    deploymentType="inference"
    [showCardActions]="false"
    [isLoading]="isLoading"
    [dataset]="dataset"
    [dataSource]="dataSource"
    [columns]="columns"
    (showElementInfo)="openServiceDetailDialog($event)"
    (deleteElement)="removeService($event)"
></app-deployments-table>
