<div class="content">
    <app-ui-banner variant="primary" decoration="deployments">
        <h1>
            {{ 'INFERENCE.HEADER' | translate }}
        </h1>
    </app-ui-banner>

    <app-deployments-table
        deploymentType="inference"
        [showCardActions]="false"
        [isLoading]="isLoading"
        [dataset]="dataset"
        [columns]="columns"
        (showElementInfo)="openServiceDetailDialog($event)"
        (deleteElement)="removeService($event)"
    ></app-deployments-table>
</div>
