/* You can add global styles to this file, and also import other style files */

@use 'src/theme/partials/spaces';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: var(--primary-text);
}

.grid-2-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.grid-3-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}


.mat-icon-filled {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    min-height: 250px;
}