@if (isLoading) {
    <div class="spinner-loading-overlay">
        <app-ui-loader></app-ui-loader>
    </div>
} @else {
    <!-- Header -->
    <header class="header">
        <div class="header__top-bar">
            <xng-breadcrumb class="header__breadcrumb"></xng-breadcrumb>
        </div>

        <app-ui-banner variant="primary" decoration="none">
            <div class="banner-layout">
                <div class="banner-layout__header">
                    <div class="banner-layout__info">
                        <h1 class="banner-layout__title">
                            {{ deployment?.title }}
                        </h1>
                        <app-ui-chip
                            [text]="deployment?.status ?? ''"
                            [variant]="getStatusChipVariant()"
                        ></app-ui-chip>
                    </div>
                    <p class="banner-layout__subtitle">
                        @if (deployment?.datacenter) {
                            {{ deployment?.datacenter }} &middot;
                        }
                        {{ deployment?.submit_time | date: 'd MMM y, HH:mm' }}
                    </p>
                </div>

                <div class="banner-layout__user-id">
                    <span class="banner-layout__user-id-label">{{
                        'DEPLOYMENTS.UUID' | translate
                    }}</span>
                    <span class="banner-layout__user-id-value">{{
                        deployment?.job_ID
                    }}</span>
                </div>
            </div>
        </app-ui-banner>
    </header>

    <!-- Tabs -->
    <app-ui-tabs
        [tabs]="tabs"
        [activeTabId]="activeTabId"
        (tabChange)="onTabChange($event)"
    ></app-ui-tabs>

    @if (deploymentHasError) {
        <app-ui-banner class="error-banner">
            <mat-icon style="vertical-align: bottom">warning</mat-icon>
            {{ 'GENERAL.ERROR' | translate }}: {{ deployment?.error_msg }}
        </app-ui-banner>
    }

    <!-- Overview tab -->
    @if (activeTabId === 'overview') {
        <section class="tab-content">
            <!-- Basic info & Endpoints -->
            <div class="deployment-info-layout">
                <div class="details-column">
                    <span class="section-title">{{
                        'DEPLOYMENTS.OVERVIEW.DETAILS' | translate
                    }}</span>
                    <app-ui-card class="details-card">
                        <div class="detail-item">
                            <span class="detail-label">{{
                                'DEPLOYMENTS.DEPLOYMENT-DETAIL.DESCRIPTION'
                                    | translate
                            }}</span>
                            <span class="detail-value italic">
                                {{
                                    deployment?.description &&
                                    deployment?.description !== '-'
                                        ? deployment?.description
                                        : '-'
                                }}
                            </span>
                        </div>

                        <div class="detail-item">
                            <span class="detail-label with-icon">
                                <img
                                    src="assets/images/module-detail/dockerhub.svg"
                                    class="docker-icon"
                                />{{
                                    'DEPLOYMENTS.DEPLOYMENT-DETAIL.DOCKER-IMAGE'
                                        | translate
                                }}</span
                            >
                            <span class="detail-value code-font">
                                {{ deployment?.docker_image ?? '-' }}
                            </span>
                        </div>
                    </app-ui-card>
                </div>

                <div class="endpoints-column">
                    <span class="section-title">{{
                        'DEPLOYMENTS.DEPLOYMENT-DETAIL.ENDPOINTS' | translate
                    }}</span>
                    <app-ui-card class="endpoints-card">
                        <div class="grid-endpoints">
                            @for (
                                endpoint of endpointsList;
                                track endpoint.key
                            ) {
                                <app-ui-button
                                    variant="primary-outline"
                                    icon="open_in_new"
                                    [text]="endpoint.key | uppercase"
                                    [href]="endpoint.value"
                                    [translateText]="false"
                                    target="_blank"
                                    [disabled]="!isActiveEndPoint(endpoint.key)"
                                ></app-ui-button>
                            } @empty {
                                <p>-</p>
                            }
                        </div>
                    </app-ui-card>
                </div>
            </div>

            <!-- Details ai4os-llm -->
            @if (
                type === 'tool' &&
                deployment?.tool_name === 'ai4os-llm' &&
                tokenField.value !== ''
            ) {
                <div class="sidebar-section">
                    <span class="sidebar-section__label">
                        {{
                            'DEPLOYMENTS.DEPLOYMENT-DETAIL.VLLM.DETAILS'
                                | translate
                        }}
                    </span>
                    <app-ui-card>
                        <div class="vllm-field">
                            <span class="vllm-field__label">{{
                                'DEPLOYMENTS.DEPLOYMENT-DETAIL.VLLM.URL'
                                    | translate
                            }}</span>
                            <div class="token-container">
                                <app-ui-credential-row
                                    class="full-width"
                                    [value]="
                                        deployment?.endpoints?.vllm + '/v1'
                                    "
                                ></app-ui-credential-row>
                            </div>
                        </div>

                        <div class="vllm-field">
                            <span class="vllm-field__label">{{
                                'DEPLOYMENTS.DEPLOYMENT-DETAIL.VLLM.TOKEN'
                                    | translate
                            }}</span>
                            <div class="token-container">
                                <app-ui-credential-row
                                    class="full-width"
                                    [maskable]="true"
                                    [value]="tokenField.value"
                                ></app-ui-credential-row>
                            </div>
                        </div>
                    </app-ui-card>
                </div>
            }

            <!-- Resources -->
            <div class="resources-grid">
                @for (item of resourceItems; track item.label) {
                    <app-stats-reduced-card
                        [label]="item.label"
                        [value]="item.value"
                        [unit]="item.unit"
                        [icon]="item.icon"
                    ></app-stats-reduced-card>
                } @empty {
                    <p>-</p>
                }
            </div>
        </section>
    }

    <!-- Command tab (batch) -->
    @if (activeTabId === 'command') {
        <section class="tab-content">
            <span class="text-area">
                <app-text-editor
                    [readonly]="true"
                    [disabled]="true"
                    [value]="localBatchScript!"
                    [height]="'inherit'"
                ></app-text-editor>

                <div class="text-area__button">
                    <app-ui-button
                        variant="icon"
                        icon="content_copy"
                        tooltip="Copy"
                        [copy-to-clipboard]="localBatchScript"
                    ></app-ui-button>
                </div>
            </span>
        </section>
    }

    <!-- Energy tab -->
    @if (activeTabId === 'energy') {
        <section class="tab-content">
            <div class="energy-columns-grid">
                <div class="energy-column">
                    <app-stats-reduced-card
                        [label]="energyItems[0].label | translate"
                        [value]="energyItems[0].value"
                        [unit]="energyItems[0].unit"
                        [icon]="energyItems[0].icon"
                        [color]="energyItems[0].color"
                    ></app-stats-reduced-card>
                    <app-footprint-chart
                        unit="W"
                        [timestamps]="energyTimestamps"
                        [values]="powerSeriesValues"
                        [colors]="['--color-secondary-1']"
                    ></app-footprint-chart>
                </div>

                <div class="energy-column">
                    <app-stats-reduced-card
                        [label]="energyItems[1].label | translate"
                        [value]="energyItems[1].value"
                        [unit]="energyItems[1].unit"
                        [icon]="energyItems[1].icon"
                        [color]="energyItems[1].color"
                    ></app-stats-reduced-card>
                    <app-footprint-chart
                        unit="Wh"
                        [timestamps]="energyTimestamps"
                        [values]="energySeriesValues"
                        [colors]="['--color-secondary-2']"
                    ></app-footprint-chart>
                </div>

                <div class="energy-column">
                    <app-stats-reduced-card
                        [label]="energyItems[2].label | translate"
                        [value]="energyItems[2].value"
                        [unit]="energyItems[2].unit"
                        [icon]="energyItems[2].icon"
                        [color]="energyItems[2].color"
                    ></app-stats-reduced-card>
                    <app-footprint-chart
                        unit="g CO₂"
                        [timestamps]="energyTimestamps"
                        [values]="carbonSeriesValues"
                        [colors]="['--color-secondary-5']"
                    ></app-footprint-chart>
                </div>

                <div class="energy-column">
                    <app-stats-reduced-card
                        [label]="energyItems[3].label | translate"
                        [value]="energyItems[3].value"
                        [unit]="energyItems[3].unit"
                        [icon]="energyItems[3].icon"
                        [color]="energyItems[3].color"
                    ></app-stats-reduced-card>
                    <app-footprint-chart
                        unit="L"
                        [timestamps]="energyTimestamps"
                        [values]="waterSeriesValues"
                        [colors]="['--color-secondary-3']"
                    ></app-footprint-chart>
                </div>
            </div>
        </section>
    }
}
