<div class="table-container">
    <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        matSort
        (matSortChange)="announceSortChange($event)"
    >
        <ng-container
            *ngFor="let column of columns"
            [matColumnDef]="column.columnDef"
        >
            <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by {column.header}"
                >{{ column.header | translate }}</mat-header-cell
            >
            <mat-cell *matCellDef="let row" class="content-cell">
                <ng-container *ngIf="column.columnDef === 'actions'">
                    <button
                        mat-button
                        matTooltip="Info"
                        matBadgeOverlap="false"
                        matBadgeSize="small"
                        [matBadgeHidden]="!hasToolErrors(row)"
                        matBadge="priority_high"
                        matBadgeColor="warn"
                        class="action-button-in-cell"
                        (click)="openToolDetailDialog(row)"
                    >
                        <mat-icon color="accent" id="infoIcon">info</mat-icon>
                    </button>

                    <div
                        *ngIf="
                            !isFederatedServer(row);
                            else fedServerQuickAccess
                        "
                        matTooltip="Quick access"
                    >
                        <a
                            mat-button
                            [disabled]="!isToolRunning(row)"
                            [href]="row.mainEndpoint"
                            target="_blank"
                            class="action-button-in-cell"
                            (click)="$event.stopPropagation()"
                        >
                            <mat-icon color="accent" id="accessIcon"
                                >terminal</mat-icon
                            >
                        </a>
                    </div>

                    <ng-template #fedServerQuickAccess>
                        <div matTooltip="Copy to clipboard">
                            <a
                                mat-button
                                [disabled]="!isToolRunning(row)"
                                class="action-button-in-cell"
                                [copy-to-clipboard]="row.mainEndpoint"
                            >
                                <mat-icon color="accent" id="accessIcon"
                                    >content_copy</mat-icon
                                >
                            </a>
                        </div>
                    </ng-template>

                    <button
                        mat-button
                        matTooltip="Delete"
                        class="action-button-in-cell"
                        (click)="removeTool($event, row)"
                    >
                        <mat-icon color="warn">delete</mat-icon>
                    </button>
                </ng-container>
                <ng-container *ngIf="column.columnDef === 'status'">
                    <img
                        src="https://img.shields.io/badge/{{
                            returnToolBadge(row[column.columnDef])
                        }}"
                        height="20"
                    />
                </ng-container>
                <ng-container *ngIf="column.columnDef !== 'status'">
                    {{ row[column.columnDef] }}
                </ng-container>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

        <!--No data in table message-->
        <ng-container *ngIf="!isLoading">
            <div *matNoDataRow class="no-deployment-message-container">
                {{ 'DEPLOYMENTS.NO-DEPLOYMENTS' | translate }}
            </div>
        </ng-container>
    </table>
    <div *ngIf="isLoading" class="smaller-spinner">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </div>
</div>
