<div class="ui-file-upload">
    <input
        #fileUpload
        type="file"
        accept=".sh,.bash,.command,.run"
        class="ui-file-upload__input"
        (change)="onChange($event)"
        hidden
    />

    @if (!file) {
        <div
            class="ui-file-upload__dropzone"
            role="button"
            tabindex="0"
            (click)="fileUpload.click()"
            (keydown.enter)="fileUpload.click()"
            (keydown.space)="fileUpload.click()"
        >
            <mat-icon class="ui-file-upload__icon">upload_file</mat-icon>

            <app-ui-button
                variant="primary-solid"
                icon="attach_file"
                [text]="('FILE-UPLOAD.SELECT' | translate) + '*'"
                (click)="fileUpload.click()"
            ></app-ui-button>

            <p class="ui-file-upload__hint">
                {{ 'FILE-UPLOAD.ALLOWED-FILE-TYPE' | translate }}
            </p>
        </div>
    } @else {
        <div class="ui-file-upload__row">
            <div class="ui-file-upload__file">
                <mat-icon class="ui-file-upload__file-icon"
                    >description</mat-icon
                >
                <div class="ui-file-upload__file-info">
                    <span class="ui-file-upload__file-name">{{
                        file.name
                    }}</span>
                    <span class="ui-file-upload__file-meta">{{
                        getFileSize(file.size)
                    }}</span>
                </div>
            </div>

            <div class="ui-file-upload__actions">
                @if (showReplaceAction) {
                    <app-ui-button
                        variant="default-outline"
                        icon="sync"
                        [tooltip]="'FILE-UPLOAD.SELECT' | translate"
                        (click)="fileUpload.click()"
                    ></app-ui-button>
                }
                <app-ui-button
                    variant="danger-solid"
                    icon="delete"
                    [tooltip]="'GENERAL.DELETE' | translate"
                    (click)="removeFile($event)"
                ></app-ui-button>
            </div>
        </div>
    }
</div>
