.title {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.tool-title {
    display: flex;
    justify-content: space-between;
}

.secrets-list {
    display: flex;
    flex-direction: column;
    row-gap: 0.8em;
}

.secret-item {
    display: flex;
    flex-flow: row;
    column-gap: 1em;
    align-items: baseline;
}

.secret-item-mobile {
    display: flex;
    flex-flow: row;
    column-gap: 0;
    align-items: baseline;
}

.full-width {
    width: 100%;
}

.card-content-mobile {
    overflow: scroll;
    max-height: 450px;
}

@media (max-width: 650px) {
    ::ng-deep .mat-mdc-paginator-container {
        justify-content: center !important;
    }
    ::ng-deep .mat-mdc-paginator-container > div > div {
        display: none !important;
    }
    ::ng-deep .mat-mdc-paginator-range-actions > div {
        display: none !important;
    }
}
