<mat-toolbar>
    <span class="title">
        {{ 'DEPLOYMENTS.DEPLOYMENT-SECRETS.TITLE' | translate }}

        <mat-icon>vpn_key</mat-icon></span
    >
</mat-toolbar>

<mat-card>
    <div *ngIf="isLoading" class="spinner spinner_overlay">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </div>

    <mat-card-header>
        <mat-card-title class="tool-title">
            <h2>{{ data.name }}</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content
        [ngClass]="{
            'card-content-mobile': this.mobileQuery.matches
        }"
    >
        <div class="secrets-list">
            <h3>
                {{ 'DEPLOYMENTS.DEPLOYMENT-SECRETS.LIST' | translate }}
            </h3>
            <div
                *ngFor="let secret of paginatedSecrets"
                [ngClass]="{
                    'secret-item': !mobileQuery.matches,
                    'secret-item-mobile': mobileQuery.matches
                }"
            >
                <mat-form-field class="full-width" subscriptSizing="dynamic">
                    <mat-label>{{ secret.name }}</mat-label>
                    <input
                        matInput
                        [type]="secret.hide ? 'password' : 'text'"
                        disabled="true"
                        value="{{ secret.value }}"
                    />

                    <button
                        mat-icon-button
                        matSuffix
                        [matTooltip]="secret.hide ? 'Show' : 'Hide'"
                        (click)="secret.hide = !secret.hide"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="secret.hide"
                    >
                        <mat-icon color="primary">{{
                            secret.hide ? 'visibility_off' : 'visibility'
                        }}</mat-icon>
                    </button>
                </mat-form-field>
                <button
                    mat-icon-button
                    matTooltip="Copy"
                    [copy-to-clipboard]="secret.value"
                >
                    <mat-icon matSuffix color="primary"> content_copy</mat-icon>
                </button>
                <button
                    mat-icon-button
                    matTooltip="Delete"
                    color="warn"
                    (click)="deleteSecret(secret.name)"
                >
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

            <mat-paginator
                #paginator
                class="mb-1"
                (page)="handlePageEvent($event)"
                [length]="length"
                [pageSize]="pageSize"
                [disabled]="false"
                [showFirstLastButtons]="true"
                [hidePageSize]="false"
                [pageIndex]="pageIndex"
                aria-label="Select page"
            >
            </mat-paginator>

            <div [formGroup]="secretFormGroup" class="secret-item">
                <mat-form-field class="full-width">
                    <mat-label>New secret name</mat-label>
                    <input matInput type="text" formControlName="secret" />
                    <mat-error
                        *ngIf="
                            secretFormGroup.get('secret')?.errors?.['required']
                        "
                    >
                        {{
                            'DEPLOYMENTS.DEPLOYMENT-SECRETS.REQUIRED-FIELD-ERROR'
                                | translate
                        }}
                    </mat-error>
                    <mat-hint
                        *ngIf="!secretNameValid()"
                        class="mat-mdc-form-field-error"
                    >
                        {{
                            'DEPLOYMENTS.DEPLOYMENT-SECRETS.UNIQUE-NAME-ERROR'
                                | translate
                        }}
                    </mat-hint>
                </mat-form-field>
                <button
                    mat-icon-button
                    matTooltip="Create"
                    color="primary"
                    disabled="{{
                        secretFormGroup.get('secret')?.errors?.['required'] ||
                            !secretNameValid()
                    }}"
                    (click)="addSecret()"
                >
                    <mat-icon>add_circle</mat-icon>
                </button>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions align="end" class="actions-container">
        <button mat-raised-button mat-dialog-close color="accent">Ok</button>
    </mat-card-actions>
</mat-card>
