@use '@angular/material' as mat;

.title {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.tool-title {
    display: flex;
    justify-content: space-between;
}

.secrets-list {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
}
.secrets-list-action-icon {
    transform: scale(0.9);
}

::ng-deep .secrets-list {
    @include mat.form-field-density(-1);
}

.secret-item {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.new-secret-item {
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: baseline;
}

.secret-item-mobile {
    display: flex;
    flex-flow: row;
    column-gap: 0;
    align-items: baseline;
}

.card-content-mobile {
    overflow: scroll;
    max-height: 450px;
}

.actions-container {
    padding-top: 2em;
}

.empty-list {
    text-align: center;
    margin-top: 0;
}

@media (max-width: 650px) {
    ::ng-deep .mat-mdc-paginator-container {
        justify-content: center !important;
    }
    ::ng-deep .mat-mdc-paginator-container > div > div {
        display: none !important;
    }
    ::ng-deep .mat-mdc-paginator-range-actions > div {
        display: none !important;
    }
}
