mat-form-field {
    height: fit-content;
}

.metric-chip-row {
    margin-top: 0px;
    margin-bottom: 0.3em;
    height: 27px;
}

:host [id='metric-field'] {
    ::ng-deep {
        .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined)
            .mat-mdc-form-field-infix {
            padding-bottom: 0px;
        }
    }
}
