<form [formGroup]="federatedConfFormGroup" class="federated-conf-form">
    <h4>{{ 'MODULES.MODULE-TRAIN.FEDERATED-CONF-FORM.TITLE' | translate }}</h4>
    <div
        [ngClass]="{
            'form-flex': mobileQuery.matches,
            'form-grid': !mobileQuery.matches
        }"
    >
        <mat-form-field>
            <mat-label>{{
                'MODULES.MODULE-TRAIN.FEDERATED-CONF-FORM.ROUNDS' | translate
            }}</mat-label>
            <input
                type="number"
                matInput
                placeholder=""
                value=""
                formControlName="roundsInput"
                min="{{ _defaultFormValues?.rounds?.range[0] }}"
                max="{{ _defaultFormValues?.rounds?.range[1] }}"
            />
            <mat-hint *ngIf="_showHelp">{{
                _defaultFormValues?.rounds.description
            }}</mat-hint>
        </mat-form-field>

        <mat-form-field id="metric-field">
            <mat-label>{{
                'MODULES.MODULE-TRAIN.FEDERATED-CONF-FORM.METRIC' | translate
            }}</mat-label>
            <mat-chip-grid #chipGrid aria-label="Metric selection">
                <div *ngFor="let metric of metrics">
                    <mat-chip-row
                        class="metric-chip-row"
                        (removed)="remove(metric)"
                    >
                        {{ metric }}
                        <button
                            matChipRemove
                            [attr.aria-label]="'remove ' + metric"
                        >
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                </div>

                <input
                    placeholder="New Metric..."
                    formControlName="metricInput"
                    #input
                    [formControl]="metricCtrl"
                    [matChipInputFor]="chipGrid"
                    [matAutocomplete]="auto"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)"
                />
            </mat-chip-grid>
            <mat-hint *ngIf="_showHelp">{{
                _defaultFormValues?.metric.description
            }}</mat-hint>
            <mat-autocomplete
                #auto="matAutocomplete"
                (optionSelected)="selected($event)"
            >
                <div *ngFor="let metric of defaultMetrics">
                    <mat-option [value]="metric">{{ metric }}</mat-option>
                </div>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{
                'MODULES.MODULE-TRAIN.FEDERATED-CONF-FORM.MIN-CLIENTS'
                    | translate
            }}</mat-label>
            <input
                type="number"
                matInput
                placeholder=""
                value=""
                formControlName="minClientsInput"
                min="{{ _defaultFormValues?.min_clients?.range[0] }}"
                max="{{ _defaultFormValues?.min_clients?.range[1] }}"
            />
            <mat-hint *ngIf="_showHelp">{{
                _defaultFormValues?.min_clients.description
            }}</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{
                'MODULES.MODULE-TRAIN.FEDERATED-CONF-FORM.AGG-STRATEGY'
                    | translate
            }}</mat-label>
            <mat-select
                formControlName="strategyOptionsSelect"
                (selectionChange)="checkStrategy()"
            >
                <mat-option
                    *ngFor="let strategyOption of strategyOptions"
                    [value]="strategyOption.value"
                >
                    {{ strategyOption.viewValue }}
                </mat-option>
            </mat-select>
            <mat-hint *ngIf="_showHelp" class="html-tags-div">
                <div
                    [innerHTML]="_defaultFormValues?.strategy.description"
                ></div
            ></mat-hint>
            <mat-hint
                *ngIf="!_showHelp && showStrategiesInfo"
                class="html-tags-div"
                >{{
                    'MODULES.MODULE-TRAIN.FEDERATED-CONF-FORM.NOTE-AGG-STRAT'
                        | translate
                }}</mat-hint
            >
        </mat-form-field>

        <mat-form-field
            *ngIf="
                this.federatedConfFormGroup.get('strategyOptionsSelect')
                    ?.value === 'Federated Optimization'
            "
        >
            <mat-label>{{
                'MODULES.MODULE-TRAIN.FEDERATED-CONF-FORM.MU' | translate
            }}</mat-label>
            <input
                type="number"
                matInput
                placeholder=""
                value=""
                formControlName="muInput"
            />
            <mat-hint *ngIf="_showHelp">{{
                _defaultFormValues?.mu.description
            }}</mat-hint>
        </mat-form-field>

        <ng-container
            *ngIf="
                this.federatedConfFormGroup.get('strategyOptionsSelect')
                    ?.value === 'Federated Averaging with Momentum'
            "
        >
            <mat-form-field>
                <mat-label>{{
                    'MODULES.MODULE-TRAIN.FEDERATED-CONF-FORM.FL' | translate
                }}</mat-label>
                <input
                    type="number"
                    matInput
                    placeholder=""
                    value=""
                    formControlName="flInput"
                />
                <mat-hint *ngIf="_showHelp">{{
                    _defaultFormValues?.fl.description
                }}</mat-hint>
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{
                    'MODULES.MODULE-TRAIN.FEDERATED-CONF-FORM.MOMENTUM'
                        | translate
                }}</mat-label>
                <input
                    type="number"
                    matInput
                    placeholder=""
                    value=""
                    formControlName="momentumInput"
                />
                <mat-hint *ngIf="_showHelp">{{
                    _defaultFormValues?.momentum.description
                }}</mat-hint>
            </mat-form-field>
        </ng-container>
    </div>
</form>
