mat-form-field {
    height: fit-content;
}

.metric-chip-row {
    margin-top: 0px;
    margin-bottom: 0.3em;
    height: 27px;
}

:host [id='metric-field'] {
    ::ng-deep {
        .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined)
            .mat-mdc-form-field-infix {
            padding-bottom: 0px;
        }
    }
}

.html-tags-div {
    display: flex;
}

::ng-deep {
    mat-form-field .mat-mdc-form-field-subscript-wrapper {
        padding-bottom: 15px;
    }
}

.title-and-toggles {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
}
