.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: var(--space-xl);
    gap: var(--space-lg);

    app-ui-button {
        align-self: end;
    }
}

.fit-image-zenodo {
    width: 60%;
}
.fit-image-doi {
    width: 30%;
}
.fit-image-url {
    width: 50%;
}

.table-container {
    overflow: auto;
}

.actions-container {
    display: flex;
    padding: 0px 5px;
}

.action-button-in-cell {
    padding: 0px;
}

.action-button-in-cell:disabled #accessIcon {
    color: var(--dark-gray) !important;
}

.action-button-in-cell:hover #accessIcon {
    color: var(--dark-gray);
}

::ng-deep .ui-dialog-panel .mat-mdc-dialog-container .mdc-dialog__surface {
    max-width: none;
}
