<main>
    <h2 mat-dialog-title>Please enter your OSCAR token</h2>
    <div mat-dialog-content>
        <mat-form-field class="form-field-full-width">
            <mat-label>Token</mat-label>
            <input matInput [(ngModel)]="data.token" />
        </mat-form-field>
        <div class="dialog-button-container">
            <button
                mat-raised-button
                color="white-two"
                class="mb-2 train-button mr-2"
                (click)="onNoClick()"
            >
                No Thanks
            </button>
            <button
                mat-raised-button
                class="mb-2 train-button"
                color="accent"
                [mat-dialog-close]="data.token"
                cdkFocusInitial
            >
                Ok
            </button>
        </div>
    </div>
</main>
