<mat-toolbar>
    <h4>
        {{ 'MODULES.MODULE-TRY.TITLE' | translate }}:
        <strong>{{ deploymentTitle }}</strong>
    </h4>
</mat-toolbar>

<form class="example-form" [formGroup]="showHelpForm" ngNativeValidate>
    <div class="breadcrumbs-and-help-container">
        <xng-breadcrumb class="mb-3"></xng-breadcrumb>
        <mat-slide-toggle
            color="accent"
            formControlName="showHelpToggleButton"
            #showHelpToggle
        >
            Show help
        </mat-slide-toggle>
    </div>
</form>

<div class="container">
    <div *ngIf="!showPrediction">
        <h4>
            {{ 'MODULES.MODULE-TRY.TRYME-FORM.CLUSTER-OPTIONS' | translate }}
        </h4>
        <div class="form-grid">
            <mat-form-field>
                <mat-label>{{
                    'MODULES.MODULE-TRY.TRYME-FORM.OSCAR-ENDPOINT' | translate
                }}</mat-label>
                <input
                    matInput
                    placeholder="https://my-oscar-cluster"
                    [(ngModel)]="oscar_endpoint"
                    (blur)="onBlur()"
                    (focus)="disableInputFieds()"
                />
                <mat-hint
                    *ngIf="showHelpForm.get('showHelpToggleButton')?.value"
                >
                    Enter the URL assigned to your OSCAR cluster. More info
                    <a href="https://docs.oscar.grycap.net/deploy-im-dashboard/"
                        >https://docs.oscar.grycap.net/deploy-im-dashboard</a
                    >
                </mat-hint>
            </mat-form-field>
        </div>
    </div>

    <form
        [ngClass]="
            showHelpForm.get('showHelpToggleButton')?.value
                ? 'child-form-container-show-help'
                : 'child-form-container-no-help'
        "
        [formGroup]="trymeFormGroup"
        *ngIf="!showPrediction"
    >
        <mat-divider class="mt-3 mb-3"></mat-divider>
        <h4>
            {{ 'MODULES.MODULE-TRY.TRYME-FORM.LAUNCH-OPTIONS' | translate }}
        </h4>
        <div class="form-grid">
            <mat-form-field appearance="fill">
                <mat-label>{{
                    'MODULES.MODULE-TRY.TRYME-FORM.SERVICE-NAME' | translate
                }}</mat-label>
                <mat-select formControlName="serviceNameInput">
                    <mat-option
                        *ngFor="let service of servicesNames"
                        [value]="service"
                    >
                        {{ service }}
                    </mat-option>
                </mat-select>
                <mat-hint
                    *ngIf="showHelpForm.get('showHelpToggleButton')?.value"
                >
                    Available deployed services for this model are shown.
                </mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>{{
                    'MODULES.MODULE-TRAIN.GENERAL-CONF-FORM.DOCKER-IMAGE'
                        | translate
                }}</mat-label>
                <input
                    matInput
                    placeholder=""
                    formControlName="dockerImageInput"
                />
                <mat-hint
                    *ngIf="showHelpForm.get('showHelpToggleButton')?.value"
                >
                    Docker image with which you have created the service for
                    testing. It is the image of the inference model.
                </mat-hint>
            </mat-form-field>
        </div>

        <h4>{{ 'MODULES.MODULE-TRY.TRYME-FORM.INPUT-OPTIONS' | translate }}</h4>
        <mat-divider class="mt-3 mb-3"></mat-divider>
        <div class="form-grid">
            <mat-form-field class="form-field-full-width">
                <mat-label>{{
                    'MODULES.MODULE-TRY.TRYME-FORM.INPUT-FILE-LABEL' | translate
                }}</mat-label>
                <input
                    matInput
                    [value]="fileName"
                    class="upload-file-icon"
                    (click)="inputFile.click()"
                    readonly
                />
                <mat-icon
                    matIconSuffix
                    (click)="inputFile.click()"
                    class="upload-file-icon"
                >
                    attach_file_add</mat-icon
                >
                <input
                    type="file"
                    class="input-file"
                    #inputFile
                    (change)="selectFile($event)"
                    formControlName="inputFile"
                    hidden
                />
                <mat-hint
                    *ngIf="showHelpForm.get('showHelpToggleButton')?.value"
                >
                    Load a file to test the execution of the chosen inference
                    service. The execution of the service will depend on the
                    data in the input file selected in this field.
                </mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{
                    'MODULES.MODULE-TRY.TRYME-FORM.INPUT-TEXT-LABEL' | translate
                }}</mat-label>
                <textarea
                    type="text"
                    matInput
                    placeholder=""
                    formControlName="inputText"
                ></textarea>
                <mat-hint
                    *ngIf="showHelpForm.get('showHelpToggleButton')?.value"
                >
                    Input for the model can also be plain text. In this field
                    you can write what is necessary for the execution of the
                    service.
                </mat-hint>
            </mat-form-field>
        </div>

        <div class="next-back-buttons">
            <a
                class="mb-3 interact-button"
                mat-raised-button
                color="accent"
                (click)="launchModel()"
                [disabled]="!trymeFormGroup.valid || oscar_endpoint === ''"
            >
                {{ 'MODULES.MODULE-TRY.TRYME-FORM.LAUNCH-BUTTON' | translate }}
            </a>
        </div>
    </form>
    <div class="spinner-overlay" *ngIf="showProgress">
        <mat-progress-spinner
            color="primary"
            mode="indeterminate"
        ></mat-progress-spinner>
    </div>
</div>

<div class="prediction-container" *ngIf="showPrediction">
    <div *ngIf="showTable; then resultTable; else otherResult"></div>
    <ng-template #resultTable>
        <div class="result-container">
            <div class="prediction-item">
                <ng-template
                    ngFor
                    let-i="index"
                    let-prediction
                    [ngForOf]="predictionData"
                >
                    <div
                        *ngIf="i < 3"
                        [ngClass]="{ 'custom-text-shadow': i === 0 }"
                        class="item-result"
                    >
                        <div class="percentage">
                            {{ prediction.probability | percent: '2.1-2' }}
                        </div>
                        <div class="plant-name">{{ prediction.label }}</div>
                    </div>
                </ng-template>
            </div>
        </div>

        <mat-card class="prediction-card">
            <div
                class="prediction-title aligned-with-icon scale-icon-down ml-3 mt-1 mb-1"
            >
                <p>Inference results</p>
                <mat-icon>rotate_left</mat-icon>
            </div>
            <mat-card-content>
                <div class="table-container">
                    <table mat-table [dataSource]="predictionData">
                        <!-- Columna de Nombres -->
                        <ng-container matColumnDef="label">
                            <mat-header-cell *matHeaderCellDef
                                >Label</mat-header-cell
                            >
                            <mat-cell
                                *matCellDef="let element"
                                class="content-cell"
                            >
                                {{ element.label }}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="probability">
                            <mat-header-cell *matHeaderCellDef
                                >Probability</mat-header-cell
                            >
                            <mat-cell
                                *matCellDef="let element"
                                class="content-cell"
                            >
                                {{ element.probability | percent: '2.1-3' }}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="label_info">
                            <mat-header-cell *matHeaderCellDef
                                >Labels info</mat-header-cell
                            >
                            <mat-cell
                                *matCellDef="let element"
                                class="content-cell"
                            >
                                {{ element.label_info }}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="images">
                            <mat-header-cell *matHeaderCellDef
                                >Images</mat-header-cell
                            >
                            <mat-cell
                                *matCellDef="let element"
                                class="content-cell"
                            >
                                <a href="{{ element.images }}">
                                    {{ element.images }}
                                </a>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="info">
                            <mat-header-cell *matHeaderCellDef
                                >More Info</mat-header-cell
                            >
                            <mat-cell *matCellDef="let element">
                                <a href="{{ element.info }}">
                                    {{ element.info }}
                                </a>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns">
                        </mat-header-row>
                        <mat-row
                            *matRowDef="let row; columns: displayedColumns"
                        ></mat-row>
                    </table>
                </div>
            </mat-card-content>

            <!--mat-card-actions> </mat-card-actions-->
        </mat-card>
    </ng-template>

    <ng-template #otherResult>
        <div *ngIf="imageUrl !== ''" style="display: flex; align-self: center">
            <mat-card class="prediction-card">
                <div
                    class="prediction-title aligned-with-icon scale-icon-down ml-3 mt-1 mb-1"
                >
                    <p>Inference results</p>
                    <mat-icon>rotate_left</mat-icon>
                </div>
                <img mat-card-image [src]="imageUrl" alt="Result Image" />
                <mat-card-content> </mat-card-content>
                <!--mat-card-actions> </mat-card-actions-->
            </mat-card>
        </div>
        <div *ngIf="videoUrl !== ''" style="display: flex; align-self: center">
            <mat-card class="prediction-card">
                <div
                    class="prediction-title aligned-with-icon scale-icon-down ml-3 mt-1 mb-1"
                >
                    <p>Inference results</p>
                    <mat-icon>rotate_left</mat-icon>
                </div>
                <video
                    [src]="videoUrl"
                    width="640"
                    height="360"
                    type="video/mp4"
                    controls
                >
                    Tu navegador no soporta el elemento de vídeo.
                </video>
                <mat-card-content> </mat-card-content>
                <!--mat-card-actions> </mat-card-actions-->
            </mat-card>
        </div>
        <div *ngIf="audioUrl !== ''" style="display: flex; align-self: center">
            <mat-card class="prediction-card">
                <div
                    class="prediction-title aligned-with-icon scale-icon-down ml-3 mt-1 mb-1"
                >
                    <p>Inference results</p>
                    <mat-icon>rotate_left</mat-icon>
                </div>
                <audio [src]="audioUrl" controls>
                    Tu navegador no soporta el elemento de vídeo.
                </audio>
                <mat-card-content> </mat-card-content>
                <!--mat-card-actions> </mat-card-actions-->
            </mat-card>
        </div>
        <div *ngIf="fileContent !== ''">
            <mat-card class="prediction-card">
                <div
                    class="prediction-title aligned-with-icon scale-icon-down ml-3 mt-1 mb-1"
                >
                    <p>Inference results</p>
                    <mat-icon>rotate_left</mat-icon>
                </div>
                <button
                    style="margin: auto"
                    mat-raised-button
                    color="accent"
                    (click)="downloadZip()"
                    aria-label="Download content"
                >
                    Download result
                    <mat-icon>file_download</mat-icon>
                </button>
                <mat-card-content> </mat-card-content>
                <!--mat-card-actions> </mat-card-actions-->
            </mat-card>
        </div>
    </ng-template>
</div>
