.form-field-full-width {
    width: 100%;
}

.next-back-buttons {
    display: flex;
    justify-content: flex-end;
}

.arrow-back-button {
    position: relative;
    left: -12px;
}

.breadcrumbs-and-help-container {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
}

::ng-deep .child-form-container-no-help {
    min-height: 450px;
}

::ng-deep .child-form-container-show-help {
    min-height: 575px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.upload-file-icon {
    cursor: pointer;
}

.input-file {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    height: 100%;
    left: 0px;
    top: 0px;
}

.interact-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.interact-button:not(:last-child) {
    margin-right: 10px;
}

.prediction-container {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    margin-top: 5px;
}

.prediction-title {
    align-self: flex-start;
    padding: 2px 2px 2px 2px;
    font-size: 1.1em;
    color: black;
    font-weight: 500;
}

.prediction-item {
    min-width: 45px;
    display: flex;
    flex-direction: row;
}

.mat-mdc-header-row {
    background: var(--light-gray);

    .mat-mdc-header-cell {
        border: 1px solid var(--border-gray);
        color: var(--primary);
        font-weight: bold;
    }
}

.mat-mdc-table .mat-mdc-row:hover {
    background-color: var(--accent);
    & .mat-mdc-cell {
        color: var(--white);
    }
    & .mat-mdc-cell a {
        color: var(--white);
    }
}

.mat-column-label {
    max-width: 200px;
}

.mat-column-probability {
    max-width: 120px;
}

.mat-column-label_info {
    max-width: 200px;
}

.mat-column-images {
    max-width: 400px;
}

.mat-column-images a {
    inline-size: -webkit-fill-available;
}

.mat-column-info {
    max-width: 450px;
}

.mat-column-info a {
    inline-size: -webkit-fill-available;
}

.results-table {
    overflow-x: auto;
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    margin: 10px 0;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.results-table tr {
    text-align: center;
    border-radius: 5px;
    border-color: var(--accent);
    border-width: 1px;
}

.results-table th {
    background-color: var(--accent);
    font-weight: 700;
    padding: 12px 15px;
    font-size: 0.9em;
    color: #ffffff;
    text-transform: uppercase;
}

.item-result {
    font-size: 18px;
    color: #333;
    text-align: center;
    border: 2px solid var(--accent);
    border-radius: 8px;
    padding: 10px;
    margin: 20px auto;
    max-width: 300px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.percentage {
    font-size: 24px;
    font-weight: bolder;
    color: var(--accent);
    margin-bottom: 10px;
}

.custom-text-shadow {
    text-shadow: 0px 0px 8px rgba(9, 131, 29, 0.5);
}

.plant-name {
    font-size: 20px;
    color: #555;
    text-transform: capitalize;
}

.dialog-button-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.results-container {
    display: flex;
    flex-direction: column;
}
