<div class="content">
    <app-ui-banner variant="primary" decoration="deployments">
        <h1>
            {{ 'BATCH.HEADER' | translate }}
        </h1>
    </app-ui-banner>

    <app-deployments-table
        deploymentType="batch"
        [showCardActions]="false"
        [isLoading]="isLoading"
        [dataset]="dataset"
        [columns]="columns"
        (showElementInfo)="openDeploymentDetailDialog($event)"
        (deleteElement)="removeBatchDeployment($event)"
    ></app-deployments-table>
</div>
