<form [formGroup]="computeConfigFormGroup" class="general-conf-form">
    <h4>{{ 'MODULES.OSCAR-DEPLOY.COMPUTE-CONF-FORM.TITLE' | translate }}</h4>
    <div class="form-grid">
        <mat-form-field class="form-field-full-width">
            <mat-label>{{
                'MODULES.OSCAR-DEPLOY.COMPUTE-CONF-FORM.CPU-NUMBER' | translate
            }}</mat-label>
            <input
                matInput
                type="number"
                min="0.1"
                step="0.1"
                max="99.9"
                placeholder="e.g 2.0"
                formControlName="cpuInput"
            />
            <mat-hint *ngIf="_showHelp">
                The CPU capacity provided for the execution of the service.
            </mat-hint>
            <mat-error
                *ngIf="
                    computeConfigFormGroup.get('cpuInput')?.errors?.['required']
                "
            >
                {{
                    'MODULES.OSCAR-DEPLOY.COMPUTE-CONF-FORM.CPU-NUMBER-REQUIRED'
                        | translate
                }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field-full-width">
            <mat-label>{{
                'MODULES.OSCAR-DEPLOY.COMPUTE-CONF-FORM.CPU-MAX-NUMBER'
                    | translate
            }}</mat-label>
            <input
                matInput
                type="number"
                min="0.1"
                step="0.1"
                max="99.9"
                placeholder="e.g 2.0"
                formControlName="cpuTotalInput"
            />
            <mat-hint *ngIf="_showHelp">
                The maximum CPU capacity used by the service in a execution.
            </mat-hint>
            <mat-error
                *ngIf="
                    computeConfigFormGroup.get('cpuTotalInput')?.errors?.[
                        'required'
                    ]
                "
            >
                {{
                    'MODULES.OSCAR-DEPLOY.COMPUTE-CONF-FORM.CPU-MAX-NUMBER-REQUIRED'
                        | translate
                }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field-full-width">
            <mat-label>
                {{
                    'MODULES.OSCAR-DEPLOY.COMPUTE-CONF-FORM.MEMORY-SIZE'
                        | translate
                }}
                (inMB)
            </mat-label>
            <input
                matInput
                placeholder="e.g 4000"
                formControlName="memoryInput"
                maxlength="6"
            />
            <mat-hint *ngIf="_showHelp">
                The RAM capacity provided for the execution of the service.
            </mat-hint>
            <mat-error
                *ngIf="
                    computeConfigFormGroup.get('memoryInput')?.errors?.[
                        'required'
                    ]
                "
            >
                {{
                    'MODULES.OSCAR-DEPLOY.COMPUTE-CONF-FORM.MEMORY-SIZE-REQUIRED'
                        | translate
                }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field-full-width">
            <mat-label>
                {{
                    'MODULES.OSCAR-DEPLOY.COMPUTE-CONF-FORM.MEMORY-MAX-SIZE'
                        | translate
                }}(in MB)
            </mat-label>
            <input
                matInput
                placeholder="e.g 4000"
                formControlName="memoryTotalInput"
                maxlength="6"
            />
            <mat-hint *ngIf="_showHelp">
                The maximum RAM capacity used by the service in an execution.
            </mat-hint>
            <mat-error
                *ngIf="
                    computeConfigFormGroup.get('memoryTotalInput')?.errors?.[
                        'required'
                    ]
                "
            >
                {{
                    'MODULES.OSCAR-DEPLOY.COMPUTE-CONF-FORM.MEMORY-MAX-SIZE-REQUIRED'
                        | translate
                }}
            </mat-error>
        </mat-form-field>

        <mat-form-field style="display: none" class="form-field-full-width">
            <mat-label for="input-log-lvl">{{
                'MODULES.OSCAR-DEPLOY.COMPUTE-CONF-FORM.LOG-LEVEL' | translate
            }}</mat-label>
            <mat-select id="input-log-lvl" formControlName="logLevel">
                <mat-option value="info">INFO</mat-option>
                <mat-option value="debug">DEBUG</mat-option>
                <mat-option value="warn">WARN</mat-option>
                <mat-option value="error">ERROR</mat-option>
                <mat-option value="critical">CRITICAL</mat-option>
            </mat-select>
            <mat-hint *ngIf="_showHelp">
                Log level used by the service.
            </mat-hint>
            <mat-error
                *ngIf="
                    computeConfigFormGroup.get('memoryTotalInput')?.errors?.[
                        'required'
                    ]
                "
            >
                {{
                    'MODULES.OSCAR-DEPLOY.COMPUTE-CONF-FORM.LOG-LEVEL-REQUIRED'
                        | translate
                }}
            </mat-error>
        </mat-form-field>

        <div class="gpu-slide-toogle">
            <mat-label style="font-weight: 600">
                {{
                    'MODULES.OSCAR-DEPLOY.COMPUTE-CONF-FORM.ENABLE-GPU'
                        | translate
                }}
            </mat-label>
            <mat-slide-toggle
                style="margin-left: 25px"
                color="accent"
                formControlName="enableGpu"
                aria-label="Enables the GPU in the service"
            >
            </mat-slide-toggle>
        </div>
    </div>
</form>
