.ui-chip {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-semibold, 600);
    padding: var(--space-xs);
    border-radius: var(--radius-pill);
    border: 1px solid;
    white-space: nowrap;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: fit-content;
    transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out,
        color 0.2s ease-in-out;

    &__text {
        line-height: 1;
    }

    &__icon {
        font-size: var(--font-size-xs);
        width: var(--font-size-xs);
        height: var(--font-size-xs);
        line-height: var(--font-size-xs);
    }

    &--primary-solid {
        color: var(--color-primary);
        border: transparent;
        background-color: var(--color-primary-light);
    }

    &--primary-outline {
        color: var(--color-primary);
        border-color: var(--color-primary);
        background-color: var(--color-primary-light);
    }

    &--accent-solid {
        color: var(--color-accent);
        border: transparent;
        background-color: var(--color-accent-light);
    }

    &--accent-outline {
        color: var(--color-accent);
        border-color: var(--color-accent);
        background-color: var(--color-accent-light);
    }

    &--default-solid {
        color: var(--color-default);
        border: transparent;
        background-color: var(--color-default-light);
    }

    &--default-outline {
        color: var(--color-default);
        border-color: var(--color-default);
        background-color: var(--color-default-light);
    }

    &--disabled {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
    }
}
